<%- include('../layouts/adminLayouts/adminDashboardHeader.ejs') %>
<%- include('../layouts/adminLayouts/adminSidebarAndNavbar.ejs') %>



<!-- Coupon list area starts -->
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center">COUPON LIST</h3>
                <div style="text-align: right;">
                    <button type="button" class="btn btn-success add-coupon" data-toggle="modal" data-target="#addCouponModal">Add Coupon</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center"> No </th>
                                <th>Image</th>
                                <th> Coupon Name </th>
                                <th> Coupon Code </th>
                                <th class="text-center"> Start Date </th>
                                <th class="text-center"> Expiry Date </th>
                                <th> Crieteria Amount </th>
                                <th> Coupon Value </th>
                                <th> Count </th>
                                <th> Used </th>
                                <th class="text-center"> Status </th>
                                <th class="text-center"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <% if (couponData.length > 0){
                                for(let i=0; i< couponData.length; i++){ %>
                                    <tr>
                                        <td class="text-center"> <%= (currentPage-1) * limit + i+1 %> </td>

                                        <% if (couponData[i].image){ %>
                                            <td> <img src="/assets/images/couponImages/<%= couponData[i].image %>" alt="<%= couponData[i].name %>" style="width: 150px; height: auto; border-radius: 0%;"> </td>
                                        <% } else { %>
                                            <td>(NO IMAGE)</td>
                                        <% } %>

                                        <td> <%= couponData[i].name %> </td>

                                        <td> <%= couponData[i].code %> </td>

                                        <td class="text-center"> <%= formatDate(couponData[i].activationDate) %> </td>

                                        <td class="text-center"> <%= formatDate(couponData[i].expiryDate) %> </td>

                                        <td style="text-align: right;"> ₹ <%= couponData[i].criteriaAmount.toFixed(2) %> </td>
                                        
                                        <td style="text-align: right;"> ₹ <%= couponData[i].couponValue.toFixed(2) %> </td>

                                        <td class="text-center"> <%= couponData[i].couponCount %> </td>

                                        <% if ( couponData[i].couponCount === couponData[i].usedCount ){ %>
                                            <td class="text-center text-danger"> <%= couponData[i].usedCount %> </td>
                                        <% } else { %>
                                            <td class="text-center"> <%= couponData[i].usedCount %> </td>
                                        <% } %>

                                        <td class="text-center">
                                            <% if (couponData[i].activationDate > Date.now() ) { %>
                                                <div class="badge badge-outline-primary">Upcoming</div>

                                            <% } else if (couponData[i].expiryDate < Date.now()) { %>
                                                <div class="badge badge-outline-danger">Expired</div>

                                            <% } else if (couponData[i].couponCount === couponData[i].usedCount){ %>
                                                <div class="badge badge-outline-warning">Redeemed</div>

                                            <% } else if (couponData[i].isActive === false) { %>
                                                <div class="badge badge-outline-danger">Blocked</div>

                                            <% } else { %>
                                                <div class="badge badge-outline-success">Active</div>
                                            <% } %>
                                        </td>

                                        <td class="text-center">
                                            <% if (couponData[i].isActive == true){ %>
                                                <a href="" class="badge badge-danger" id="blocked-user" style="text-decoration: none; color: black;" onclick="manageCoupon('<%= couponData[i]._id %>')">Block</a>
                                            <% }
                                            else{ %>
                                                <a href="" class="badge badge-secondary text-dark" id="active-user" style="text-decoration: none" onclick="manageCoupon('<%= couponData[i]._id %>')">Unblock</a>
                                            <% } %>
                                            <a href="#" 
                                                class="badge badge-light" 
                                                style="color: black; text-decoration: none;" 
                                                data-toggle="modal" 
                                                data-target="#editCouponModal"
                                                data-id="<%= couponData[i]._id %>" 
                                                data-image="<%= couponData[i].image %>" 
                                                data-name="<%= couponData[i].name %>" 
                                                data-code="<%= couponData[i].code %>" 
                                                data-count="<%= couponData[i].couponCount %>" 
                                                data-used-count="<%= couponData[i].usedCount %>" 
                                                data-coupon-value="<%= couponData[i].couponValue %>" 
                                                data-used-criteria-amount="<%= couponData[i].criteriaAmount %>" 
                                                data-start-date="<%= couponData[i].activationDate %>" 
                                                data-expiry-date="<%= couponData[i].expiryDate %>" 
                                                data-is-active="<%= couponData[i].isActive %>">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                <% }
                            }
                            else{ %>
                                <tr>
                                    <td colspan="11" style="text-align: center"><h4> No Coupons Found </h4></td>
                                </tr>
                            <% } %>

                        </tbody>
                    </table>
                    <!-- Pagination Controls -->
                    <div class="list-pagination mt-4">
                        <nav>
                            <ul class="pagination rounded-flat pagination-success">
                                <!-- Previous Page Link -->
                                <% if (currentPage > 1) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= currentPage-1 %>&search=<%= searchQuery %>">
                                            <i class="mdi mdi-chevron-left"></i>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item disabled">
                                        <a class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                    </li>
                                <% } %>
                    
                                <!-- Dynamic Page Links -->
                                <% for (let j = 1; j <= totalPages; j++) { %>
                                    <% if (j === currentPage) { %>
                                        <li class="page-item active">
                                            <a class="page-link" href="#"> <%= j %> </a>
                                        </li>
                                    <% } else { %>
                                        <li class="page-item">
                                            <a class="page-link" href="?page=<%= j %>&search=<%= searchQuery %>"> <%= j %> </a>
                                        </li>
                                    <% } %>
                                <% } %>
                    
                                <!-- Next Page Link -->
                                <% if (currentPage < totalPages) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= searchQuery %>">
                                            <i class="mdi mdi-chevron-right"></i>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item disabled">
                                        <a class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                    </li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Coupon list area ends -->




<!-- Add New Coupon Modal Starts-->
<div class="modal fade" id="addCouponModal" tabindex="-1" role="dialog" aria-labelledby="addCouponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCouponModalLabel">ADD NEW COUPON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-coupon-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="file" class="form-control" id="coupon-image" name="coupon-image" accept="image/*" style="display: none;">
                                <button type="button" class="btn btn-primary mb-2" style="height: min-content;" onclick="document.getElementById('coupon-image').click()">Insert Image</button>
                                <img id="coupon-image-preview" style="width: 200px; height: auto;"/>
                            </div>
                            <span id="coupon-image-error" style="color: red; display: none;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="couponName">Coupon Name:</label>
                            <input type="text" class="form-control" id="couponName" name="couponName" required>
                            <span id="coupon-name-error" style="color: red; display: none;"></span>
                        </div>
                        <div class="col form-group">
                            <label for="couponCode">Coupon Code:</label>
                            <input type="text" class="form-control" id="couponCode" name="couponCode" required>
                            <span id="coupon-code-error" style="color: red; display: none;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="criteriaAmount">Criteria Amount:</label>
                            <input type="number" class="form-control" id="criteriaAmount" name="criteriaAmount" min="0" required>
                            <span id="criteria-amount-error" style="color: red; display: none;"></span>
                        </div>
                        <div class="col form-group">
                            <label for="couponValue">Coupon Value:</label>
                            <input type="number" class="form-control" id="couponValue" name="couponValue" min="0" required>
                            <span id="coupon-value-error" style="color: red; display: none;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required>
                            <span id="start-date-error" style="color: red; display: none;"></span>
                        </div>
                        <div class="col form-group">
                            <label for="expiryDate">Expiry Date:</label>
                            <input type="date" class="form-control" id="expiryDate" name="expiryDate" required>
                            <span id="expiry-date-error" style="color: red; display: none;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="couponCount">Coupon Count:</label>
                            <input type="number" class="form-control" id="couponCount" name="couponCount" min="0" required>
                            <span id="coupon-count-error" style="color: red; display: none;"></span>
                        </div>
                        <div class="col form-group">
                            <label for="isActive">Status:</label>
                            <select class="form-control" id="isActive" name="isActive" required>
                                <option value="true" class="text-success">Active</option>
                                <option value="false" class="text-danger">Inactive</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveCouponBtn">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Add New Coupon Modal Ends-->






<!-- Edit Coupon Modal Starts-->
<div class="modal fade" id="editCouponModal" tabindex="-1" role="dialog" aria-labelledby="editCouponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCouponModalLabel">EDIT COUPON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-coupon-form" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="file" class="form-control" id="edit-coupon-image" name="coupon-image" accept="image/*" style="display: none;">
                                    <button type="button" class="btn btn-primary mb-2" style="height: min-content;" onclick="document.getElementById('edit-coupon-image').click()">Change Image</button>
                                    <img id="edit-coupon-image-preview" style="width: 200px; height: auto;"/>
                                </div>
                                <span id="edit-coupon-image-error" style="color: red; display: none;"></span>
                            </div>
                        </div>
                        <div class="col form-group">
                            <label for="editCouponName">Coupon Name:</label>
                            <input type="text" class="form-control" id="editCouponName" name="editCouponName" required>
                            <span id="edit-coupon-name-error" style="color: red; display: none;"></span>
                        </div>
                        <div class="col form-group">
                            <label for="editCouponCode">Coupon Code:</label>
                            <input type="text" class="form-control" id="editCouponCode" name="editCouponCode" required>
                            <span id="edit-coupon-code-error" style="color: red; display: none;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="editCriteriaAmount">Criteria Amount:</label>
                            <input type="number" class="form-control" id="editCriteriaAmount" name="editCriteriaAmount" min="0" required>
                            <span id="edit-criteria-amount-error" style="color: red; display: none;"></span>
                        </div>
                        <div class="col form-group">
                            <label for="editCouponValue">Coupon Value:</label>
                            <input type="number" class="form-control" id="editCouponValue" name="editCouponValue" min="0" required>
                            <span id="edit-coupon-value-error" style="color: red; display: none;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="editStartDate">Start Date:</label>
                            <input type="date" class="form-control" id="editStartDate" name="editStartDate" required>
                            <span id="edit-start-date-error" style="color: red; display: none;"></span>
                        </div>
                        <div class="col form-group">
                            <label for="editExpiryDate">Expiry Date:</label>
                            <input type="date" class="form-control" id="editExpiryDate" name="editExpiryDate" required>
                            <span id="edit-expiry-date-error" style="color: red; display: none;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="editCouponCount">Coupon Count:</label>
                            <input type="number" class="form-control" id="editCouponCount" name="editCouponCount" min="0" required>
                            <span id="edit-coupon-count-error" style="color: red; display: none;"></span>
                        </div>
                        <div class="col form-group">
                            <label for="editIsActive">Status:</label>
                            <select class="form-control" id="editIsActive" name="editIsActive" required>
                                <option value="true" class="text-success">Active</option>
                                <option value="false" class="text-danger">Inactive</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateCouponBtn">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Coupon Modal Ends-->



<!-- --------------------------------------------------------------------------------- -->


<!-- for sweet alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- for modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





<%
    <!-- function to format date as dd mm yyyy -->
    function formatDate(date) {
        const d = new Date(date);
        const day = d.getDate().toString().padStart(2, '0');
        const month = (d.getMonth() + 1).toString().padStart(2, '0');
        const year = d.getFullYear();
        return `${day}-${month}-${year}`;
    }

    <!-- function to show the difference between activation date and expiry date in coupon table -->
    function calculateDateDifference(activationDate, expiryDate) {
        // Convert dates to JavaScript Date objects
        const activation = new Date(activationDate);
        const expiry = new Date(expiryDate);

        // Calculate the difference in milliseconds
        const differenceInMillis = expiry - activation;

        // Convert milliseconds to days
        const differenceInDays = Math.floor(differenceInMillis / (1000 * 60 * 60 * 24));

        return differenceInDays;
    }
 %>




<!-- script for add coupon -->
<script>
    // to get current date in YYYY-MM-DD format
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Set default current date to Start Date & Expiry Date input
    $('#startDate').val(getCurrentDate());
    $('#expiryDate').val(getCurrentDate());


    // Show image preview
    document.getElementById('coupon-image').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('coupon-image-preview').src = e.target.result;
                document.getElementById('coupon-image-preview').style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });


    $(document).ready(function() {
        $('#saveCouponBtn').click(function() {
            let couponImage = $('#coupon-image')[0].files[0];
            let couponName = $('#couponName').val().trim();
            let couponCode = $('#couponCode').val().trim();
            let criteriaAmount = parseFloat($('#criteriaAmount').val());
            let couponValue = parseFloat($('#couponValue').val());
            let startDate = $('#startDate').val();
            let expiryDate = $('#expiryDate').val();
            let couponCount = parseInt($('#couponCount').val());
            let isActive = $('#isActive').val();

            console.log('couponImage :', couponImage);
            console.log('couponName :', couponName);
            console.log('couponCode :', couponCode);
            console.log('criteriaAmount :', criteriaAmount);
            console.log('couponValue :', couponValue);
            console.log('startDate :', startDate);
            console.log('expiryDate :', expiryDate);
            console.log('couponCount :', couponCount);
            console.log('isActive :', isActive);

            let isValid = true;

            let couponImageError = $('#coupon-image-error');
            let couponNameError = $('#coupon-name-error');
            let couponCodeError = $('#coupon-code-error');
            let criteriaAmountError = $('#criteria-amount-error');
            let couponValueError = $('#coupon-value-error');
            let startDateError = $('#start-date-error');
            let expiryDateError = $('#expiry-date-error');
            let couponCountError = $('#coupon-count-error');

            // Validate coupon image
            if(!couponImage){
                couponImageError.text('Coupon image is required.').show();
                isValid = false;
            } else {
                couponImageError.hide();
            }

            // Validate coupon name
            const couponNameRegex = /^[A-Za-z0-9\s]+$/;
            if (!couponName || couponName === '') {
                couponNameError.text('Coupon name is required.').show();
                isValid = false;
            } else if (!couponNameRegex.test(couponName)) {
                couponNameError.text('Only letters & numbers allowed for coupon name.').show();
                isValid = false;
            } else {
                couponNameError.hide();
            }


            // Validate criteria amount
            if(!criteriaAmount){
                criteriaAmountError.text('Criteria amount is required.').show();
                isValid = false;
            } else if (isNaN(criteriaAmount) || criteriaAmount <= 0) {
                criteriaAmountError.text('Criteria amount should be a positive number.').show();
                isValid = false;
            } else if (criteriaAmount < 15000) {
                criteriaAmountError.text('Minimum criteria amount is 15000.').show();
                isValid = false;
            } else {
                criteriaAmountError.hide();
            }

            // Validate coupon value
            if (!couponValue){
                couponValueError.text('Coupon value is required.').show();
                isValid = false;
            } else if (isNaN(couponValue) || couponValue <= 0) {
                couponValueError.text('Coupon value should be a positive number.').show();
                isValid = false;
            } else if (criteriaAmount >= 15000 && criteriaAmount < 25000 && couponValue > 300) {
                // max 300 for criteriaAmount 15000 - 25000
                couponValueError.text('Maximum ₹300 for criteria ₹15000 to ₹25000.').show();
                isValid = false;
            } else if (criteriaAmount >= 25000 && criteriaAmount < 50000 && couponValue > 500) {
                // max 500 for criteriaAmount 25000 - 50000
                couponValueError.text('Maximum ₹500 for criteria ₹25000 to ₹50000.').show();
                isValid = false;
            } else if (criteriaAmount >= 50000 && criteriaAmount < 100000 && couponValue > 1000) {
                // max 1000 for criteriaAmount 50000 - 100000
                couponValueError.text('Maximum ₹1000 for criteria ₹50000 to ₹100000.').show();
                isValid = false;
            } else if (criteriaAmount >= 100000 && criteriaAmount < 150000 && couponValue > 1500) {
                // max 1500 for criteriaAmount 100000 - 150000
                couponValueError.text('Maximum ₹1500 for criteria ₹100000 to ₹150000.').show();
                isValid = false;
            } else if (criteriaAmount >= 150000 && criteriaAmount < 200000 && couponValue > 2000) {
                // max 2000 for criteriaAmount 150000 - 200000
                couponValueError.text('Maximum ₹2000 for criteria ₹150000 to ₹200000.').show();
                isValid = false;
            } else if (criteriaAmount >= 200000 && couponValue > criteriaAmount * 1.75 /100) {
                // max 1.25% of criteriaAmount above 175000
                couponValueError.text('Maximum 1.5% of criteria amount ₹200000 & above.').show();
                isValid = false;
            } else if (couponValue > criteriaAmount) {
                couponValueError.text('Coupon value must be less than criteria amount.').show();
                isValid = false;
            } else {
                couponValueError.hide();
            }

            // Validate coupon count
            if (!couponCount){
                couponCountError.text('Coupon count is required.').show();
                isValid = false;
            } else if (isNaN(couponCount) || couponCount <= 0) {
                couponCountError.text('Coupon count should be a positive number.').show();
                isValid = false;
            } else {
                couponCountError.hide();
            }

            // Validate dates
            const currentDate = new Date(getCurrentDate());
            const start = new Date(startDate);
            const expiry = new Date(expiryDate);

            if (start < currentDate) {
                startDateError.text('Start date cannot be earlier than today.').show();
                isValid = false;
            } else {
                startDateError.hide();
            }

            if (expiry <= start) {
                expiryDateError.text('Expiry date should be after the start date.').show();
                isValid = false;
            } else {
                expiryDateError.hide();
            }

            if (isValid) {
                let formData = new FormData();
                formData.append('coupon-image', couponImage);
                formData.append('couponName', couponName);
                formData.append('couponCode', couponCode);
                formData.append('criteriaAmount', criteriaAmount);
                formData.append('couponValue', couponValue);
                formData.append('startDate', startDate);
                formData.append('expiryDate', expiryDate);
                formData.append('couponCount', couponCount);
                formData.append('isActive', isActive);

                $.ajax({
                    type: 'POST',
                    url: '/admin/add-coupon',
                    data: formData,
                    processData: false, // Prevent jQuery from automatically transforming the data into a query string
                    contentType: false, // Prevent jQuery from setting contentType header
                    success: function(response) {
                        if (response.created) {
                            Swal.fire({
                                icon: 'success',
                                text: 'New coupon has been created successfully.',
                                timer: 1500,
                                showConfirmButton: false
                            }).then(function() {
                                location.reload();
                            });
                        } else if (response.codeExist) {
                            Swal.fire({
                                icon: 'warning',
                                title: `Coupon code already exists.`,
                                html: `<h5 class= "text-danger"> The coupon code <b>'${response.couponCode}' </b> already exist.</h5>`,
                                showConfirmButton: false
                            });
                        }
                    },
                    error: function(error) {
                        console.error('Error adding coupon:', error);
                        Swal.fire({
                            icon: 'error',
                            text: 'Error while adding new coupon. Please try again.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });
    });
</script>





<!-- script for edit coupon -->
<script>
    // to get current date in YYYY-MM-DD format
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }


    // Show image preview
    function updateImagePreview(imageUrl) {
        const preview = document.getElementById('edit-coupon-image-preview');
        if (imageUrl) {
            preview.src = `/assets/images/couponImages/${imageUrl}`;
            preview.style.display = 'block';
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    }

    document.getElementById('edit-coupon-image').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('edit-coupon-image-preview').src = e.target.result;
                document.getElementById('edit-coupon-image-preview').style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });


    $(document).ready(function() {
        // Load coupon data into the form when the modal opens
        $('#editCouponModal').on('show.bs.modal', function(event) {
            const button = $(event.relatedTarget); // Button that triggered the modal

            // Extract data attributes from the button
            let couponId = button.data('id');
            let couponImage = button.data('image');
            let couponName = button.data('name');
            let couponCode = button.data('code');
            let criteriaAmount = button.data('used-criteria-amount');
            let couponValue = button.data('coupon-value');
            let startDate = button.data('start-date');
            let expiryDate = button.data('expiry-date');
            let couponCount = button.data('count');
            let status = button.data('is-active');


            console.log('loaded couponId :', couponId);
            console.log('loaded couponImage :', couponImage);
            console.log('loaded couponName :', couponName);
            console.log('loaded couponCode :', couponCode);
            console.log('loaded criteriaAmount :', criteriaAmount);
            console.log('loaded couponValue :', couponValue);
            console.log('loaded startDate :', startDate);
            console.log('loaded expiryDate :', expiryDate);
            console.log('loaded couponCount :', couponCount);
            console.log('loaded status :', status);

            // Set values to the form fields
            $('#editCouponName').val(couponName);
            $('#editCouponCode').val(couponCode);
            $('#editCriteriaAmount').val(criteriaAmount);
            $('#editCouponValue').val(couponValue);
            $('#editStartDate').val(startDate).val(new Date(startDate).toISOString().split('T')[0]);
            $('#editExpiryDate').val(expiryDate).val(new Date(expiryDate).toISOString().split('T')[0]);
            $('#editCouponCount').val(couponCount);
            $('#editIsActive').val(status.toString());

            // Show existing image preview
            updateImagePreview(couponImage);


            $('#updateCouponBtn').click(function() {
                couponImage = $('#edit-coupon-image')[0].files[0]; // Get the file object if it's changed
                let couponName = $('#editCouponName').val().trim();
                let couponCode = $('#editCouponCode').val().trim();
                let criteriaAmount = parseFloat($('#editCriteriaAmount').val());
                let couponValue = parseFloat($('#editCouponValue').val());
                let startDate = $('#editStartDate').val();
                let expiryDate = $('#editExpiryDate').val();
                let couponCount = parseInt($('#editCouponCount').val());
                let isActive = $('#editIsActive').val();

                console.log('sending couponImage :', couponImage);
                console.log('sending couponName :', couponName);
                console.log('sending couponCode :', couponCode);
                console.log('sending criteriaAmount :', criteriaAmount);
                console.log('sending couponValue :', couponValue);
                console.log('sending startDate :', startDate);
                console.log('sending expiryDate :', expiryDate);
                console.log('sending couponCount :', couponCount);
                console.log('sending isActive :', isActive);

                let isValid = true;

                let couponImageError = $('#edit-coupon-image-error');
                let couponNameError = $('#edit-coupon-name-error');
                let couponCodeError = $('#edit-coupon-code-error');
                let criteriaAmountError = $('#edit-criteria-amount-error');
                let couponValueError = $('#edit-coupon-value-error');
                let startDateError = $('#edit-start-date-error');
                let expiryDateError = $('#edit-expiry-date-error');
                let couponCountError = $('#edit-coupon-count-error');


                // Validate coupon name
                const couponNameRegex = /^[A-Za-z0-9\s]+$/;
                if (!couponName || couponName === '') {
                    couponNameError.text('Coupon name is required.').show();
                    isValid = false;
                } else if (!couponNameRegex.test(couponName)) {
                    couponNameError.text('Only letters & numbers allowed for coupon name.').show();
                    isValid = false;
                } else {
                    couponNameError.hide();
                }

                // Validate criteria amount
                if(!criteriaAmount){
                    criteriaAmountError.text('Criteria amount is required.').show();
                    isValid = false;
                } else if (isNaN(criteriaAmount) || criteriaAmount <= 0) {
                    criteriaAmountError.text('Criteria amount should be a positive number.').show();
                    isValid = false;
                } else if (criteriaAmount < 15000) {
                    criteriaAmountError.text('Minimum criteria amount is 15000.').show();
                    isValid = false;
                } else {
                    criteriaAmountError.hide();
                }

            
                // Validate coupon value
                if (!couponValue){
                    couponValueError.text('Coupon value is required.').show();
                    isValid = false;
                } else if (isNaN(couponValue) || couponValue <= 0) {
                    couponValueError.text('Coupon value should be a positive number.').show();
                    isValid = false;
                } else if (criteriaAmount >= 15000 && criteriaAmount < 25000 && couponValue > 300) {
                    // max 300 for criteriaAmount 15000 - 25000
                    couponValueError.text('Maximum ₹300 for criteria ₹15000 to ₹25000.').show();
                    isValid = false;
                } else if (criteriaAmount >= 25000 && criteriaAmount < 50000 && couponValue > 500) {
                    // max 500 for criteriaAmount 25000 - 50000
                    couponValueError.text('Maximum ₹500 for criteria ₹25000 to ₹50000.').show();
                    isValid = false;
                } else if (criteriaAmount >= 50000 && criteriaAmount < 100000 && couponValue > 1000) {
                    // max 1000 for criteriaAmount 50000 - 100000
                    couponValueError.text('Maximum ₹1000 for criteria ₹50000 to ₹100000.').show();
                    isValid = false;
                } else if (criteriaAmount >= 100000 && criteriaAmount < 150000 && couponValue > 1500) {
                    // max 1500 for criteriaAmount 100000 - 150000
                    couponValueError.text('Maximum ₹1500 for criteria ₹100000 to ₹150000.').show();
                    isValid = false;
                } else if (criteriaAmount >= 150000 && criteriaAmount < 200000 && couponValue > 2000) {
                    // max 2000 for criteriaAmount 150000 - 200000
                    couponValueError.text('Maximum ₹2000 for criteria ₹150000 to ₹200000.').show();
                    isValid = false;
                } else if (criteriaAmount >= 200000 && couponValue > criteriaAmount * 1.75 /100) {
                    // max 1.25% of criteriaAmount above 175000
                    couponValueError.text('Maximum 1.5% of criteria amount ₹200000 & above.').show();
                    isValid = false;
                } else if (couponValue > criteriaAmount) {
                    couponValueError.text('Coupon value must be less than criteria amount.').show();
                    isValid = false;
                } else {
                    couponValueError.hide();
                }

                // Validate coupon count
                if (!couponCount){
                    couponCountError.text('Coupon count is required.').show();
                    isValid = false;
                } else if (isNaN(couponCount) || couponCount <= 0) {
                    couponCountError.text('Coupon count should be a positive number.').show();
                    isValid = false;
                } else {
                    couponCountError.hide();
                }
                

                // Validate coupon dates
                if (expiryDate <= startDate) {
                    expiryDateError.text('Expiry date should be after the start date.').show();
                    isValid = false;
                } else {
                    expiryDateError.hide();
                }

                

                if (isValid) {
                    let formData = new FormData();
                    formData.append('couponId', couponId);
                    formData.append('couponName', couponName);
                    formData.append('couponCode', couponCode);
                    formData.append('criteriaAmount', criteriaAmount);
                    formData.append('couponValue', couponValue);
                    formData.append('startDate', startDate);
                    formData.append('expiryDate', expiryDate);
                    formData.append('couponCount', couponCount);
                    formData.append('isActive', isActive);

                    if (couponImage) {
                        formData.append('coupon-image', couponImage);
                    }

                    $.ajax({
                        type: 'PUT',
                        url: '/admin/edit-coupon',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            if (response.updated) {
                                Swal.fire({
                                    icon: 'success',
                                    text: 'Coupon has been updated successfully.',
                                    timer: 1500,
                                    showConfirmButton: false
                                }).then(function() {
                                    location.reload();
                                });
                            } else if (response.exist) {
                                Swal.fire({
                                    icon: 'warning',
                                    title: `Coupon code already exists.`,
                                    html: `<h5 class= "text-danger"> The coupon code <b>'${response.couponCode}' </b> already exist.</h5>`,
                                    showConfirmButton: false
                                });
                            }
                        },
                        error: function(error) {
                            console.error('Error updating coupon:', error);
                            Swal.fire({
                                icon: 'error',
                                text: 'Error while updating coupon. Please try again.',
                                confirmButtonText: 'OK'
                            });
                        }
                    });
                }
            });

        });




    });
</script>





<!-- script for manage offer (block & unblock) -->
<script>
    function manageCoupon(couponId) {
        console.log('couponId to manage :', couponId);
        
        $.ajax({
            type: 'PATCH',
            url: '/admin/manage-coupon',
            data: JSON.stringify({ couponId }),
            contentType: 'application/json',
            success: function(response) {
                if (response.done) {
                    location.reload();
                }
            },
            error: function(error) {
                console.error('Error managing coupon:', error);
                Swal.fire({
                    icon: 'error',
                    text: 'Error while managing the coupon. Please try again..',
                    confirmButtonText: 'OK'
                });
            }
        });
    }
</script>



<%- include('../layouts/adminLayouts/adminDashboardFooter.ejs') %>
