<%- include('../layouts/adminLayouts/adminDashboardHeader.ejs') %>
<%- include('../layouts/adminLayouts/adminSidebarAndNavbar.ejs') %>



<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center">ORDER LIST</h3>

                <form action="#" class="order-header">
                    <div class="count-view flex-item text-success">
                        <p>Showing <%= startIndex %> to <%= endIndex %> of <%= count %></p>
                    </div>
                    <div class="order-search flex-item">
                        <input type="text" class="form-control" name="search" placeholder="Search Order">
                        <input type="submit" class="text-white bg-success" value="Search">
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th> No </th>
                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-status=<%= statusQuery %>&filter-method=<%= methodQuery %>'">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>>Order ID</option>
                                        <option value="orderNo-asc" <%= sortQuery === 'orderNo-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="orderNo-desc" <%= sortQuery === 'orderNo-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>
                                <th> Order Date </th>
                                <th> Customer </th>
                                <th> Total Amount </th>
                                <th> No of Items </th>
                                <th>
                                    <select name="filter-method" onchange="location.href='?filter-method=' + this.value + '&sort=<%= sortQuery %>&filter-status=<%= statusQuery %>'">
                                        <option value="all" <%= methodQuery === 'all' ? 'selected' : '' %>>Payment Method</option>
                                        <option value="Card Payment" <%= methodQuery === 'Card Payment' ? 'selected' : '' %>>Card Payment</option>
                                        <option value="RazorPay" <%= methodQuery === 'RazorPay' ? 'selected' : '' %>>RazorPay</option>
                                        <option value="PayPal" <%= methodQuery === 'PayPal' ? 'selected' : '' %>>PayPal</option>
                                        <option value="Online Payment" <%= methodQuery === 'Online Payment' ? 'selected' : '' %>>Online Payment</option>
                                        <option value="Cash On Delivery" <%= methodQuery === 'Cash On Delivery' ? 'selected' : '' %>>Cash On Delivery</option>
                                        <option value="Wallet" <%= methodQuery === 'Wallet' ? 'selected' : '' %>>Wallet</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="filter-status" onchange="location.href='?filter-status=' + this.value + '&sort=<%= sortQuery %>&filter-method=<%= methodQuery %>'">
                                        <option value="all" <%= statusQuery === 'all' ? 'selected' : '' %>>Payment Status</option>
                                        <option value="Pending" <%= statusQuery === 'Pending' ? 'selected' : '' %>>Pending</option>
                                        <option value="Processing" <%= statusQuery === 'Processing' ? 'selected' : '' %>>Processing</option>
                                        <option value="Completed" <%= statusQuery === 'Completed' ? 'selected' : '' %>>Completed</option>
                                        <option value="Failed" <%= statusQuery === 'Failed' ? 'selected' : '' %>>Failed</option>
                                        <option value="Refunded" <%= statusQuery === 'Refunded' ? 'selected' : '' %>>Refunded</option>
                                    </select>
                                </th>
                                <th> Actions </th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if (orderData.length > 0){
                                for(let i=0; i < orderData.length; i++){ %>
                                    <tr>
                                        <td> <%= (currentPage - 1) * limit + i + 1 %></td>
                                        <td> <%= orderData[i].orderNo %> </td>
                                        <td><% 
                                            const orderDate = new Date(orderData[i].orderDate);
                                            const options = { day: '2-digit', month: 'long', year: 'numeric' };
                                            const formattedDate = orderDate.toLocaleDateString('en-GB', options);
                                            %>
                                            <%= formattedDate %>
                                        </td>
                                        <td> <%= orderData[i].userRef.email %> </td>
                                        <td class="text-end"> <%= (orderData[i].netAmount).toFixed(2) %> </td>
                                        <td class="text-center"> <%= orderData[i].orderedItems.length %> </td>
                                        <td> <%= orderData[i].paymentMethod %> </td>
                                        <td class="text-center
                                            <% if (orderData[i].paymentStatus === 'Pending'){ %> text-warning
                                            <% } else if (orderData[i].paymentStatus === 'Processing'){ %> text-info
                                            <% } else if (orderData[i].paymentStatus === 'Completed'){ %> text-success
                                            <% } else if (orderData[i].paymentStatus === 'Failed'){ %> text-danger
                                            <% } else if (orderData[i].paymentStatus === 'Refunded'){ %> text-secondary
                                            <% } %>">
                                            <%= orderData[i].paymentStatus %>
                                        </td>
                                        <td><a href="/admin/order-items?id=<%= orderData[i]._id %>" class="badge badge-danger" id="view-order-items" style="text-decoration: none">View Orders</a></td>
                                    </tr>
                                <% }
                            }
                            else{ %>
                                <tr>
                                    <td colspan="9" class="text-danger" style="text-align: center"> No Orders Found </td>
                                </tr>
                            <% } %>
                        </tbody>

                    </table>

                    <br>

                    <div class="list-pagination text-center">

                        <% for(let j=1; j <= totalPages; j++){ %>
                            <% if (j === currentPage) { %>
                                <span class="active"><%= j %></span>
                            <% } else { %>
                                <a href="?page=<%= j %>&search=<%= searchQuery %>"><%= j %></a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------ -->





<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- for modals -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





<%- include('../layouts/adminLayouts/adminDashboardFooter.ejs') %>




<style>
    .order-header {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .count-view p {
        font-size: medium;
    }
    
    .order-sort {
        height: 43px;
    }

    .flex-item {
        flex: 1;
        padding: 0 10px;
    }

    .order-search {
        display: flex;
        align-items: center;
    }

    .order-search .form-control {
        width: 100%;
        margin-right: 5px;
    }

    .order-search input[type="submit"] {
        height: 43px;
        flex-shrink: 0;
    }

    /* select[name="filter"] {
        height: 43px;
        width: 100%;
    } */

    /* select[name="sort"] {
        height: 43px;
        width: 100%;
    } */
</style>