<%- include('../layouts/adminLayouts/adminDashboardHeader.ejs') %>
<%- include('../layouts/adminLayouts/adminSidebarAndNavbar.ejs') %>



<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center">ORDER DETAIL</h3>
                <table class="mb-4">
                    <tr><th class="text-success">Order ID</th></tr>
                    <tr><td><%= orderData._id %></td></tr>

                    <tr><th class="text-success">Order No</th></tr>
                    <tr><td><%= orderData.orderNo %></td></tr>
                </table>
                <div class="order-info">
                    <div class="customer-info">
                        <table>
                            <tr>
                                <th class="text-success">Customer</th>
                            </tr>
                            <tr>
                                <% if(orderData.userRef.photo){ %>
                                    <td><img src="assets/images/userImages/<%= orderData.userRef.photo %>" alt="profile-pic" class="profile-pic"></td>
                                <% } else if(orderData.userRef.googleAccount.googlePhoto){ %>
                                    <td><img src="<%= orderData.userRef.googleAccount.googlePhoto %>" alt="profile-pic" class="profile-pic"></td>
                                <% } else { %>
                                    <td><img src="assets/images/icons/dummy-profile-pic1.png %>" alt="profile-pic" class="profile-pic"></td>
                                <% } %>
                                <td>
                                    <li><%= orderData.userRef.firstname %> <%= orderData.userRef.lastname %></li>
                                    <li><%= orderData.userRef.email %></li>
                                    <li><%= orderData.userRef.mobile %></li>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="payment-info">
                        <table>
                            <tr>
                                <th class="text-success">Order Information</th>
                            </tr>
                            <tr>
                                <td> Billing Rate :</td>
                                <td></td>
                                <td><%= orderData.billingRate %></td>
                            </tr>
                            <tr>
                                <td>Total Amount :</td>
                                <td></td>
                                <td><%= (orderData.netAmount).toFixed(2) %></td>
                            </tr>
                            <tr>
                                <td>No of Items :</td>
                                <td></td>
                                <td><%= orderData.orderedItems.length %></td>
                            </tr>
                            <tr>
                                <td>Payment Mode :</td>
                                <td></td>
                                <td><%= orderData.paymentMethod %></td>
                            </tr>
                        </table>
                    </div>
                    <div class="shipping-info">
                        <table>
                            <tr>
                                <th class="text-success">Shipping Information</th>
                            </tr>
                            <tr>
                                <td>
                                    <li><%= orderData.shippingAddress.firstname %> <%= orderData.shippingAddress.lastname %></li>
                                    <li><%= orderData.shippingAddress.street %></li>
                                    <li><%= orderData.shippingAddress.city %></li>
                                    <li><%= orderData.shippingAddress.state %>-<%= orderData.shippingAddress.pincode %></li>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th class="text-success"> No </th>
                                <th class="text-success"> Image </th>
                                <th class="text-success"> Product Code </th>
                                <th class="text-success"> Product Name </th>
                                <th class="text-success"> Unit Price </th>
                                <th class="text-success"> Qty </th>
                                <th class="text-success"> Total Price </th>
                                <th class="text-success"> Payment Status </th>
                                <th class="text-success"> Product Order Status </th>
                                <th class="text-success" colspan="2"> Actions </th>
                            </tr>
                        </thead>

                        <tbody id="abcd">
                            <% for(i=0; i < orderData.orderedItems.length; i++){ %>
                                <tr>
                                    <td> <%= i + 1 %></td>

                                    <td> <img src="assets/images/productImages/<%= orderData.orderedItems[i].image %>" alt="Product Image"> </td>

                                    <td> <%= orderData.orderedItems[i].code %> </td>

                                    <td> <%= orderData.orderedItems[i].name %> </td>

                                    <td class="text-end"> <%= (orderData.orderedItems[i].totalPrice).toFixed(2) %> </td>
                                    
                                    <td class="text-center"> <%= orderData.orderedItems[i].quantity %> </td>
                                    
                                    <td class="text-end"> <%= (orderData.orderedItems[i].totalPrice * orderData.orderedItems[i].quantity).toFixed(2) %> </td>

                                    <td class="text-center"> <%= orderData.orderedItems[i].paymentStatus %> </td>

                                    <% switch (orderData.orderedItems[i].productStatus) {
                                        case 'Not Applicable': %>
                                        <td class="text-center color-theme text-secondary" id="product-status">Not Applicable</td>
                                        <% break; 
                                        case 'Pending Confirmation': %>
                                        <td class="text-center color-theme text-warning" id="product-status">Pending Confirmation</td>
                                        <% break; 
                                        case 'Placed': %>
                                            <td class="text-center color-theme text-info" id="product-status">Order Placed</td>
                                            <% break; 
                                        case 'Confirmed': %>
                                            <td class="text-center color-theme text-info" id="product-status">Order Confirmed</td>
                                            <% break; 
                                        case 'Shipped': %>
                                            <td class="text-center color-theme text-primary" id="product-status">Item Shipped</td>
                                            <% break; 
                                        case 'Out for Delivery': %>
                                            <td class="text-center color-theme text-info" id="product-status">Out for Delivery</td>
                                            <% break; 
                                        case 'Delivered': %>
                                            <td class="text-center color-theme text-success" id="product-status">Delivered</td>
                                            <% break; 
                                        case 'Return Requested': %>
                                            <td class="text-center color-theme text-warning" id="product-status">Return Requested</td>
                                            <% break;
                                        case 'Return Request Rejected': %>
                                            <td class="text-center color-theme text-danger" id="product-status">Return Request Rejected</td>
                                            <% break;
                                        case 'Return Request Accepted': %>
                                            <td class="text-center color-theme text-primary" id="product-status">Return Request Accepted</td>
                                            <% break;
                                        case 'Returned': %>
                                            <td class="text-center color-theme text-danger" id="product-status">Returned</td>
                                            <% break;
                                        case 'Cancelled': %>
                                            <td class="text-center color-theme text-danger" id="product-status">Cancelled</td>
                                            <% break;
                                        default: %>
                                            <td class="text-center color-theme text-white bg-danger" id="product-status">Unknown</td>
                                    <% } %>


                                    <td class="text-center">
                                        <select style="width: auto;" class="form-select product-status" data-order-id="<%= orderData._id %>" data-item-productref="<%= orderData.orderedItems[i].productRef %>" data-current-status="<%= orderData.orderedItems[i].productStatus %>">
                                            <option value="Not Applicable">Not Applicable</option>
                                            <option value="Pending Confirmation">Pending Confirmation</option>
                                            <option value="Placed">Order Placed</option>
                                            <option value="Confirmed">Order Confirmed</option>
                                            <option value="Shipped">Shipped</option>
                                            <option value="Out for Delivery">Out for Delivery</option>
                                            <option value="Delivered">Delivered</option>
                                            <option value="Return Requested">Return Requested</option>
                                            <option value="Return Request Rejected">Return Request Rejected</option>
                                            <option value="Return Request Accepted">Return Request Accepted</option>
                                            <option value="Returned">Returned</option>
                                            <option value="Cancelled">Cancelled</option> <!-- OPTION NOT NEEDED FOR ADMIN -->                                    
                                        </select>
                                    </td>

                                    <td>
                                        <a href="<%= `/admin/edit-order?id=${orderData.orderedItems[i]._id}` %>" 
                                        data-toggle="modal" 
                                        data-target="#editOrderModal"
                                        data-id="<%= orderData.orderedItems[i]._id %>" 
                                        data-code="<%= orderData.orderedItems[i].code %>" 
                                        data-name="<%= orderData.orderedItems[i].name %>" 
                                        data-islisted="<%= orderData.orderedItems[i].isBlocked %>">
                                        <img src="/assets/images/icons/edit6.png" style="width: 35px; height: auto;" alt="edit-icon">
                                        </a>
                                    </td>

                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------ -->


<%- include('../layouts/adminLayouts/adminDashboardFooter.ejs') %>


<!-- ------------------------------------------------ -->



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- for modals -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- script for change order status -->
<script>
    $(document).ready(function () {
        
        const statusInOrder = [
            'Not Applicable', 
            'Pending Confirmation', 
            'Placed', 
            'Confirmed', 
            'Shipped', 
            'Out for Delivery', 
            'Delivered', 
            'Return Requested', 
            'Return Request Rejected', 
            'Return Request Accepted', 
            'Returned', 
            'Cancelled'
        ];

        // order status validation based on their index order.
        $('.product-status').each(function () {
            const currentStatus = $(this).data('current-status');
            const currentIndex = statusInOrder.indexOf(currentStatus);

            $(this).addClass('select-enabled');

            
            // If the current status is 'Not Applicable' or 'Pending Confirmation', disable all options.
            if (currentStatus === 'Not Applicable' || currentStatus === 'Pending Confirmation') {
                $(this).find('option').attr('disabled', true);
                return;  // Skip further processing for this element.
            }


            $(this).find('option').each(function () {
                const optionValue = $(this).val();
                const optionIndex = statusInOrder.indexOf(optionValue);

                // Disable the options "Not Applicable", "Pending Confirmation", and "Return Requested" and "Cancelled"
                if (optionValue === 'Not Applicable' || optionValue === 'Pending Confirmation' || optionValue === 'Return Requested' || optionValue === 'Cancelled') {
                    $(this).attr('disabled', true);
                }

                // Enable "Return Request Rejected" and "Return Request Accepted" only if the current status is "Return Requested"
                if (currentStatus !== 'Return Requested' && 
                   (optionValue === 'Return Request Rejected' || optionValue === 'Return Request Accepted')) {
                    $(this).attr('disabled', true);
                }

                // Enable "Returned" only if the current status is "Return Request Accepted"
                if (currentStatus !== 'Return Request Accepted' && optionValue === 'Returned') {
                    $(this).attr('disabled', true);
                }

                // Disable the option if it's in a previous status
                if (optionIndex < currentIndex) {
                    $(this).attr('disabled', true);
                }
            });




            // Set the current status as the selected value
            $(this).val(currentStatus);
        });


        $('.product-status').change(function () {
            const selectElement = $(this);
            const orderId = $(this).data('order-id');
            const itemProductRef = $(this).data('item-productref');
            const newStatus = $(this).val();

            console.log('orderId to update status in front end :', orderId);
            console.log('itemProductRef to update status in front end :', itemProductRef);
            console.log('newStatus to update status in front end :', newStatus);

            Swal.fire({
                title: `Do you want to change the order status to <b class="text-black">${newStatus}</b>?`,
                html: `<p class="text-danger">Note: This action cannot be undone or changed back once selected. </p>`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Confirm',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/admin/update-order-status',
                        method: 'PATCH',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            orderId,
                            itemProductRef,
                            newStatus
                        }),
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    title: `Order ${newStatus}`,
                                    icon: "success",
                                    showConfirmButton: false,
                                    timer: 1000
                                }).then(() => {
                                    location.reload();
                                });
                            }
                        },
                        error: function (error) {
                            console.error('Error:', error);
                            alert('An error occurred while updating the order status.');
                        }
                    });

                } 
            });
        });
    });

</script>




<!-- script for order items page -->
<style>

.select-enabled option:not([disabled]) {   /* Apply styles to enabled options */
    color: rgb(0, 209, 0); /* Color for enabled options */
}

.select-enabled option[disabled] {   /* Apply styles to disabled options */
    color: rgba(255, 255, 0, 0.463); /* Color for disabled options */
}

.order-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    border-bottom: 1px solid #b41313;
}
.customer-info td {
    vertical-align: top;
}
.order-info li {
    list-style: none;
}
.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    /* margin: 10px; */
}
</style>