<%- include('../layouts/adminLayouts/adminDashboardHeader.ejs') %>
<%- include('../layouts/adminLayouts/adminSidebarAndNavbar.ejs') %>



<!-- Product List Starts -->
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center">PRODUCT LIST</h3>
                <div class="table-responsive">
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-success add-product" data-toggle="modal" data-target="#addProductModal">Add Product</button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- <th>
                                    <div class="form-check form-check-muted m-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" id="check-all">
                                        </label>
                                    </div>
                                </th> -->
                                <th> No </th>
                                <th> Image </th>
                                <th> Product Code </th>
                                <th> Product Name </th>
                                <th> Price </th>
                                <th> Quantity </th>
                                <th> Category </th>
                                <th> Status </th>
                                <th> Actions </th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if (productData.length > 0){
                                for(let i=0; i<productData.length; i++){ %>
                                    <tr>

                                        <!-- <td>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input">
                                                </label>
                                            </div>
                                        </td> -->

                                        <td> <%= i+1 %></td>

                                        <% if (productData[i].images){ %>
                                            <td> <%= productData[i].images.image1 %> </td>
                                        <% } %>
                                        <td> (Sample Image) </td>

                                        <td> <%= productData[i].code %> </td>

                                        <td> <%= productData[i].name %> </td>

                                        <td> <%= productData[i].price %> </td>

                                        <td> <%= productData[i].quantity %> </td>

                                        <td> <%= productData[i].categoryRef.name %> </td>

                                        <td>
                                            <% if (productData[i].isBlocked === true){ %>
                                                <a href="#" class="badge badge-secondary" id="blocked-product" style="text-decoration: none; color: black;" onclick="manageProduct('<%= productData[i]._id %>')">Unblock</a>
                                            <% }
                                            else{ %>
                                                <a href="#" class="badge badge-danger" id="unblocked-product" style="text-decoration: none" onclick="manageProduct('<%= productData[i]._id %>')">Block</a>
                                            <% } %>
                                        </td>

                                        <td>
                                            <a href="<%= `/admin/edit-product?id=${productData[i]._id}` %>" class="badge badge-secondary" style="color: black; text-decoration: none;" data-toggle="modal" data-target="#editProductModal"
                                            data-id="<%= productData[i]._id %>" 
                                            data-category="<%= productData[i].categoryRef.name %>" 
                                            data-code="<%= productData[i].code %>" 
                                            data-name="<%= productData[i].name %>" 
                                            data-description="<%= productData[i].description %>" 
                                            data-price="<%= productData[i].price %>" 
                                            data-quantity="<%= productData[i].quantity %>" 
                                            data-isListed="<%= productData[i].isBlocked %>">Edit</a>
                                        </td>
                                    </tr>
                                <% }
                            }
                            else{ %>
                                <tr>
                                    <td colspan="9" class="text-danger" style="text-align: center"> No Products Found </td>
                                </tr>
                            <% } %>
                        </tbody>

                    </table>

                    <br>

                    <div class="list-pagination text-center">
                        <% if (totalPages > 1){ %>
                            <p> Pages : 
                                <% for(let j=1; j<= totalPages; j++){ %>
                                    <a href="?page=<%= j %>"> <%= j %> </a>
                                <% } %>
                            </p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="text-center"><img src="assets/images/icons/up-arrow.png" width="30px" height="30px" alt="up-arrow"> </a>
<!-- Product List Ends -->

<!-- ------------------------------------------------ -->

<!-- Add New Product Modal Starts-->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">ADD NEW PRODUCT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-product-form">
                    <div class="form-group">
                        <label for="product-category">Category:</label>
                        <select class="form-control" id="product-category" name="product-category" required>
                            <option value="select-category"> Choose Category</option>
                            <% for(i=0; i<categoryData.length; i++){ %>
                            <option value="<%= categoryData[i].name %>"> <%= categoryData[i].name %></option>
                            <% } %>
                        </select>
                        <span id="product-category-error" style="color: orangered; display: none"></span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="product-code"> Product Code:</label>
                                <input type="text" class="form-control" id="product-code" name="product-code" required>
                                <span id="product-code-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="product-name">Product Name:</label>
                                <input type="text" class="form-control" id="product-name" name="product-name" required>
                                <span id="product-name-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product-description">Description:</label>
                        <textarea class="form-control" id="product-description" name="product-description" rows="3"></textarea>
                        <span id="product-description-error" style="color: orangered; display: none"></span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="product-price">Price:</label>
                                <input type="text" class="form-control" id="product-price" name="product-price" required>
                                <span id="product-price-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="product-quantity">Quantity:</label>
                                <input type="text" class="form-control" id="product-quantity" name="product-quantity" required>
                                <span id="product-quantity-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="product-status">Status:</label>
                        <select class="form-control" id="product-status" name="product-status" required>
                            <option value="list">List</option>
                            <option value="unlist">Unlist</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="saveProductBtn">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Add New Product Modal Ends-->

<!-- ------------------------------------------------ -->

<!-- Edit Product Modal Starts-->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">EDIT PRODUCT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-product-form">
                    <input type="hidden" id="edit-product-id" name="edit-product-id">

                    <div class="form-group">
                        <label for="edit-product-category">Category:</label>
                        <select class="form-control" id="edit-product-category" name="edit-product-category" required>
                            <option value="select-category"> Choose Category</option>
                            <% for(i=0; i<categoryData.length; i++){ %>
                            <option value="<%= categoryData[i].name %>"> <%= categoryData[i].name %></option>
                            <% } %>
                        </select>
                        <span id="edit-product-category-error" style="color: orangered; display: none"></span>
                    </div>

                    <div class="form-group">
                        <label for="edit-product-code">Product Code:</label>
                        <input type="text" class="form-control" id="edit-product-code" name="edit-product-name" required>
                        <span id="edit-product-code-error" style="color: orangered; display: none"></span>
                    </div>
                    
                    <div class="form-group">
                        <label for="edit-product-name">Product Name:</label>
                        <input type="text" class="form-control" id="edit-product-name" name="edit-product-name" required>
                        <span id="edit-product-name-error" style="color: orangered; display: none"></span>
                    </div>

                    <div class="form-group">
                        <label for="edit-product-description">Description:</label>
                        <textarea class="form-control" id="edit-product-description" name="edit-product-description" rows="3"></textarea>
                        <span id="edit-product-description-error" style="color: orangered; display: none"></span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="edit-product-price">Price:</label>
                                <input type="text" class="form-control" id="edit-product-price" name="edit-product-price" required>
                                <span id="edit-product-price-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="edit-product-quantity">Quantity:</label>
                                <input type="text" class="form-control" id="edit-product-quantity" name="edit-product-quantity" required>
                                <span id="edit-product-quantity-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edit-product-status">Status:</label>
                        <select class="form-control" id="edit-product-status" name="edit-product-status" required>
                        <span id="edit-product-status-error" style="color: orangered; display: none"></span>
                            <option value="unlist">Unlist</option>
                            <option value="list">List</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateProductBtn">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Product Modal Ends-->

<!-- ------------------------------------------------ -->




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- for modals -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<!--script for add new product form submission -->
<script>
    $(document).ready(function() {
        // Event listener for form submission
        $('#saveProductBtn').click(function() {

            const productCategory = $('#product-category').val();
            const productCode = $('#product-code').val();
            const productName = $('#product-name').val();
            const productDescription = $('#product-description').val();
            const productPrice = $('#product-price').val();
            const productQty = $('#product-quantity').val();
            const productStatus = $('#product-status').val();

            const categoryError = document.getElementById('product-category-error');
            const codeError = document.getElementById('product-code-error');
            const nameError = document.getElementById('product-name-error');
            const descriptionError = document.getElementById('product-description-error');
            const priceError = document.getElementById('product-price-error');
            const quantityError = document.getElementById('product-quantity-error');


            console.log("productCategory : ", productCategory);
            console.log("productCode : ", productCode);
            console.log("productName : ", productName);
            console.log("productDescription : ", productDescription);
            console.log("productPrice : ", productPrice);
            console.log("productQty : ", productQty);
            console.log("productStatus : ", productStatus);




            // Form validation logic here (if needed)


            $.ajax({
                url: '/admin/add-product',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    productCategory,
                    productCode,
                    productName,
                    productDescription,
                    productPrice,
                    productQty,
                    productStatus
                }),
                success: function(response) {
                    console.log('Add Product Form submitted');

                    if(response.success){
                        Swal.fire({
                            icon: "success",
                            title: "Success",
                            text : "New Product Added Successfully!",
                        })
                        .then(location.reload())
                        
                    } else if(response.exists){
                        codeError.textContent = response.message;
                        codeError.style.display = "block";
                    }

                    $('#addProductModal').modal('hide');
                },
                error: function(xhr, status, error) {
                    console.error('Error submitting form:', error);
                }
            });
        });
    });
</script>




<!--script for edit product form submission -->
<script>
    $(document).ready(function() {
        // Event listener for clicking the "Edit" link
        $('a[data-target="#editProductModal"]').click(function() {
            // Retrieve data attributes
            var productId = $(this).data('id');
            var productCategory = $(this).data('category');
            var productCode = $(this).data('code');
            var productName = $(this).data('name');
            var productDescription = $(this).data('description');
            var productPrice = $(this).data('price');
            var productQty = $(this).data('quantity');
            var productStatus = $(this).data('isListed');



            // Set values in the edit product modal fields (set default / existing values)
            $('#edit-product-id').val(productId);
            $('#edit-product-category').val(productCategory);
            $('#edit-product-code').val(productCode);
            $('#edit-product-name').val(productName);
            $('#edit-product-description').val(productDescription);
            $('#edit-product-price').val(productPrice);
            $('#edit-product-quantity').val(productQty);
            $('#edit-product-status').val(productStatus ? 'list' : 'unlist');


            console.log("edit productCategory : ", productCategory);
            console.log("edit productCode : ", productCode);
            console.log("edit productName : ", productName);
            console.log("edit productDescription : ", productDescription);
            console.log("edit productPrice : ", productPrice);
            console.log("edit productQty : ", productQty);
            console.log("edit productStatus : ", productStatus);
        });
    });



    // for updating the values of edit product modal
    $(document).ready(function() {
        $('#updateProductBtn').click(function() {
            // Retrieve updated values from modal fields
            const productId = $('#edit-product-id').val();
            const productCategory = $('#edit-product-category').val();
            const productCode = $('#edit-product-code').val();
            const productName = $('#edit-product-name').val();
            const productDescription = $('#edit-product-description').val();
            const productPrice = $('#edit-product-price').val();
            const productQty = $('#edit-product-quantity').val();
            const productStatus = $('#edit-product-status').val();


            const editProductCategoryError = document.getElementById('edit-product-category-error');
            const editProductCodeError = document.getElementById('edit-product-code-error');
            const editProductNameError = document.getElementById('edit-product-name-error');
            const editProductDescriptionError = document.getElementById('edit-product-description-error');
            const editProductPriceError = document.getElementById('edit-product-price-error');
            const editProductQtyError = document.getElementById('edit-product-quantity-error');
            const editProductStatusError = document.getElementById('edit-product-status-error');


            // Send updated data to server
            $.ajax({
                url: '/admin/edit-product',
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({
                    productId,
                    productCategory,
                    productCode,
                    productName,
                    productDescription,
                    productPrice,
                    productQty,
                    productStatus
                }),
                success: function(response) {
                    console.log('Update Product Form submitted');
                    if (response.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Success",
                            text : "Product Updated Successfully!",
                        })
                        .then(location.reload());
                        
                    } else if (response.exists) {
                        editProductCodeError.textContent = response.message;
                        editProductCodeError.style.display = "block";
                    } else{
                        console.error('Update Product Failed:', response.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error in updating product:', error);
                }
            });
        });
    });



</script>



<!-- <script>    
    function manageUser(id) {
        console.log('manageUser id: ', id);

        Swal.fire({
        title: "Are you sure?",
        text: "Do you want to block/unblock this user?",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#28a745",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, confirm!"
        })
        .then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: '/admin/user-action',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({id}),
                success: function(response) {
                    if(response.status === true){
                        location.reload();
                    }
                },
                error: function(xhr, status, error) {
                    console.log('Error:', error);
                }
            });
        }
        });

    
    }
</script> -->




<%- include('../layouts/adminLayouts/adminDashboardFooter.ejs') %>
