<%- include('../layouts/adminLayouts/adminDashboardHeader.ejs') %>
<%- include('../layouts/adminLayouts/adminSidebarAndNavbar.ejs') %>



<!-- Product List Starts -->
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center">PRODUCT LIST</h3>
                <div style="text-align: right;">
                    <button type="button" class="btn btn-success add-product" data-toggle="modal" data-target="#addProductModal">Add Product</button>
                </div>
                <div class="count-view flex-item text-success">
                    <p style="font-size: 16px;">Showing <%= startIndex %> to <%= endIndex %> of <%= count %></p>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th> No </th>
                                
                                <th> Image </th>

                                <!-- Category -->
                                <th>
                                    <select name="filter-category" onchange="location.href='?filter-category=' + this.value + '&filter-status=<%= statusQuery %>' + '&sort=<%= sortQuery %>' ">
                                        <option value="all" <%= categoryQuery === 'all' ? 'selected' : '' %>>Category</option>
                                        <% for (let i = 0; i < categoryData.length; i++) { %>
                                            <option value="<%= categoryData[i].name %>" <%= categoryQuery === categoryData[i].name ? 'selected' : '' %>>
                                                <%= categoryData[i].name %>
                                            </option>
                                        <% } %>
                                    </select>
                                </th>

                                <th> Product Code </th>
                                
                                <!-- Purity -->
                                <th>
                                    <select name="filter-purity" onchange="location.href='?filter-purity=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-status=<%= statusQuery %>' + '&sort=<%= sortQuery %>' ">
                                        <option value="all" <%= purityQuery === 'all' ? 'selected' : '' %>> Purity</option>
                                        <option value="22k" <%= purityQuery === '22k' ? 'selected' : '' %>> 22KT</option>
                                        <option value="18k" <%= purityQuery === '18k' ? 'selected' : '' %>> 18KT</option>
                                    </select>
                                </th>

                                <th> Product Name </th>

                                <!-- Gross Weight -->
                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>>Gross Weight</option>
                                        <option value="gross-wt-asc" <%= sortQuery === 'gross-wt-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="gross-wt-desc" <%= sortQuery === 'gross-wt-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <!-- Stone Weight -->
                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>>Stone Weight</option>
                                        <option value="stone-wt-asc" <%= sortQuery === 'stone-wt-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="stone-wt-desc" <%= sortQuery === 'stone-wt-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <!-- Net Weight -->
                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>>Net Weight</option>
                                        <option value="net-wt-asc" <%= sortQuery === 'net-wt-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="net-wt-desc" <%= sortQuery === 'net-wt-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>> VA % </option>
                                        <option value="va-asc" <%= sortQuery === 'va-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="va-desc" <%= sortQuery === 'va-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>> Metal Price </option>
                                        <option value="metal-price-asc" <%= sortQuery === 'metal-price-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="metal-price-desc" <%= sortQuery === 'metal-price-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>> MC Value </option>
                                        <option value="making-charge-asc" <%= sortQuery === 'making-charge-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="making-charge-desc" <%= sortQuery === 'making-charge-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>> Stone Rate </option>
                                        <option value="stone-charge-asc" <%= sortQuery === 'stone-charge-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="stone-charge-desc" <%= sortQuery === 'stone-charge-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <th> GST </th>

                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>> Total Price </option>
                                        <option value="total-price-asc" <%= sortQuery === 'total-price-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="total-price-desc" <%= sortQuery === 'total-price-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <th>
                                    <select name="sort" onchange="location.href='?sort=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&filter-status=<%= statusQuery %>' ">
                                        <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>> Quantity </option>
                                        <option value="quantity-asc" <%= sortQuery === 'quantity-asc' ? 'selected' : '' %>>Ascending</option>
                                        <option value="quantity-desc" <%= sortQuery === 'quantity-desc' ? 'selected' : '' %>>Descending</option>
                                    </select>
                                </th>

                                <th>
                                    <select name="filter-status" onchange="location.href='?filter-status=' + this.value + '&filter-category=<%= categoryQuery %>' + '&filter-purity=<%= purityQuery %>' + '&sort=<%= sortQuery %>' ">
                                        <option value="all" <%= statusQuery === 'all' ? 'selected' : '' %>> Status</option>
                                        <option value="listed" <%= statusQuery === 'listed' ? 'selected' : '' %>> Listed </option>
                                        <option value="unlisted" <%= statusQuery === 'unlisted' ? 'selected' : '' %>> Unlisted </option>
                                    </select>
                                </th>

                                <th> Actions </th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if (productData.length > 0){
                                for(let i=0; i < productData.length; i++){ %>
                                    <tr>
                                        <td> <%= (currentPage - 1) * limit + i + 1 %></td>

                                        <% if (productData[i].images.image1){ %>
                                            <td> <img src="assets/images/productImages/<%= productData[i].images.image1 %>" alt="Product Image"> </td>
                                        <% } else{ %>
                                            <td class="text-danger"> (No Image) </td>
                                        <% } %>

                                        <% if (productData[i].categoryRef.isListed === true){ %>
                                            <td class="text-success"> <%= productData[i].categoryRef.name %> </td>
                                        <% } else { %>
                                            <td class="text-danger"> <%= productData[i].categoryRef.name %> </td>
                                        <% } %>

                                        <td> <%= productData[i].code %> </td>

                                        <td> <%= productData[i].purity %> </td>

                                        <td> <%= productData[i].name %> </td>

                                        <td class="gross-weight"> <%= productData[i].grossWeight.toFixed(3) %> </td>

                                        <td class="stone-weight"> <%= productData[i].stoneWeight.toFixed(3) %> </td>

                                        <td class="net-weight"> <%= productData[i].netWeight.toFixed(3) %> </td>

                                        <td class="va"> <%= productData[i].VA %> % </td>

                                        <td class="metal-cost text-end"> <%= productData[i].metalPrice.toFixed(2) %> </td>

                                        <td class="making-charge text-end"> <%= productData[i].makingCharge.toFixed(2) %> </td>

                                        <td class="stone-charge text-end"> <%= productData[i].stoneCharge.toFixed(2) %> </td>

                                        <td class="GST text-end"> <%= productData[i].GST.toFixed(2) %> </td>

                                        <td class="total-price text-end"> <%= productData[i].totalPrice.toFixed(2) %> </td>

                                        <td class="quantity text-center" style="font-size: medium;"> <%= productData[i].quantity %> </td>

                                        <!-- status -->
                                        <% if(productData[i].isBlocked === false){ %>
                                            <td class="text-success text-center">
                                                Listed <i class="mdi mdi-check-circle text-success"></i>
                                            </td>
                                        <% } else{ %>
                                            <td class="text-danger text-center">
                                                Unlisted <i class="mdi mdi-do-not-disturb text-danger"></i>
                                            </td>
                                        <% } %>

                                        <!-- actions -->
                                        <td>
                                            <!-- 1. APPLY / CANCEL OFFER -->
                                            <% if (!productData[i].offerRef || productData[i].offerRef === null){ %>
                                                <a class="badge badge-success show-offer-link" style="text-decoration: none;" data-productData='<%= JSON.stringify(productData[i]) %>' onclick="showOffersModal()">Apply Offer</a>
                                            <% } else { %>
                                                <a href="#" class="badge badge" style="text-decoration: none; background: red;" onclick="cancelOffer('<%= productData[i]._id %>')"> Cancel Offer </a>
                                            <% } %>

                                            <!-- 2. LIST / UNLIST -->
                                            <% if (productData[i].isBlocked === true){ %>
                                                <a href="#" class="badge badge-secondary" id="blocked-product" style="text-decoration: none; color: black;" onclick="manageProduct('<%= productData[i]._id %>')">List</a>
                                            <% } else { %>
                                                <a href="#" class="badge badge-danger" id="unblocked-product" style="text-decoration: none" onclick="manageProduct('<%= productData[i]._id %>')">Unlist</a>
                                            <% } %>

                                            <!-- 3. EDIT -->
                                            <!-- (use 1st line if using the "EDIT" text, use 2nd line if using the "edit-icon") -->
                                            <!-- <a href="<%= `/admin/edit-product?id=${productData[i]._id}` %>" class="badge badge-light" style="color: black; text-decoration: none;" data-toggle="modal" data-target="#editProductModal" -->
                                            <a href="#" 
                                            style="color: black; text-decoration: none;" 
                                            data-toggle="modal" 
                                            data-target="#editProductModal"
                                            data-id="<%= productData[i]._id %>" 
                                            data-images='<%= JSON.stringify(Object.values(productData[i].images)) %>'
                                            data-category="<%= productData[i].categoryRef.name %>" 
                                            data-code="<%= productData[i].code %>" 
                                            data-name="<%= productData[i].name %>" 
                                            data-description="<%= productData[i].description %>" 
                                            data-grossweight="<%= productData[i].grossWeight %>" 
                                            data-stoneweight="<%= productData[i].stoneWeight %>" 
                                            data-netweight="<%= productData[i].netWeight %>" 
                                            data-makingcharge="<%= productData[i].VA %>" 
                                            data-stonecharge="<%= productData[i].stoneCharge %>" 
                                            data-price="<%= productData[i].price %>" 
                                            data-purity="<%= productData[i].purity %>" 
                                            data-quantity="<%= productData[i].quantity %>" 
                                            data-islisted="<%= productData[i].isBlocked %>">
                                            <img src="/assets/images/icons/edit5.png" style="width: 35px; height: auto;" alt="edit-icon">
                                            <!-- add "Edit" text if needed and add first commented line -->
                                            </a>
                                        </td>
                                    </tr>
                                <% }
                            }
                            else{ %>
                                <tr>
                                    <td colspan="9" class="text-danger" style="text-align: center"> No Products Found </td>
                                </tr>
                            <% } %>
                        </tbody>

                    </table>

                    <br>
                </div>

                <div class="list-pagination" style="text-align: center">
                    <% for(let j=1; j <= totalPages; j++){ %>
                        <% if (currentPage == j) { %>
                            <a href="?page=<%= j %>&sort=<%= sortQuery %>&search=<%= searchQuery %>&filter-category=<%= categoryQuery %>&filter-status=<%= statusQuery %>" class="text-white"><%= j %></a>
                        <% } else{ %>
                            <a href="?page=<%= j %>&sort=<%= sortQuery %>&search=<%= searchQuery %>&filter-category=<%= categoryQuery %>&filter-status=<%= statusQuery %>" class="text-success"><%= j %></a>
                        <% } %>
                    <% } %>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Product List Ends -->

<!-- ------------------------------------------------ -->


<!-- Add New Product Modal Starts-->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">ADD NEW PRODUCT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-product-form" enctype="multipart/form-data">
                    <!-- if needed to upload single images each -->
                    <!-- <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="add-product-image1">Image 1:</label>
                                <input type="file" class="form-control-file" id="add-product-image1" name="add-product-image1" onchange="previewImage(event, 'image-preview1')">
                                <img id="image-preview1" src="#" alt="Image Preview" style="max-width: 100px; display: none;">
                                <span id="add-product-image1-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="add-product-images">Upload Images:</label>
                                <input type="file" name="croppedImages" class="form-control-file" id="add-product-images" multiple accept="image/*" onchange="previewImages(event)">
                                <span id="file-upload-error" style="color: orangered; display: none"></span>
                                <div id="add-image-previews"></div>
                                <span id="add-product-images-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="add-product-category">Category:</label>
                                <select class="form-control" id="add-product-category" name="add-product-category" required>
                                    <option value="select-category"> Choose Category</option>
                                    <% for(i=0; i<categoryData.length; i++){ %>
                                    <option value="<%= categoryData[i].name %>"> <%= categoryData[i].name %></option>
                                    <% } %>
                                </select>
                                <span id="add-product-category-error" style="color: orangered; display: none"></span>    
                            </div>
                            <div class="col">
                                <label for="add-product-name">Product Name:</label>
                                <input type="text" class="form-control" id="add-product-name" name="add-product-name" required>
                                <span id="add-product-name-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="add-product-description">Description:</label>
                        <textarea class="form-control" id="add-product-description" name="add-product-description" rows="3"></textarea>
                        <span id="add-product-description-error" style="color: orangered; display: none"></span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="add-product-gross-wt"> Gross Weight:</label>
                                <input type="text" class="form-control" id="add-product-gross-wt" name="add-product-gross-wt" required>
                                <span id="add-product-gross-wt-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="add-product-stone-wt">Stone Weight:</label>
                                <input type="text" class="form-control" id="add-product-stone-wt" name="add-product-stone-wt" required>
                                <span id="add-product-stone-wt-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="add-product-net-wt"> Net Weight:</label>
                                <input type="text" class="form-control" id="add-product-net-wt" name="add-product-net-wt" required readonly>
                                <span id="add-product-net-wt-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="add-product-mc">Making Charge:</label>
                                <input type="text" class="form-control" id="add-product-mc" name="add-product-mc" required>
                                <span id="add-product-mc-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="add-product-sc">Stone Charge:</label>
                                <input type="text" class="form-control" id="add-product-sc" name="add-product-sc" required>
                                <span id="add-product-sc-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="add-product-purity"> Purity:</label>
                                <select class="form-control" id="add-product-purity" name="add-product-purity" required>
                                    <option value="22K (916)">22K (916)</option>
                                    <option value="18K (750)">18K (750)</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="add-product-quantity">Quantity:</label>
                                <input type="text" class="form-control" id="add-product-quantity" name="add-product-quantity" required>
                                <span id="add-product-quantity-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="add-product-status">Status:</label>
                                <select class="form-control" id="add-product-status" name="add-product-status" required>
                                    <option value="list">List</option>
                                    <option value="unlist">Unlist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="saveProductBtn">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Add New Product Modal Ends -->



<!-- ------------------------------------------------ -->

<!-- Edit Product Modal Starts-->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">EDIT PRODUCT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-product-form" enctype="multipart/form-data">

                    <input type="hidden" id="edit-product-id" name="edit-product-id">
                    <input type="hidden" id="edit-product-code" name="edit-product-code">

                    <div class="form-group">
                        <!-- <label for="edit-product-images">Upload Images:</label> -->
                        <label>Upload Images:</label>
                        <div class="row">
                            <% for (let i = 1; i <= 4; i++) { %>
                            <label for="edit-product-image<%= i %>">Image <%= i %>:</label>
                            <div class="row-md-3 d-flex align-items-center">
                                <input type="file" name="croppedImages[]" class="form-control-file d-none" id="edit-product-image<%= i %>" accept="image/*">
                                <div id="edit-image-preview<%= i %>" class="col-md-10"></div>
                                <button type="button" class="btn btn-primary col-md-2" style="height: min-content;" onclick="document.getElementById('edit-product-image<%= i %>').click()">Change</button>
                                <span id="edit-product-image<%= i %>-error" style="color: orangered; display: none;"></span>
                            </div>
                            <% } %>
                        </div>
                        <span id="file-upload-error" style="color: orangered; display: none"></span>
                        <div id="edit-image-previews"></div>
                        <span id="edit-product-images-error" style="color: orangered; display: none"></span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="edit-product-category">Category:</label>
                                <select class="form-control" id="edit-product-category" name="edit-product-category" required>
                                    <option value="select-category"> Choose Category</option>
                                    <% for(i=0; i<categoryData.length; i++){ %>
                                    <option value="<%= categoryData[i].name %>"> <%= categoryData[i].name %></option>
                                    <% } %>
                                </select>
                                <span id="edit-product-category-error" style="color: orangered; display: none"></span>    
                            </div>
                            <div class="col">
                                <label for="edit-product-name">Product Name:</label>
                                <input type="text" class="form-control" id="edit-product-name" name="edit-product-name" required>
                                <span id="edit-product-name-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="edit-product-description">Description:</label>
                        <textarea class="form-control" id="edit-product-description" name="edit-product-description" rows="3"></textarea>
                        <span id="edit-product-description-error" style="color: orangered; display: none"></span>
                    </div>
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="edit-product-gross-wt"> Gross Weight:</label>
                                <input type="text" class="form-control" id="edit-product-gross-wt" name="edit-product-gross-wt" required>
                                <span id="edit-product-gross-wt-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="edit-product-stone-wt">Stone Weight:</label>
                                <input type="text" class="form-control" id="edit-product-stone-wt" name="edit-product-stone-wt" required>
                                <span id="edit-product-stone-wt-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="edit-product-net-wt"> Net Weight:</label>
                                <input type="text" class="form-control" id="edit-product-net-wt" name="edit-product-net-wt" required readonly>
                                <span id="edit-product-net-wt-error" style="color: orangered; display: none"></span>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="edit-product-mc">Making Charge:</label>
                                <input type="text" class="form-control" id="edit-product-mc" name="edit-product-mc" required>
                                <span id="edit-product-mc-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="edit-product-sc">Stone Charge:</label>
                                <input type="text" class="form-control" id="edit-product-sc" name="edit-product-sc" required>
                                <span id="edit-product-sc-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="edit-product-purity"> Purity:</label>
                                <select class="form-control" id="edit-product-purity" name="edit-product-purity" required>
                                    <option value="22K (916)">22K (916)</option>
                                    <option value="18K (750)">18K (750)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="edit-product-quantity">Quantity:</label>
                                <input type="text" class="form-control" id="edit-product-quantity" name="edit-product-quantity" required>
                                <span id="edit-product-quantity-error" style="color: orangered; display: none"></span>
                            </div>
                            <div class="col">
                                <label for="edit-product-status">Status:</label>
                                <select class="form-control" id="edit-product-status" name="edit-product-status" required>
                                    <option value="list">List</option>
                                    <option value="unlist">Unlist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateProductBtn">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Product Modal Ends-->

<!-- ------------------------------------------------ -->




<!-- Apply Offer Modal -->
<div id="offersModal" class="offer-modal">
    <div class="offer-modal-content">
        <span class="close" onclick="closeOffersModal()">&times;</span>
        <h4 id="offer-product-name" class="badge-secondary text-dark mt-2 mb-4 p-2"> </h4>
        <h5 class="select-offer mb-3">SELECT AN OFFER</h5>
        <% if (offerData.length > 0) { %>
            <div id="offersList" class="offers-list">
                <% for (let i = 0; i < offerData.length; i++) { %>
                    <div class="offer-card">
                        <h3 class="offer-name"><%= offerData[i].offerName %></h3>
                        <div class="offer-discount"><%= offerData[i].offerPercentage %>% OFF</div>
                        <div class="offer-details">On Making Charge</div>
                        <div class="offer-apply-button" data-offerData='<%= JSON.stringify(offerData[i]) %>' onclick="applyOffer()">Apply</div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <div>
                <h4>NO ACTIVE OFFERS AVAILABLE</h4>
            </div>
        <% } %>
    </div>
</div>



  




<!-- script for apply offer -->
<script>

    let productData;
    
    // to show the offers list modal
    function showOffersModal() {
        // Get the product data from the modal trigger (data-productData attribute)
        const productElement = event.target;
        productData = JSON.parse(productElement.getAttribute('data-productData'));

        // Populate the modal with product details
        document.getElementById('offer-product-name').innerText = productData.name;

        const offerModal = document.getElementById("offersModal");
        offerModal.style.display = "block";
    }


    // Function to apply an offer
    function applyOffer() {
        let productId = productData._id;
        let productName = productData.name;


        // Get the offer data from the modal trigger (data-offerData attribute)
        const offerElement = event.target;
        let offerData = JSON.parse(offerElement.getAttribute('data-offerData'));

        let offerId = offerData._id;
        let offerName = offerData.offerName;


        // console.log('productDataId for apply offer :', productDataId);
        console.log('productId for apply offer :', productId);
        console.log('productName for apply offer :', productName);
        console.log('offerId for apply offer :', offerId);
        console.log('offerName for apply offer :', offerName);


        $.ajax({
            url: '/admin/apply-offer',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                productId,
                offerId
            }),
            success: function(response) {
                console.log('response for apply-offer :', response);
                Swal.fire({
                    text: 'Offer applied successfully!',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1000
                });
                closeOffersModal();
                location.reload(); // or any other UI update logic
            },
            error: function(xhr, status, error) {
                // Handle the error case
                console.error('Error applying offer:', error);
                alert('Failed to apply offer. Please try again.');
            }
        });
    }



    // Close the modal when clicking outside of it.
    window.onclick = function(event) {
        const modal = document.getElementById("offersModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    // Close the modal when clicking close icon.
    function closeOffersModal() {
    document.getElementById('offersModal').style.display = 'none';
}




</script>




<!-- script for cancel offer -->
<script>
function cancelOffer(productId) {
    console.log('productId for cancelling offer :', productId);

    $.ajax({
        url: '/admin/cancel-offer',  // Replace with your actual URL
        type: 'PATCH',
        contentType: 'application/json',
        data: JSON.stringify({ productId }),
        success: function(response) {
            if (response.offerCancelled) {
                Swal.fire({
                    title: 'Offer Cancelled!',
                    // text: 'Offer has been cancelled successfully.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1000
                });
                location.reload(); // or any other UI update logic
            } else if (response.failed) {
                Swal.fire({
                    title: 'Failed!',
                    text: response.message,
                    icon: 'error',
                    showConfirmButton: false,
                });
            }
        },
        error: function(xhr, status, error) {
            alert('An error occurred: ' + error);
        }
    });
}

</script>





<!-- Apply Offer Modal Styles -->
<style>
    .offer-modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }
    .offer-modal-content {
        position: relative;
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
    .close {
        float: right; 
        position: absolute;
        top: 1px;
        right: 10px;
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .show-offer-link {
        cursor: pointer;
    }
    .offers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .offer-card {
        /* background: #fff; */
        /* background: linear-gradient(135deg, #fe0000, #e0e0e0); */
        background: linear-gradient(124deg, #00fe5c, #e0e0e0);
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        width: calc(33.333% - 20px); /* 3 cards per row, adjust for gaps */
        text-align: center;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.393);
        /* margin: 10px; */
        box-sizing: border-box; /* Ensure padding and borders are included in width */
    }
    .offer-card h {
        font-size: 1.5em;
        margin: 0 0 10px 0;
        color: #333;
    }
    .offer-card .offer-name {
        font-size: 1.3em;
        font-weight: bold;
        color: #4d283d;
    }
    .offer-card .offer-discount {
        font-size: 2.5em;
        font-weight: bold;
        /* color: #ff5722; */
        color: #177a08;

    }
    .offer-card .offer-details {
        font-size: 1em;
        color: #666;
        margin-bottom: 15px;
    }
    .offer-apply-button {
        background-color: #28a745;
        color: white;
        padding: 10px 15px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }
    .offer-apply-button:hover {
        background-color: #218838;
    }
    /* Add specific color styles for h2 and h3 */
    .offer-modal-content .select-offer {
        color: #333; /* or any color you prefer */
        text-align: center;
    }
    .offer-modal-content h4 {
        color: #ff0000; /* or any color you prefer */
        text-align: center;
    }
</style>





<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- for modals -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<!-- script for add products -->
<script src="/assets/scripts/adminScripts/add-product-script.js"></script>

<!-- script for edit products -->
<script src="/assets/scripts/adminScripts/edit-product-script.js"></script>

<!-- script for block and unblock products -->
<script src="/assets/scripts/adminScripts/manage-product-script.js"></script>















<%- include('../layouts/adminLayouts/adminDashboardFooter.ejs') %>
