<%- include('../layouts/adminLayouts/adminDashboardHeader.ejs') %>
<%- include('../layouts/adminLayouts/adminSidebarAndNavbar.ejs') %>

<div class="content-wrapper">
  <!-- row 1 -->
  <div class="row sales-report" id="sales-report">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-success">SALES REPORT</h4>

          <!-- Button and Search and Filter Row -->
          <div class="mb-4 d-flex flex-wrap">
            <!-- Download PDF Button -->
            <a href="/admin/sales-report-pdf?sort=<%= sortQuery %>&order-status=<%= statusQuery %>&payment-method=<%= methodQuery %>&search=<%= searchQuery %>&startDate=<%= startDate %>&endDate=<%= endDate %>" class="btn btn-primary mb-2 mr-2">
              <i class="mdi mdi-download"></i> Download PDF Report
            </a>

            <!-- Download Excel Button -->
            <a href="/admin/sales-report-excel?sort=<%= sortQuery %>&order-status=<%= statusQuery %>&payment-method=<%= methodQuery %>&search=<%= searchQuery %>&startDate=<%= startDate %>&endDate=<%= endDate %>" class="btn btn-primary mb-2 mr-2">
              <i class="mdi mdi-download"></i> Download Excel Report
            </a>
          </div>

          <!-- Filter Options Row -->
          <div class="mb-4">
            <form id="filterForm" class="form-inline d-flex flex-wrap align-items-center">
              <!-- Search Field -->
              <input type="text" name="search" id="searchInput" class="form-control flex-grow-1 mx-2 mb-2" placeholder="Search orders..." value="<%= searchQuery %>">

              <!-- Filter Type -->
              <div class="form-group mb-2 mx-2">
                <label for="sale-filter-type" class="mr-2">Filter By:</label>
                <select id="sale-filter-type" name="filter" class="form-control">
                  <option value="" style="color: greenyellow;" <%= filterType === '' ? 'selected' : '' %>> All </option>
                  <option value="yearly" <%= filterType === 'yearly' ? 'selected' : '' %>> Yearly </option>
                  <option value="monthly" <%= filterType === 'monthly' ? 'selected' : '' %>> Monthly </option>
                  <option value="weekly" <%= filterType === 'weekly' ? 'selected' : '' %>> Weekly </option>
                  <option value="custom" <%= filterType === 'custom' ? 'selected' : '' %>> Custom Date </option>
                </select>
              </div>

              <!-- Yearly Filter -->
              <div id="sale-year-area" class="form-group mb-2 mx-2">
                <label for="sale-year" class="mr-2">Year:</label>
                <select id="sale-year" name="year" class="form-control">
                  <option value="" <%= filterYear === '' ? 'selected' : '' %>> Select Year </option>
                  <option value="2024" <%= filterYear === 2024 ? 'selected' : '' %>> 2024 </option>
                  <option value="2023" <%= filterYear === 2023 ? 'selected' : '' %>> 2023 </option>
                </select>
              </div>

              <!-- Monthly Filter -->
              <div id="sale-month-area" class="form-group mb-2 mx-2">
                <label for="sale-month" class="mr-2">Month:</label>
                <select id="sale-month" name="month" class="form-control">
                  <option value="">Select Month</option>
                  <% for (let m = 1; m <= 12; m++) { %>
                    <!-- month is 0 indexed in JS, that's why 'm-1' is set as selected option-->
                    <option value="<%= m %>" <%= filterMonth == m-1 ? 'selected' : '' %>><%= new Date(0, m-1).toLocaleString('en', { month: 'long' }) %></option>
                  <% } %>
                </select>
              </div>

              <!-- Weekly Filter -->
              <div id="sale-week-area" class="form-group mb-2 mx-2">
                <label for="sale-week" class="mr-2"> Week </label>
                <input type="text" id="weekly-start-date" class="form-control" value="Last 7 Days" readonly>
              </div>

              <!-- Start Date Filter -->
              <div id="sale-start-date-area" class="form-group mb-2 mx-2">
                <label for="startDate" class="mr-2">Start Date:</label>
                <input type="date" id="startDate" name="startDate" class="form-control" value="<%= startDate %>">
              </div>

              <!-- End Date Filter -->
              <div id="sale-end-date-area" class="form-group mb-2 mx-2">
                <label for="endDate" class="mr-2">End Date:</label>
                <input type="date" id="endDate" name="endDate" class="form-control" value="<%= endDate %>">
              </div>

              <!-- Apply and Reset Buttons -->
              <div class="form-group mb-2 mx-2">
                <button type="submit" class="btn btn-success mx-2">Apply</button>
                <button type="button" class="btn btn-secondary mx-2" onclick="location.href='/admin/sales-report#sales-report'">Reset</button>
              </div>
            </form>
            <span class="filter-error-message" id="filter-error-message" style="color: red; display: none;"></span>
          </div>

          
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr style="text-align: center; background-color: #608696;">
                  <th class="text-black"> SL <br> NO </th>
                  <th class="text-black"> ORDER NO <br>
                    <select style="color: greenyellow; width: 150px;" name="sort" onchange="location.href='?sort=' + this.value + '&order-status=<%= statusQuery %>&payment-method=<%= methodQuery %>&search=<%= searchQuery %>&startDate=<%= startDate %>&endDate=<%= endDate %>'">
                      <option value="none" <%= sortQuery === 'none' ? 'selected' : '' %>> Sort </option>
                      <option value="orderNo-asc" <%= sortQuery === 'orderNo-asc' ? 'selected' : '' %>> Ascending </option>
                      <option value="orderNo-desc" <%= sortQuery === 'orderNo-desc' ? 'selected' : '' %>> Descending </option>
                    </select>
                  </th>
                  <th class="text-black"> ORDER <br> DATE </th>
                  <th class="text-black"> CUSTOMER DETAIL  </th>
                  <th class="text-black"> TOTAL <br> AMOUNT </th>
                  <th class="text-black"> OFFER <br> DISCOUNT </th>
                  <th class="text-black"> COUPON <br> DISCOUNT </th>
                  <th class="text-black"> SPECIAL <br> DISCOUNT </th>
                  <th class="text-black"> NET <br> AMOUNT </th>
                  <th class="text-black"> PAYMENT MODE <br>
                    <select style="color: greenyellow;" name="payment-method" onchange="location.href='?payment-method=' + this.value + '&sort=<%= sortQuery %>&order-status=<%= statusQuery %>&search=<%= searchQuery %>&startDate=<%= startDate %>&endDate=<%= endDate %>'">
                      <option value="all" <%= methodQuery === 'all' ? 'selected' : '' %>> All Methods </option>
                      <option value="Cash On Delivery" <%= methodQuery === 'Cash On Delivery' ? 'selected' : '' %>> Cash On Delivery </option>
                      <option value="Online Payment" <%= methodQuery === 'Online Payment' ? 'selected' : '' %>> Online Payment </option>
                      <option value="Wallet" <%= methodQuery === 'Wallet' ? 'selected' : '' %>> Wallet Payment </option>
                    </select>
                  </th>
                  <th class="text-black"> ORDER STATUS <br>
                    <select style="color: greenyellow;" name="order-status" onchange="location.href='?order-status=' + this.value + '&sort=<%= sortQuery %>&payment-method=<%= methodQuery %>&search=<%= searchQuery %>&startDate=<%= startDate %>&endDate=<%= endDate %>'">
                      <option value="all" <%= statusQuery === 'all' ? 'selected' : '' %>> All Status </option>
                      <option value="Pending" <%= statusQuery === 'Pending' ? 'selected' : '' %>> Pending </option>
                      <option value="Failed" <%= statusQuery === 'Failed' ? 'selected' : '' %>> Failed </option>
                      <option value="Processing" <%= statusQuery === 'Processing' ? 'selected' : '' %>> Processing </option>
                      <option value="Process Completed" <%= statusQuery === 'Process Completed' ? 'selected' : '' %>> Process Completed </option>
                    </select>
                  </th>
                </tr>
              </thead>

              <tbody>
                <% if (orderData.length> 0){ %>
                  <% for (i=0; i< orderData.length; i++){ %>
                    <tr>
                      <!-- sl no -->
                      <td>
                        <%= (currentPage - 1) * limit + i + 1 %>
                      </td>

                      <!-- order no -->
                      <td>
                        <%= orderData[i].orderNo %>
                      </td>

                      <!-- order date -->
                      <td>
                        <%= orderData[i].orderDate.toLocaleDateString('en-GB') %>
                      </td>

                      <!-- customer -->
                      <td>
                        <%= orderData[i].userRef.email %>
                      </td>

                      <!-- subTotal / total amount -->
                      <td style="text-align: right; color: aquamarine">
                        <%= orderData[i].subTotal.toFixed(2) %>
                      </td>

                      <!-- offerDiscount -->
                      <% let orderOfferDiscount= 0;
                      for (item of orderData[i].orderedItems){
                        let itemOfferDiscount = item.offerDiscount ? item.offerDiscount : 0; let itemQuantity=item.quantity;
                        orderOfferDiscount += itemOfferDiscount * itemQuantity; } %>
                      <% if (orderOfferDiscount> 0 ){ %>
                        <td style="text-align: right; color: yellow"> <%= orderOfferDiscount.toFixed(2) %> </td>
                      <% } else { %>
                        <td style="text-align: right"> <%= orderOfferDiscount.toFixed(2) %> </td>
                      <% } %>

                      <!-- couponDiscount -->
                      <% const couponDiscount=orderData[i].couponDiscount ? orderData[i].couponDiscount : 0 %>
                      <% if (couponDiscount> 0 ){ %>
                        <td style="text-align: right; color: yellow"> <%= (orderData[i].couponDiscount ? orderData[i].couponDiscount : 0).toFixed(2) %> </td>
                      <% } else { %>
                        <td style="text-align: right"> <%= (orderData[i].couponDiscount ? orderData[i].couponDiscount : 0).toFixed(2) %> </td>
                      <% } %>

                      <!-- specialDiscount -->
                      <% const specialDiscount=orderData[i].specialDiscount ? orderData[i].specialDiscount : 0 %>
                      <% if (specialDiscount> 0 ){ %>
                        <td style="text-align: right; color: yellow"> <%= (orderData[i].specialDiscount ? orderData[i].specialDiscount : 0).toFixed(2) %> </td>
                      <% } else { %>
                        <td style="text-align: right"> <%= (orderData[i].specialDiscount ? orderData[i].specialDiscount : 0).toFixed(2) %> </td>
                      <% } %>

                      <!-- netAmount -->
                      <td style="text-align: right;font-size: 16px;color: rgb(99, 255, 96);">
                        <b> <%= orderData[i].netAmount.toFixed(2) %></b>
                      </td>

                      <!-- paymentMethod -->
                      <% if (orderData[i].paymentMethod==='Cash On Delivery'){ %>
                        <td class="text-warning" style="text-align: center"> <%= orderData[i].paymentMethod %> </td>
                      <% } else if (orderData[i].paymentMethod==='Wallet'){ %>
                        <td class="text-primary" style="text-align: center"> <%= orderData[i].paymentMethod %></td>
                      <% } else if (orderData[i].paymentMethod==='Online Payment' ){ %>
                        <td class="text-success" style="text-align: center"> <%= orderData[i].paymentMethod %> </td>
                      <% } %>

                      <!-- orderStatus -->
                      <% if (orderData[i].orderStatus==='Pending'){ %>
                        <td class="text-center">
                          <div class="text-center badge badge-outline-warning"> <%= orderData[i].orderStatus %> </div>
                        </td>
                      <% } else if (orderData[i].orderStatus==='Failed'){ %>
                        <td class="text-center">
                          <div class="text-center badge badge-outline-danger"> <%= orderData[i].orderStatus %> </div>
                        </td>
                      <% } else if (orderData[i].orderStatus==='Processing'){ %>
                        <td class="text-center">
                          <div class="text-center badge badge-outline-primary"> <%= orderData[i].orderStatus %> </div>
                        </td>
                      <% } else if (orderData[i].orderStatus==='Process Completed' ){ %>
                        <td class="text-center">
                          <div class="text-center badge badge-outline-success"> <%= orderData[i].orderStatus %> </div>
                        </td>
                      <% } %>
                    </tr>
                  <% } %>
                <% } else { %>
                  <tr>
                    <td colspan="11" class="text-center" style="color: red;"> <h4>No Items Found</h4></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

          <div class="list-pagination mt-4">
            <nav>
              <ul class="pagination rounded-flat pagination-success">
                <!-- Previous Page Link -->
                <% if (currentPage> 1) { %>
                  <li class="page-item">
                    <a class="page-link"
                      href="?page=<%= currentPage-1 %>&search=<%= searchQuery %>&filter=<%= filterType %>&year=<%= filterYear %>&month=<%= filterMonth+1 %>&week=<%= filterWeek %>&startDate=<%= startDate %>&endDate=<%= endDate %>&sort=<%= sortQuery %>&order-status=<%= statusQuery %>&payment-method=<%= methodQuery %>">
                      <i class="mdi mdi-chevron-left"></i>
                    </a>
                  </li>
                <% } else { %>
                  <li class="page-item disabled">
                    <a class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                  </li>
                <% } %>

                <!-- Dynamic Page Links -->
                <% for(let j = 1; j <= totalPages; j++) { %>
                  <% if (j === currentPage) { %>
                    <li class="page-item active">
                      <a class="page-link" href="#"> <%= j %> </a>
                    </li>
                  <% } else { %>
                    <li class="page-item">
                      <a class="page-link" href="?page=<%= j %>&search=<%= searchQuery %>&filter=<%= filterType %>&year=<%= filterYear %>&month=<%= filterMonth+1 %>&week=<%= filterWeek %>&startDate=<%= startDate %>&endDate=<%= endDate %>&sort=<%= sortQuery %>&order-status=<%= statusQuery %>&payment-method=<%= methodQuery %>"> <%= j %> </a>
                    </li>
                  <% } %>
                <% } %>
              

                <!-- Next Page Link -->
                <% if (currentPage < totalPages) { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%= currentPage+1 %>&search=<%= searchQuery %>&filter=<%= filterType %>&year=<%= filterYear %>&month=<%= filterMonth+1 %>&week=<%= filterWeek %>&startDate=<%= startDate %>&endDate=<%= endDate %>&sort=<%= sortQuery %>&order-status=<%= statusQuery %>&payment-method=<%= methodQuery %>">
                      <i class="mdi mdi-chevron-right"></i>
                    </a>
                  </li>
                <% } else { %>
                  <li class="page-item disabled"> <a class="page-link"><i class="mdi mdi-chevron-right"></i></a> </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="height: 1px; color: rgb(17, 255, 0)" />
</div>



<%- include('../layouts/adminLayouts/adminDashboardFooter.ejs') %>





<!-- Handle form submission to ensure valid date range -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  


<!-- script for filter type and filter values (year, month, week, start date & end date) -->
<script>
  $(document).ready(function() {

    // Function to reset non-applicable fields
    function resetFilterInputs() {
      $('#sale-year').val(''); // Reset year field
      $('#sale-month').val(''); // Reset month field
      $('#sale-week').val(''); // Reset week field
      $('#startDate').val(''); // Reset start date field
      $('#endDate').val(''); // Reset end date field
      $('#filter-error-message').hide(); // Hide error message
    }


    // Initialize with the correct filter areas based on the selected filter type
    const filterType = $('#sale-filter-type').val();

    switch (filterType) {
      case 'yearly':
        $('#sale-year-area').show();
        $('#sale-month-area').hide();
        $('#sale-week-area').hide();
        $('#sale-start-date-area, #sale-end-date-area').hide();
        break;
      case 'monthly':
        $('#sale-year-area, #sale-month-area').show();
        $('#sale-week-area').hide();
        $('#sale-start-date-area, #sale-end-date-area').hide();
        break;
      case 'weekly':
        $('#sale-week-area').show();
        $('#sale-year-area').hide();
        $('#sale-month-area').hide();
        $('#sale-start-date-area, #sale-end-date-area').hide();
        break;
      case 'custom':
        $('#sale-start-date-area, #sale-end-date-area').show();
        $('#sale-year-area').hide();
        $('#sale-month-area').hide();
        $('#sale-week-area').hide();
        break;
      default:
        $('#sale-start-date-area, #sale-end-date-area').hide();
        $('#sale-year-area').hide();
        $('#sale-month-area').hide();
        $('#sale-week-area').hide();
    }

    
    $('#sale-filter-type').on('change', function(event) {
      const value = $(this).val();
      console.log('Filter type selected :', value); // Debugging: Log selected value

      // Reset all filter inputs when changing the filter type
      resetFilterInputs();
      
      // Hide all filter areas initially
      $('#sale-year-area, #sale-month-area, #sale-week-area, #sale-start-date-area, #sale-end-date-area').hide();
      
      // Show relevant filter areas based on selected value
      switch (value) {
        case 'yearly':
          $('#sale-year-area').show();
          break;
        case 'monthly':
          $('#sale-year-area, #sale-month-area').show();
          break;
        case 'weekly':
          $('#sale-week-area').show();
          break;
        case 'custom':
          $('#sale-start-date-area, #sale-end-date-area').show();
          break;
        default:
          console.log('No valid filter type selected.'); // Debugging: Log if no valid type is selected
          break;
      }
    });



    $('#filterForm').on('submit', function(event) {
      const filterType = $('#sale-filter-type').val();
      const startDate = $('#startDate').val();
      const endDate = $('#endDate').val();
      const year = $('#sale-year').val();
      const month = $('#sale-month').val();
      const week = $('#sale-week').val();

      const today = new Date();
      today.setHours(0, 0, 0, 0);

      // Validate based on filter type
      if (filterType === 'monthly' && (!year || !month)) {
        $('#filter-error-message').text('Please select both year and month for filter.').show();
        event.preventDefault();
        return false;
      }

      if (filterType === 'yearly' && !year) {
        $('#filter-error-message').text('Please select a year to filter.').show();
        event.preventDefault();
        return false;
      }

      // if (filterType === 'weekly' && !week) {
      //   $('#filter-error-message').text('Please select a week for the weekly filter.').show();
      //   event.preventDefault();
      //   return false;
      // }

      if (filterType === 'custom') {
        // Validate custom date range
        if (!startDate || !endDate) {
          $('#filter-error-message').text('Please select both a Year and a Month for the Monthly filter.').show();
          event.preventDefault();
          return false;
        }

        const start = new Date(startDate);
        const end = new Date(endDate);
        if (start > end) {
          $('#filter-error-message').text('End date must be greater than start date.').show();
          event.preventDefault();
          return false;
        }

        if (start > today || end > today) {
            $('#filter-error-message').text('Dates cannot be in the future. Please select valid dates.').show();
            event.preventDefault();
            return false;
        }

      }
    });



  });
</script>


  


<!-- custom css for this page. -->
<style>
  /* Ensures equal width for form controls in the filter row */
.equal-width {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.equal-width label,
.equal-width input,
.equal-width select {
  flex: 1;
  margin: 0 0.5rem;
}

.date-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.date-input::placeholder {
  color: #6c757d;
}

/* Adjust spacing and alignment */
.mb-4 {
  margin-bottom: 1.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.mr-2 {
  margin-right: 0.5rem;
}

#filterForm .btn {
  margin-top: 20px;
  height: 2.5rem;
}


</style>

</html>