<% try { %>


    <!-- navbar section starts -->
    <div class="tm-header tm-header-sticky">
        <div class="tm-header-toparea">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-12">
                        <ul class="tm-header-info">
                            <li><a href="tel:919633699766"><i class="ion-ios-telephone"></i> +919 633 699 766</a></li>
                            <li><a href="mailto:itsmesajeer@gmail.com"><i class="ion-android-mail"></i>Mail Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="tm-header-options">
                            
                            <div class="tm-dropdown tm-header-links">
                                <button>
                                    <% if(sessionData){ %>
                                        <a href="#"><%= sessionData.firstname %> <%= sessionData.lastname %></a>
                                    <% } else { %>
                                        <a href="/login">Login</a>
                                    <% } %>
                                </button>

                                <ul>
                                    <% if(sessionData){ %>
                                        <li><a href="/profile">My Profile</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/orders">Orders</a></li>
                                        <li><a href="/address">Address</a></li>
                                        <li><a href="wishlist.html">Wallet</a></li>
                                        <li><a href="/logout">Logout</a></li>

                                    <% } else { %>
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/register">Register</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-header-middlearea bg-white">
            <div class="container">
                <div class="tm-mobilenav"></div>
                <div class="row align-items-center">
                    <div class="col-lg-3 col-6 order-1 order-lg-1">
                        <a href="/" class="tm-header-logo">
                            <img src="assets/images/logos/Glitz Logo Small 2.jpg" alt="surose">
                        </a>
                    </div>
                    <div class="col-lg-9 col-6 order-4 order-lg-4">
                        <ul class="tm-header-icons">
                            <% if(sessionData){ %>
                                <li><a href="/my-account"><img src="assets/images/icons/user2.png" width="22px" height="22px" alt="user"></a></li>
                                <li><a href="/wishlist"><i class="ion-android-favorite-outline"></i><span>0</span></a></li>
                                <li><a href="/cart"><i class="ion-bag"></i><span>0</span></a></li>
                            <% } else { %>
                                <li><a href="/login"><img src="assets/images/icons/enter.png" width="23px" height="23px" alt="login"></a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- this if condition is not nessessary here. some times get error. -->
        <% if(goldPriceData.price){ %>
            <% const k22 = goldPriceData.price; %>
            <% const k18 = goldPriceData.price / 22 * 18; %>
        <% } %>

        <%
            const dateAndTime1 = new Date(goldPriceData.updatedAt);
            const options1 = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false };
            const formattedDate1 = dateAndTime1.toLocaleDateString('en-GB', options1).replace(',', '');
            console.log('formattedDate1 : ', formattedDate1);
        %>

        <% 
            const dateAndTime2 = new Date(goldPriceData.updatedAt); 
            const year = dateAndTime2.getFullYear();
            const month = String(dateAndTime2.getMonth() + 1).padStart(2, '0');
            const day = String(dateAndTime2.getDate()).padStart(2, '0');
            const hours = String(dateAndTime2.getHours()).padStart(2, '0');
            const minutes = String(dateAndTime2.getMinutes()).padStart(2, '0');
            const formattedDate2 = `${day}-${month}-${year} ${hours}:${minutes}`;
            console.log('formattedDate2 : ', formattedDate2)
        %>

        <%
            const dateAndTime3 = new Date(goldPriceData.updatedAt);
            const options2 = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true };
            const formattedDate3 = dateAndTime3.toLocaleDateString('en-GB', options2).replace(',', '');
            console.log('formattedDate3 : ', formattedDate3);
        %>

        <div class="tm-header-bottomarea">
            <div class="container">
                <nav class="tm-header-nav">
                    <ul>
                        <% if(sessionData){ %>
                        <li class="tm-header-nav-dropdown"><a href="/my-account">My Account</a>
                            <ul>
                                <li><a href="/profile">My Profile</a></li>
                                <li><a href="/wishlist">Wishlist</a></li>
                                <li><a href="/cart">Cart</a></li>
                                <li><a href="/orders">Orders</a></li>
                                <li><a href="/address">Address</a></li>
                                <li><a href="#">Wallet</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        <% } %>

                        <li><a href="/">Home</a></li>
                        <li class="tm-header-nav-dropdown"><a href="/shopping">Shop</a>
                            <ul>
                                <li><a href="/shopping">Products</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Blogs</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li class="tm-header-nav-dropdown"><a href="#">Gold Rate</a>
                            <ul class="gold-rate text-white text-center">
                                <span class="text-white text-center">Today's Gold Rate</span>
                                <hr style="border: 1px solid rgb(255, 138, 210);">
                                <li class="price-item">
                                    <span>22K (916)</span>
                                    <span style="margin: 10px;"> : </span>
                                    <span><b><%= goldPriceData.price %> /gm </b></span>
                                </li>
                                <hr style="border: 1px solid rgb(255, 138, 210);">
                                <li class="price-item">
                                    <span>18K (750)</span>
                                    <span style="margin: 10px;"> : </span>
                                    <span><b><%= Math.round(goldPriceData.price / 22 * 18) %> /gm </b></span>
                                </li>
                                <hr style="border: 1px solid rgb(255, 138, 210);">
                                <li class="price-item">
                                    <span>Updated on:</span> <br>
                                    <span><%= formattedDate3 %></span>
                                    <!-- change the format as per convenience (all formats are given above) -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- navbar section ends -->



<% } catch (error) { %>
    <!-- Handle the error here -->
    <!-- <p>An error occurred while rendering the navbar.</p> -->
    <!-- <p>Error details: <%= error.message %></p> -->
<% } %>
