<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>


<main class="page-content">
    <div class="tm-section tm-login-register-area bg-white tm-padding-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form class="tm-form tm-login-form">
                    <!-- <div class="tm-form tm-login-form"> -->
                        <h4>Login</h4>
                        <span id="error-message" style="color: red; display: none;"></span>
                        <div class="tm-form-inner">

                            <% if (verificationSuccess) { %>
                                <div class="alert alert-success" role="alert">
                                    Your account has been successfully verified!
                                </div>
                            <% } %>

                            <% if (passwordResetSuccess) { %>
                                <div class="alert alert-success" role="alert">
                                    Your password has been successfully reset!
                                </div>
                            <% } %>

                            <div class="tm-form-field">
                                <label for="login-email">Username or Email Address*</label>
                                <input type="email" name="email" id="login-email">
                                <span id="email-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="login-password">Password*</label>
                                <input type="password" name="password" id="login-password">
                                <span id="password-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <input type="checkbox" name="login-remember" id="login-remember">
                                <label for="login-remember">Remember Me</label>
                                <p class="mb-0"><a href="#">Forgot your password?</a></p>
                            </div>
                            <div class="tm-form-field">
                                <button type="button"  class="tm-button" id="login-button">Login</button>
                            </div>
                            <div class="tm-form-field">
                                <div class="tm-form-sociallogin">
                                    <h6>Or, Login with :</h6>
                                    <ul>
                                        <li><a href="#" class="facebook-btn"><i
                                                    class="ion-social-facebook"></i></a></li>
                                        <li><a href="#" class="google-btn"><i class="ion-social-google"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- ----------------------------------------------------------------------- -->



<script>

document.addEventListener('DOMContentLoaded', function () {
    const emailInput = document.getElementById('login-email');
    const passwordInput = document.getElementById('login-password');
    const loginButton = document.getElementById('login-button');


    // const loginEmail = document.getElementById('login-email').value;
    // const loginPassword = document.getElementById('login-password').value;

    const emailError = document.getElementById('email-error');
    const passwordError = document.getElementById('password-error');
    const errorMessage = document.getElementById('error-message');
    

    loginButton.addEventListener('click', function (event) {
        event.preventDefault();

        // Reset error messages
        emailError.textContent = '';
        passwordError.textContent = '';

        const loginEmail = emailInput.value.trim();
        const loginPassword = passwordInput.value.trim();

        let isValid = true;

        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const isValidEmail = emailRegex.test(loginEmail);
        
        if (!loginEmail || loginEmail === "") {
            emailError.textContent = "Email is required";
            emailError.style.display = 'block';
            isValid = false;
        } else if (!isValidEmail) {
            emailError.textContent = "Invalid Email Format";
            emailError.style.display = 'block';
            isValid = false;
        } else {
            emailError.style.display = 'none';
        }



        if (!loginPassword) {
            passwordError.textContent = "Password is required";
            passwordError.style.display = 'block';
            isValid = false;
        } else {
            passwordError.style.display = 'none';
        }


        if (!isValid) {
            return; // Prevent form submission
        } else{
            formSubmit(loginEmail, loginPassword);
        }



        function formSubmit(loginEmail, loginPassword) {
            const url = '/login';

            // Create fetch request
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ loginEmail, loginPassword })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    console.error('Network response was not ok:', response.status);
                    return response.json();
                    // throw new Error('Network response was not ok.');
                }
            })
            // .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Show Sweet Alert for successful login
                    Swal.fire({
                        title: 'Success!',
                        text: 'You have successfully logged in.',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.href = '/'; // Redirect to homepage after 1.5 seconds
                    });
                } else if (data.notFound) {
                    emailError.textContent = data.message;
                    emailError.style.display = 'block';
                } else if (data.emailRequired) {
                    emailError.textContent = data.message;
                    emailError.style.display = 'block';
                } else if (data.notVerified) {
                    emailError.textContent = data.message;
                    emailError.style.display = 'block';
                    window.location.href = '/verify-account'; // Redirect to verify-account
                } else if (data.incorrect) {
                    passwordError.textContent = data.message;
                    passwordError.style.display = 'block';
                } else {
                    console.error('Login failed');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });

            window.formSubmit = formSubmit;
        }


    });


    

});

</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('../layouts/userLayouts/brands.ejs') %>

<%- include('../layouts/userLayouts/user-footer.ejs') %>
    



    <!-- // // Form submission validation
    // var loginForm = document.querySelector('.tm-login-form');
    // loginForm.addEventListener('submit', function(event) {
    //     if (!isValid) {
    //         event.preventDefault(); // Prevent form submission
    //     }
    // });




    // emailInput.addEventListener('input', function(){
    //         if (!isValidEmail) {
    //         emailError.style.display = "block";
    //         isValid = false;
    //     }
    //     else{
    //         emailError.style.display = "none";
    //     }
    // }); -->

