<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>




<div id="wrapper" class="wrapper">

    <!-- Breadcrumbs area starts -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2 style="color: black;">Order Details</h2>
                <ul>
                    <li><a href="/my-account" style="color: black;">My Account</a></li>
                    <li><a href="/orders" style="color: black;">Orders</a></li>
                    <li style="color: black;"><%= orderData.orderNo %></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs area ends -->
    
    <main class="page-content">
        <div class="tm-product-details-area tm-section tm-padding-section bg-white">
            <div class="container">
                <div class="order-details">
                    <div class="order-info">
                        <div>
                            <p><strong>Order No</strong><br> <%= orderData.orderNo %></p>
                        </div>
                        <div>
                            <p><strong>Ordered On</strong><br> <%= formatDate(orderData.orderDate) %></p>
                        </div>
                        <div>
                            <p><strong>Billing Rate</strong><br> ₹ <%= orderData.billingRate %> / Gram</p>
                        </div>
                        <div>
                            <p class="text-right"><strong>Invoice</strong><br> 402-6505499-6104359</p>
                        </div>
                    </div>
                    <div class="order-info">
                        <div>
                            <p><strong>Shipped To</strong></p>
                            <p><%= orderData.shippingAddress.firstname %> <%= orderData.shippingAddress.lastname %></p>
                            <p><%= orderData.shippingAddress.street %></p>
                            <p><%= orderData.shippingAddress.city %></p>
                            <p><%= orderData.shippingAddress.state %>-<%= orderData.shippingAddress.pincode %></p>
                            <p><%= orderData.shippingAddress.contact %></p>
                        </div>
                        <div>
                            <p><strong>Payment Mode</strong></p>
                            <% switch (orderData.paymentMethod) { 
                                case 'Card Payment': %>
                                    <p><img src="/assets/images/icons/payment-cards-mastro.png" alt="Visa"><span class="color-theme">Card Payment</span></p>
                                    <% break; 
                                case 'RazorPay': %>
                                    <p><span>RazorPay</span></p>
                                    <% break; 
                                case 'PayPal': %>
                                    <p><span>PayPal</span></p>
                                    <% break; 
                                case 'Online Payment': %>
                                    <p><span>Online Payment</span></p>
                                    <% break; 
                                case 'Cash On Delivery': %>
                                    <p><span>Cash On Delivery</span></p>
                                    <% break; 
                                case 'Wallet': %>
                                    <p><span>Wallet</span></p>
                                    <% break; 
                                default: %>
                                    <p><span>Unknown</span></p>
                            <% } %>
                            <br>
                            <p><strong>Payment Status</strong></p>
                            <% switch (orderData.paymentStatus) { 
                                case 'Pending': %>
                                    <p><span class="color-theme text-white bg-warning">Pending</span></p>
                                    <% break; 
                                case 'Processing': %>
                                    <p><span class="color-theme text-white bg-info">Processing</span></p>
                                    <% break; 
                                case 'Completed': %>
                                    <p><span class="color-theme text-white bg-success">Completed</span></p>
                                    <% break; 
                                case 'Failed': %>
                                    <p><span class="color-theme text-white bg-danger">Failed</span></p>
                                    <% break; 
                                case 'Refunded': %>
                                    <p><span class="color-theme text-white bg-secondary">Refunded</span></p>
                                    <% break; 
                                default: %>
                                    <p><span class="color-theme text-white bg-dark">Unknown</span></p>
                            <% } %>

                        </div>
                        <div class="row order-summary">
                            <p><strong>Order Summary</strong></p>
                            <div class="col-6 text-left">
                                <p>Item(s) Subtotal</p>
                                <p>Shipping Charge</p>
                                <p>Total Amount</p>
                                <p>Discount</p>
                                <hr style="height: 1px; background-color: red; border: none;">
                                <h6><strong>Net Amount</strong></h6>
                            </div>
                            <div class="col-2 text-left">
                                <p>: ₹</p>
                                <p>: ₹</p>
                                <p>: ₹</p>
                                <p>: ₹</p>
                                <hr style="height: 1px; border: none;">
                                <h6><strong>: ₹</strong></h6>
                            </div>
                            <div class="col-4 text-right">
                                <p><%= (orderData.subTotal).toFixed(2) %></p>
                                <p><%= (orderData.deliveryCharge).toFixed(2) %></p>
                                <p><%= (orderData.subTotal + orderData.deliveryCharge).toFixed(2) %></p>
                                <p class="text-success">- <%= (orderData.discountAmount).toFixed(2) %></p>
                                <hr style="height: 1px; background-color: red; border: none;">
                                <h6><strong><%= (orderData.netAmount).toFixed(2) %></strong></h6>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <% for (i=0; i< orderData.orderedItems.length; i++){ %>
                            <div class="row product-details bg-grey">
                                <!-- Product Overview -->
                                <div class="product-info">
                                    <div class="info-container mb-3">
                                        <img src="/assets/images/productImages/<%= orderData.orderedItems[i].image %>" alt="product-image" class="product-image">
                                        <div class="info-container-text">
                                            <h6><strong><%= orderData.orderedItems[i].code %></strong></h6>
                                            <a href="/product-details?id=<%= orderData.orderedItems[i].productRef %>"><h5 style="color: #9A0056;"><%= orderData.orderedItems[i].name %></h5></a>
                                            <h6>Quantity : <%= orderData.orderedItems[i].quantity %></h6>
                                            <p class="price">₹<%= (orderData.orderedItems[i].totalPrice * orderData.orderedItems[i].quantity).toFixed(0) %></p>
                                        </div>
                                    </div>
                                    <table style="border-collapse: collapse;">
                                        <tr style="text-align: center;">
                                            <th style="border: 1px solid black; padding: 0 17px;">Purity</th>
                                            <th style="border: 1px solid black; padding: 0 17px;">Gross Weight</th>
                                            <th style="border: 1px solid black; padding: 0 17px;">Stone Weight</th>
                                            <th style="border: 1px solid black; padding: 0 17px;">Net Weight</th>
                                        </tr>
                                        <tr style="text-align: center;">
                                            <td style="border: 1px solid black; padding: 8px;"><%= orderData.orderedItems[i].purity %></td>
                                            <td style="border: 1px solid black; padding: 8px;"><%= (orderData.orderedItems[i].grossWeight).toFixed(3) %></td>
                                            <td style="border: 1px solid black; padding: 8px;"><%= (orderData.orderedItems[i].stoneWeight).toFixed(3) %></td>
                                            <td style="border: 1px solid black; padding: 8px;"><%= (orderData.orderedItems[i].netWeight).toFixed(3) %></td>
                                        </tr>
                                    </table>
                                    <div>
                                        <p><strong>Sold by : </strong> Glits Boutique Manufacturers</p>
                                        <% if(orderData.orderedItems[i].orderStatus != 'Pending' && orderData.orderedItems[i].orderStatus != 'Placed' && orderData.orderedItems[i].orderStatus != 'Confirmed'){ %>
                                            <p><strong>Return window closed</strong></p>
                                        <% } %>
                                    </div>
                                    <div class="order-actions">
                                        <a href="/product-details?id=<%= orderData.orderedItems[i].productRef %>"> <p>Buy it again</p></a>
                                        <a> <p>Write a product review</p></a>
                                        <% if(orderData.orderedItems[i].orderStatus === 'Pending' || orderData.orderedItems[i].orderStatus === 'Placed' || orderData.orderedItems[i].orderStatus === 'Confirmed'){ %>

                                            <!-- <a class="cancel-order-link" data-order='<%= JSON.stringify(orderData.orderedItems[i]) %>'> <p>Cancel Order</p></a> -->
                                            
                                            <a class="cancel-order-link" data-toggle="modal" data-target="#cancelOrderModal" 
                                                data-order-id="<%= encodeURIComponent(JSON.stringify(orderData._id)) %>"
                                                data-order-item="<%= encodeURIComponent(JSON.stringify(orderData.orderedItems[i])) %>">
                                                <p>Cancel Order</p>
                                            </a>
                                        <% } %>
                                    </div>
                                </div>
                                <!-- Detailed Information -->
                                <div class="product-info detailed-information">
                                    <div class="info-container detailed-info">
                                        <table border="0" cellpadding="5">
                                            <th style="width: 120px"></th>
                                            <th></th>
                                            <th></th>
                                            <tr>
                                                <td><b>Order Status :</b></td>
                                                <% switch (orderData.orderedItems[i].orderStatus) { 
                                                    case 'Pending': %>
                                                        <td><span class="color-theme text-white bg-warning">Pending</span></td>
                                                        <% break; 
                                                    case 'Placed': %>
                                                        <td><span class="color-theme text-white bg-info">Order Placed</span></td>
                                                        <% break; 
                                                    case 'Confirmed': %>
                                                        <td><span class="color-theme text-white bg-info">Order Confirmed</span></td>
                                                        <% break; 
                                                    case 'Shipped': %>
                                                        <td><span class="color-theme text-white bg-primary">Item Shipped</span></td>
                                                        <% break; 
                                                    case 'Out for Delivery': %>
                                                        <td><span class="color-theme text-white bg-info">Out for Delivery</span></td>
                                                        <% break; 
                                                    case 'Delivered': %>
                                                        <td><span class="color-theme text-white bg-success">Item Delivered</span></td>
                                                        <% break; 
                                                    case 'Cancelled': %>
                                                        <td><span class="color-theme text-white bg-danger">Cancelled</span></td>
                                                        <% break; 
                                                    case 'Returned': %>
                                                        <td><span class="color-theme text-white bg-dark">Returned</span></td>
                                                        <% break; 
                                                    default: %>
                                                        <td><span class="color-theme text-white bg-secondary">Unknown</span></td>
                                                <% } %>
                                            </tr>                                                                                                                                  
                                        </table>
                                        <table cellpadding="5">
                                            <tr>
                                                <td><b>Price Breakup :</b></td>
                                                <td style="width: 70px;"></td>
                                            </tr>
                                            <tr>
                                                <td>Metal Price</td>
                                                <td style="text-align: right;"> ₹ </td>
                                                <td style="text-align: right;"> <%= (orderData.orderedItems[i].metalPrice).toFixed(2) %> </td>
                                            </tr>
                                            <tr>
                                                <td>Making Charge (<%= orderData.orderedItems[i].VA %> %)</td>
                                                <td style="text-align: right;"> ₹ </td>
                                                <td style="text-align: right;"> <%= (orderData.orderedItems[i].makingCharge).toFixed(2) %> </td>
                                            </tr>
                                            <tr>
                                                <td>Stone Charge</td>
                                                <td style="text-align: right;"> ₹ </td>
                                                <td style="text-align: right;"> <%= (orderData.orderedItems[i].stoneCharge).toFixed(2) %> </td>
                                            </tr>
                                            <tr>
                                                <td>Tax</td>
                                                <td style="text-align: right;"> ₹ </td>
                                                <td style="text-align: right;"> <%= (orderData.orderedItems[i].GST).toFixed(2) %> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"> <hr style="border: 1px solid black;"></td>
                                            </tr>
                                            <tr style="color: #9A0056; font-size: 18px;">
                                                <td><b>TOTAL</b></td>
                                                <td style="text-align: right;"><b>₹</b></td>
                                                <td style="text-align: right;"><b> <%= (orderData.orderedItems[i].totalPrice).toFixed(2) %></b></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr style="height: 2px; background-color: red; border: none;">
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
</div>






<!-- Cancel Order Modal Starts -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="small-title"><b>CANCEL ORDER</b></h4>
                <button type="button" class="close bg-black text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="tm-form tm-checkout-form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tm-checkout-billingform">
                                <div class="tm-form-inner">
                                    <div class="tm-form-field">
                                        <h5 class="mb-2">Are you sure you want to cancel this order?</h5>
                                        <input type="hidden" id="cancel-order-id"/>
                                        <input type="hidden" id="cancel-product-ref"/>
                                        <div id="order-item-details" class="d-flex align-items-center mb-3">
                                            <div class="item-image mr-3" style="border: 1px solid #ccc;  padding: 5px;">
                                                <img id="cancel-product-image" src="" alt="product-image" class="product-image">
                                            </div>
                                            <div class="item-text" style="line-height: 15px;">
                                                <p id="cancel-product-name"></p>
                                                <p id="cancel-product-code"></p>
                                                <p id="cancel-product-totalPrice"></p>
                                                <p id="cancel-product-quantity"></p>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex" style="align-items: baseline;">
                                            <label for="cancel-reason-select"><h6 style="margin-right: 15px;">Reason for Cancellation: </h6></label>
                                            <select id="cancel-reason-select">
                                                <option value="" selected disabled>Select a reason</option>
                                                <option value="Ordered by Mistake">Ordered by Mistake</option>
                                                <option value="Found a Better Price Elsewhere">Found a Better Price Elsewhere</option>
                                                <option value="Change of Mind">Change of Mind</option>
                                                <option value="Delivery Time Too Long">Delivery Time Too Long</option>
                                                <option value="Item Not Needed Anymore">Item Not Needed Anymore</option>
                                                <option value="Incorrect Item Ordered">Incorrect Item Ordered</option>
                                                <option value="Financial Reasons">Financial Reasons</option>
                                                <option value="Duplicate Order">Duplicate Order</option>
                                                <option value="Better Alternative Found">Better Alternative Found</option>
                                                <option value="Product Description Mismatch">Product Description Mismatch</option>
                                                <option value="Poor Customer Reviews">Poor Customer Reviews</option>
                                                <option value="Negative Experience with the Seller">Negative Experience with the Seller</option>
                                            </select>
                                        </div>
                                        <textarea id="cancel-reason" class="cancel-reason" placeholder="Enter additional details here"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirmCancelOrder">Cancel Order</button>
            </div>
        </div>
    </div>
</div>
<!-- Cancel Order Modal Ends -->





<!-- script for date & time format -->
<% function formatDate(dateString) {
    const date = new Date(dateString);
    const options = {
        day: '2-digit',
        month: 'long',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
    };
    return date.toLocaleDateString('en-US', options);
} %>


<%- include('../layouts/userLayouts/user-footer.ejs') %>



<!-- -------------------------------------------------------------------------------- -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- script for cancel order -->
<script>
    $(document).ready(function() {
        $('.cancel-order-link').on('click', function() {

            // parcing the order id (from cancel order link)
            var orderId = JSON.parse(decodeURIComponent($(this).data('order-id')));

            // parcing all the details of the selected order item (from cancel order link)
            var orderItem = JSON.parse(decodeURIComponent($(this).data('order-item')));
            
            $('#cancel-order-id').val(orderId);
            $('#cancel-product-ref').val(orderItem.productRef);
            $('#cancel-product-image').attr('src', '/assets/images/productImages/' + orderItem.image);
            $('#cancel-product-name').text('Name: ' + orderItem.name);
            $('#cancel-product-code').text('Code: ' + orderItem.code);
            $('#cancel-product-totalPrice').text('Total Price: ₹' + (orderItem.totalPrice * orderItem.quantity).toFixed(2));
            $('#cancel-product-quantity').text('Quantity: ' + orderItem.quantity);

            // $('#cancelOrderModal').modal('show');
        });

        $('#confirmCancelOrder').click(function() {
            var cancelOrderId = $('#cancel-order-id').val();
            var cancelProductRef = $('#cancel-product-ref').val();
            var cancelReasonSelect = $('#cancel-reason-select').val();
            var cancelReasonComment = $('#cancel-reason').val();

            console.log('cancelOrderId for cancel :', cancelOrderId);
            console.log('cancelProductRef for cancel :', cancelProductRef);
            console.log('cancelReasonSelect for cancel :', cancelReasonSelect);
            console.log('cancelReasonComment for cancel :', cancelReasonComment);
            
            let cancelReason = `${cancelReasonSelect}: "${cancelReasonComment}"`;
            console.log('cancelReason :', cancelReason);




            // Validate the cancel reason
            if (!cancelReasonSelect) {
                Swal.fire({
                    text: 'Please choose a valid reason for order cancellation',
                    showConfirmButton: false
                });
                return;
            }

            var words = cancelReasonComment.trim().split(/\s+/);
            if (!cancelReasonComment) {
                Swal.fire({
                    text: 'Additional details required.',
                    showConfirmButton: false
                });
            } else if (words.length < 5) {
                Swal.fire({
                    text: 'The additional details must contain at least 5 words.',
                    showConfirmButton: false
                });
                return;
            }

            $.ajax({
                url: '/cancel-order',
                method: 'POST',
                data: {
                    cancelOrderId,
                    cancelProductRef,
                    cancelReason
                },
                success: function(response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Order Canceled',
                            text: 'Your order has been canceled successfully.',
                            showConfirmButton: false
                        }).then(()=>{
                            location.reload();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Cancellation Failed',
                            text: 'Failed to cancel the order.'
                        });
                    }
                },
                error: function(error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Cancellation Failed',
                        text: 'An error occured while canceling the order.'
                    });
                }
            });
        });




    });
</script>











<!-- style for product details -->
<style>
.color-theme {
    padding: 2px 30px;
}
.order-details {
    width: 100%;
    margin: auto;
    border: 1px solid #f61b1b;
    padding: 15px;
    border-radius: 5px;
}
.order-details p {
    margin-bottom: 0.15rem;
}
.order-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.order-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #b41313;
}
.order-info div {
    width: 45%;
}
.order-summary {
    text-align: right;
}
.order-summary p {
    font-weight: 500;
}
.product-details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.info-container {
    display: flex;
    align-items: center;
}
.product-image {
    width: 100%;
    max-width: 130px;
    height: auto;
    margin-right: 20px;
}
.product-info {
    flex: 1;
}
.product-info .price {
    color: #B12704;
    font-size: 25px;
    margin: 10px 0;
}
.detailed-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* padding: 15px; */
    padding: 0px;
}
.order-actions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.order-actions a {
    font-weight: 600;
    background-color: #cfcfcf;
    border: 1px solid lightgrey;
    border-radius: 5px;
    /* margin-right: 10px; */
    margin: 5px;
    padding: 7px 13px;
    cursor: pointer;
    font-size: 16px;
}
.order-actions a:hover p {
    color: white;
}
.order-actions a:hover {
    background-color: #9a0056;
}

/* Media Queries */
@media (max-width: 768px) {
    .order-info div {
        flex: 1 1 100%;
        text-align: left;
    }
    .summary-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .summary-row div {
        text-align: left;
    }
    .product-details {
        flex-direction: column;
        /* align-items: center; */
    }
    .product-info,
    .product-detailed-info {
        width: 100%;
    }
    .product-image {
        margin-bottom: 20px;
    }
    .order-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid #b41313;
    }
}
@media (max-width: 576px) {
    .order-actions {
        flex-direction: column;
        align-items: center;
    }
    .order-actions a {
        width: 100%;
        text-align: center;
    }
    .order-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 1px solid #b41313;
    }
}




</style>