<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>


<main class="page-content">
    <div class="tm-section tm-login-register-area bg-white tm-padding-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form class="tm-form tm-register-form">

                        <% if (typeof message !== 'undefined') { %>
                            <h4 style="color: yellowgreen"> <%= message %></h4>
                        <% } %>

                        <h4 id="error-message" style="color: red; display: none;"></h4>

                        <h4>Create an account</h4>
                        <p>Welcome! Register for an account</p>
                        <div class="tm-form-inner">
                            <div class="tm-form-field">
                                <label for="first-name-field">First Name</label>
                                <input type="text" name="firstname" id="first-name-field">
                                <span id="first-name-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="last-name-field">Last Name</label>
                                <input type="text" name="lastname" id="last-name-field">
                                <span id="last-name-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="email-field">Email Address</label>
                                <input type="email" name="email" id="email-field">
                                <span id="email-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="mobile-field">Mobile Number</label>
                                <input type="text" name="mobile" id="mobile-field">
                                <span id="mobile-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="password-field">Password</label>
                                <input type="password" name="registerpassword" id="password-field">  <!-- name="register-pass" -->
                                <span id="password-error" style="color: red; display: none;"></span>
                                <div>
                                    <input type="checkbox" name="register-pass-show" id="register-pass-show">
                                    <label for="register-pass-show">Show Password</label>
                            </div>
                            <div class="tm-form-field">
                                <label for="confirm-password-field">Confirm Password</label>
                                <input type="password" name="confirmpassword" id="confirm-password-field">
                                <span id="confirm-password-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <div>
                                    <input type="checkbox" id="terms-field" name="register-terms">
                                    <label for="terms-field">I have read and agree to the website <a href="#">terms and conditions</a></label>
                                </div>
                                <span id="terms-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <button type="submit" class="tm-button" id="register-button"> Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    document.addEventListener('DOMContentLoaded', function (){

        let isValid = true;
        

        var firstNameField = document.getElementById("first-name-field");
        var lastNameField = document.getElementById("last-name-field");
        var emailField = document.getElementById("email-field");
        var mobileField = document.getElementById("mobile-field");
        var passwordField = document.getElementById("password-field");
        var confirmPasswordField = document.getElementById("confirm-password-field");
        var termsField = document.getElementById("terms-field");

        
        var firstNameError = document.getElementById("first-name-error");
        var lastNameError = document.getElementById("last-name-error");
        var emailError = document.getElementById("email-error");
        var mobileError = document.getElementById("mobile-error");
        var passwordError = document.getElementById("password-error");
        var confirmPasswordError = document.getElementById("confirm-password-error");
        var termsError = document.getElementById("terms-error");
        var errorMessage = document.getElementById("error-message");


        let submitButton = document.getElementById("register-button");
        let registerForm = document.querySelector('.tm-register-form');


        // email validation
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const isValidEmail = emailRegex.test(emailField);


        // mobile number validation
        var mobileRegex = /^[0-9]{10}$/;
        isValidMobile = mobileRegex.test(mobileField);


        // Password validation
        function validateExpressions(passwordField) {
            let uppercaseRegex = /[A-Z]/;
            let lowercaseRegex = /[a-z]/;
            let numberRegex = /[0-9]/;
            let symbolRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
            return (
                uppercaseRegex.test(passwordField) &&
                lowercaseRegex.test(passwordField) &&
                numberRegex.test(passwordField) &&
                symbolRegex.test(passwordField)
            );
        }

        
        submitButton.addEventListener('click', function(event){
            event.preventDefault();

            // let registerFirstName = document.getElementById("register-first-name").value;
            // let registerLastName = document.getElementById("register-last-name").value;
            // let registerEmail = document.getElementById("register-email").value;
            // let registerMobile = document.getElementById("register-mobile").value;
            // let registerPassword = document.getElementById("register-password").value;
            // let registerConfirmPassword = document.getElementById("confirm-password").value;
            // let terms = document.getElementById("register-terms");


            emailError.textContent = '';
            passwordError.textContent = '';


            let isValid = true;

            // Check first name
            if (!firstNameField.value) {
                firstNameError.textContent = "Enter your first name."
                firstNameError.style.display = "block";
                isValid = false;
            } else {
                firstNameError.style.display = "none";
            }


            // Check last name
            if (!lastNameField.value) {
                lastNameError.textContent = "Enter your last name."
                lastNameError.style.display = "block";
                isValid = false;
            } else {
                lastNameError.style.display = "none";
            }


            // check email
            if (!emailField.value) {
                emailError.textContent = "Enter your email address.";
                emailError.style.display = 'block';
                isValid = false;
            } else if (!emailRegex.test(emailField.value)) {
                emailError.textContent = "Invalid Email Format";
                emailError.style.display = 'block';
                isValid = false;
            } else {
                emailError.style.display = 'none';
            }



            // Check mobile
            if(!mobileField.value){
                mobileError.textContent = 'Enter mobile number';
                mobileError.style.display = 'block';
                isValid = false;
            } else if (!mobileRegex.test(mobileField.value)) {
                mobileError.textContent = "Please enter a 10-digit mobile number (digits 0-9) only.";
                mobileError.style.display = 'block';
                isValid = false;
            } else {
                mobileError.style.display = 'none';
            }
            


            
            // Check password
            if (!passwordField.value){
                passwordError.textContent = "Enter your password";
                passwordError.style.display = 'block';
                isValid = false;
            } else if (passwordField.value.length < 8 && !validateExpressions(passwordField.value)) {
                passwordError.textContent = "Password should be at least 8 characters long and include a combination of uppercase and lowercase letters, numbers, and symbols.";
                passwordError.style.display = 'block';
                isValid = false;
            } else if (!validateExpressions(passwordField.value)) {
                passwordError.textContent = "Password should contain at least one uppercase letter, one lowercase letter, one number, and one symbol.";
                passwordError.style.display = 'block';
                isValid = false;
            } else {
                passwordError.style.display = 'none';
            }


            // Check confirm password
            if(!confirmPasswordField.value){
                confirmPasswordError.textContent = "Re-enter password!"
                confirmPasswordError.style.display = "block";
                isValid = false;
            }else if (confirmPasswordField.value != passwordField.value) {
                confirmPasswordError.textContent = "Password mismatch.!"
                confirmPasswordError.style.display = "block";
                isValid = false;
            } else {
                confirmPasswordError.style.display = "none";
            }


            // Check terms
            if (!termsField.checked) {
                termsError.textContent = "Please agree to the terms and conditions.";
                termsError.style.display = "block";
                isValid = false;
            } else {
                termsError.style.display = "none";
            }



            if (!isValid) {
                return; // Prevent form submission
            } else{
                formSubmit();
                // formSubmit(userEmail, userPassword);
            }

            
            // function formSubmit(userEmail, userPassword) {
            function formSubmit() {
                var userFirstName = document.getElementById("first-name-field").value;
                var userLastName = document.getElementById("last-name-field").value;
                var userEmail = document.getElementById("email-field").value;
                var userMobile = document.getElementById("mobile-field").value;
                var userPassword = document.getElementById("password-field").value;

                const url = '/register';
                console.log('userfirstname', userFirstName);
                // Create fetch request
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        userFirstName,
                        userLastName,
                        userEmail,
                        userMobile,
                        userPassword,
                     })

                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        console.error('Network response was not ok:', response.status);
                        return response.json();
                        // throw new Error('Network response was not ok.');
                    }
                })
                // .then(response => response.json())
                .then(data => {
                    console.log('data is: ', data);
                    if (data.success) {
                        const userId = data.userId;
                        // Show Sweet Alert for successful registration
                        Swal.fire({
                            title: 'Success!',
                            text: 'Your are now registered with us. Please verify your account.',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            window.location.href = `/verify-account?id=${data.userId}`; // Redirect to verification otp page after 1.5 seconds
                        });
                    }
                    else if (data.emailExists && data.mobileExists) {
                        emailError.textContent = 'Email Already Exists.!';
                        emailError.style.display = 'block';
                        mobileError.textContent = 'Mobile number already exists.!';
                        mobileError.style.display = 'block';
                    }
                    else if (data.emailExists) {
                        emailError.textContent = 'Email Already Exists.!';
                        emailError.style.display = 'block';
                    }
                    else if (data.mobileExists) {
                        mobileError.textContent = 'Mobile number already exists.!';
                        mobileError.style.display = 'block';
                    }
                    else {
                        errorMessage.textContent = "Registration Failed !"
                       return window.location.href = '/register'; // Redirect to registration page
                        console.error('Registration failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

                // window.formSubmit = formSubmit;
            }





            // Form submission validation            
            // registerForm.addEventListener('submit', function(event) {
            //     if (!isValid) {
            //         event.preventDefault(); // Prevent form submission
            //     }
            // });

        });





        // ================================================================================
        // INDIVIDUAL CHECKING BEFORE SUBMIT


        
        // var firstNameInput = document.getElementById("register-first-name");
        // var lastNameInput = document.getElementById("register-last-name");
        // var emailInput = document.getElementById("register-email");
        // var mobileInput = document.getElementById("register-mobile");
        // var passwordInput = document.getElementById("register-password");
        // var confirmPasswordInput = document.getElementById("confirm-password");
        // var termsInput = document.getElementById("register-terms");


        // // Check first name
        firstNameField.addEventListener('input', function(){
            if (firstNameField.value ==='') {
                firstNameError.textContent = "Enter your first name.";
                firstNameError.style.display = "block";
                isValid = false;
            }
            else{
                firstNameError.style.display = "none";
            }
        });

        // // Check last name
        lastNameField.addEventListener('input', function(){
            if (lastNameField.value ==='') {
                lastNameError.textContent = "Enter your last name.";
                lastNameError.style.display = "block";
                isValid = false;
            }
            else{
                lastNameError.style.display = "none";
            }
        });


        // check email
        // const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        // const isValidEmail = emailRegex.test(registerEmail);

        emailField.addEventListener('input', function(){
            if (!emailField.value) {
                emailError.textContent = "Enter your email address.";
                emailError.style.display = 'block';
                isValid = false;
            } else if (!emailRegex.test(emailField.value)) {
                emailError.textContent = "Invalid Email Format";
                emailError.style.display = 'block';
                isValid = false;
            } else {
                emailError.style.display = 'none';
            }
        });


        // Check mobile
        // var mobileRegex = /^[0-9]{10}$/;
        // isValidMobile = mobileRegex.test(registerMobile);
        mobileField.addEventListener('input', function(){
            if(!mobileField.value){
                mobileError.textContent = 'Enter mobile number';
                mobileError.style.display = 'block';
                isValid = false;
            } else if (!mobileRegex.test(mobileField.value)) {
                mobileError.textContent = "Please enter a 10-digit mobile number (digits 0-9) only.";
                mobileError.style.display = 'block';
                isValid = false;
            } else {
                mobileError.style.display = 'none';
            }
        });




    
            
        // Password validation
        // function validateExpressions(registerPassword) {
        //     let uppercaseRegex = /[A-Z]/;
        //     let lowercaseRegex = /[a-z]/;
        //     let numberRegex = /[0-9]/;
        //     let symbolRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
        //     return (
        //         uppercaseRegex.test(registerPassword.value) &&
        //         lowercaseRegex.test(registerPassword.value) &&
        //         numberRegex.test(registerPassword.value) &&
        //         symbolRegex.test(registerPassword.value)
        //     );
        // }


        // Check password
        passwordField.addEventListener('input', function(){
            if (!passwordField.value){
                passwordError.textContent = "Enter your password";
                passwordError.style.display = 'block';
                isValid = false;
            } else if (passwordField.value.length < 8 && !validateExpressions(passwordField.value)) {
                passwordError.textContent = "Password should be at least 8 characters long and include a combination of uppercase and lowercase letters, numbers, and symbols.";
                passwordError.style.display = 'block';
                isValid = false;
            } else if (!validateExpressions(passwordField.value)) {
                passwordError.textContent = "Password should contain at least one uppercase letter, one lowercase letter, one number, and one symbol.";
                passwordError.style.display = 'block';
                isValid = false;
            } else {
                passwordError.style.display = 'none';
            }
        });
            


        // Check confirm password
        confirmPasswordField.addEventListener('input', function(){
            if(!confirmPasswordField.value){
                confirmPasswordError.textContent = "Re-enter password!"
                confirmPasswordError.style.display = "block";
                isValid = false;
            }else if (confirmPasswordField.value !== passwordField.value) {
                confirmPasswordError.textContent = "Password mismatch.!"
                confirmPasswordError.style.display = "block";
                isValid = false;
            } else {
                confirmPasswordError.style.display = "none";
            }
        });




        // Check terms
        termsField.addEventListener('input', function(){
            if (!termsField.checked) {
                termsError.textContent = "Please agree to the terms and conditions.";
                termsError.style.display = "block";
                isValid = false;
            } else {
                termsError.style.display = "none";
            }
        });






    });
</script>







<%- include('../layouts/userLayouts/brands.ejs') %>

<%- include('../layouts/userLayouts/user-footer.ejs') %>