<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>


<main class="page-content">
    <div class="tm-section tm-login-register-area bg-white tm-padding-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form class="tm-form tm-register-form">

                        <% if (typeof message !== 'undefined') { %>
                            <h4 style="color: yellowgreen"> <%= message %></h4>
                        <% } %>

                        <h4 id="error-message" style="color: red; display: none;"></h4>

                        <h4>Create an account</h4>
                        <p>Welcome! Register for an account</p>
                        <div class="tm-form-inner">
                            <div class="tm-form-field">
                                <label for="first-name-field">First Name</label>
                                <input type="text" name="firstname" id="first-name-field">
                                <span id="first-name-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="last-name-field">Last Name</label>
                                <input type="text" name="lastname" id="last-name-field">
                                <span id="last-name-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="email-field">Email Address</label>
                                <input type="email" name="email" id="email-field">
                                <span id="email-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="mobile-field">Mobile Number</label>
                                <input type="text" name="mobile" id="mobile-field">
                                <span id="mobile-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <label for="password-field">Password</label>
                                <input type="password" name="registerpassword" id="password-field">  <!-- name="register-pass" -->
                                <span id="password-error" style="color: red; display: none;"></span>
                                <div>
                                    <input type="checkbox" name="register-pass-show" id="register-pass-show">
                                    <label for="register-pass-show">Show Password</label>
                            </div>
                            <div class="tm-form-field">
                                <label for="confirm-password-field">Confirm Password</label>
                                <input type="password" name="confirmpassword" id="confirm-password-field">
                                <span id="confirm-password-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <div>
                                    <input type="checkbox" id="terms-field" name="register-terms">
                                    <label for="terms-field">I have read and agree to the website <a href="#">terms and conditions</a></label>
                                </div>
                                <span id="terms-error" style="color: red; display: none;"></span>
                            </div>
                            <div class="tm-form-field">
                                <button type="submit" class="tm-button" id="register-button"> Register</button>
                            </div>
                            <div class="tm-form-field">
                                <h6 class="mb-0">Already have an account? <a href="/login" style="color: #AA0056;">Sign in</a></h6>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- script for registration -->
<script>


// FOR FORM VALIDATION
document.addEventListener('DOMContentLoaded', function (){
    let isValid = true;       

    let firstNameField = document.getElementById("first-name-field");
    let lastNameField = document.getElementById("last-name-field");
    let emailField = document.getElementById("email-field");
    let mobileField = document.getElementById("mobile-field");
    let passwordField = document.getElementById("password-field");
    let confirmPasswordField = document.getElementById("confirm-password-field");
    let termsField = document.getElementById("terms-field");

    
    let firstNameError = document.getElementById("first-name-error");
    let lastNameError = document.getElementById("last-name-error");
    let emailError = document.getElementById("email-error");
    let mobileError = document.getElementById("mobile-error");
    let passwordError = document.getElementById("password-error");
    let confirmPasswordError = document.getElementById("confirm-password-error");
    let termsError = document.getElementById("terms-error");
    let errorMessage = document.getElementById("error-message");


    let submitButton = document.getElementById("register-button");
    let registerForm = document.querySelector('.tm-register-form');


    // email validation
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    const isValidEmail = emailRegex.test(emailField);


    // mobile number validation
    const mobileRegex = /^[0-9]{10}$/;
    isValidMobile = mobileRegex.test(mobileField);


    // Password validation
    function validateExpressions (passwordField) {
        let uppercaseRegex = /[A-Z]/;
        let lowercaseRegex = /[a-z]/;
        let numberRegex = /[0-9]/;
        let symbolRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
        return (
            uppercaseRegex.test(passwordField) &&
            lowercaseRegex.test(passwordField) &&
            numberRegex.test(passwordField) &&
            symbolRegex.test(passwordField)
        );
    }



    // Check first name
    firstNameField.addEventListener('input', function(){
        if (firstNameField.value ==='') {
            firstNameError.textContent = "Enter your first name.";
            firstNameError.style.display = "block";
            isValid = false;
        }
        else{
            firstNameError.style.display = "none";
        }
    });


    // Check last name
    lastNameField.addEventListener('input', function(){
        if (lastNameField.value ==='') {
            lastNameError.textContent = "Enter your last name.";
            lastNameError.style.display = "block";
            isValid = false;
        }
        else{
            lastNameError.style.display = "none";
        }
    });


    // check email
    emailField.addEventListener('input', function(){
        if (!emailField.value) {
            emailError.textContent = "Enter your email address.";
            emailError.style.display = 'block';
            isValid = false;
        } else if (!emailRegex.test(emailField.value)) {
            emailError.textContent = "Invalid Email Format";
            emailError.style.display = 'block';
            isValid = false;
        } else {
            emailError.style.display = 'none';
        }
    });


    // Check mobile
    mobileField.addEventListener('input', function(){
        if(!mobileField.value){
            mobileError.textContent = 'Enter mobile number';
            mobileError.style.display = 'block';
            isValid = false;
        } else if (!mobileRegex.test(mobileField.value)) {
            mobileError.textContent = "Please enter a 10-digit mobile number (digits 0-9) only.";
            mobileError.style.display = 'block';
            isValid = false;
        } else {
            mobileError.style.display = 'none';
        }
    });


    // Check password
    passwordField.addEventListener('input', function(){
        if (!passwordField.value){
            passwordError.textContent = "Enter your password";
            passwordError.style.display = 'block';
            isValid = false;
        } else if (passwordField.value.length < 8 && !validateExpressions(passwordField.value)) {
            passwordError.textContent = "Password should be at least 8 characters long and include a combination of uppercase and lowercase letters, numbers, and symbols.";
            passwordError.style.display = 'block';
            isValid = false;
        } else if (!validateExpressions(passwordField.value)) {
            passwordError.textContent = "Password should contain at least one uppercase letter, one lowercase letter, one number, and one symbol.";
            passwordError.style.display = 'block';
            isValid = false;
        } else {
            passwordError.style.display = 'none';
        }
    });
        

    // Check confirm password
    confirmPasswordField.addEventListener('input', function(){
        if(!confirmPasswordField.value){
            confirmPasswordError.textContent = "Re-enter password!"
            confirmPasswordError.style.display = "block";
            isValid = false;
        }else if (confirmPasswordField.value !== passwordField.value) {
            confirmPasswordError.textContent = "Password mismatch.!"
            confirmPasswordError.style.display = "block";
            isValid = false;
        } else {
            confirmPasswordError.style.display = "none";
        }
    });


    // Check terms
    termsField.addEventListener('input', function(){
        if (!termsField.checked) {
            termsError.textContent = "Please agree to the terms and conditions.";
            termsError.style.display = "block";
            isValid = false;
        } else {
            termsError.style.display = "none";
        }
    });



    // form validation
    submitButton.addEventListener('click', function(event){
        event.preventDefault();

        emailError.textContent = '';
        passwordError.textContent = '';


        let isValid = true;

        // Check first name
        if (!firstNameField.value) {
            firstNameError.textContent = "Enter your first name."
            firstNameError.style.display = "block";
            isValid = false;
        } else {
            firstNameError.style.display = "none";
        }


        // Check last name
        if (!lastNameField.value) {
            lastNameError.textContent = "Enter your last name."
            lastNameError.style.display = "block";
            isValid = false;
        } else {
            lastNameError.style.display = "none";
        }


        // check email
        if (!emailField.value) {
            emailError.textContent = "Enter your email address.";
            emailError.style.display = 'block';
            isValid = false;
        } else if (!emailRegex.test(emailField.value)) {
            emailError.textContent = "Invalid Email Format";
            emailError.style.display = 'block';
            isValid = false;
        } else {
            emailError.style.display = 'none';
        }



        // Check mobile
        if(!mobileField.value){
            mobileError.textContent = 'Enter mobile number';
            mobileError.style.display = 'block';
            isValid = false;
        } else if (!mobileRegex.test(mobileField.value)) {
            mobileError.textContent = "Please enter a 10-digit mobile number (digits 0-9) only.";
            mobileError.style.display = 'block';
            isValid = false;
        } else {
            mobileError.style.display = 'none';
        }
        


        
        // Check password
        if (!passwordField.value){
            passwordError.textContent = "Enter your password";
            passwordError.style.display = 'block';
            isValid = false;
        } else if (passwordField.value.length < 8 && !validateExpressions(passwordField.value)) {
            passwordError.textContent = "Password should be at least 8 characters long and include a combination of uppercase and lowercase letters, numbers, and symbols.";
            passwordError.style.display = 'block';
            isValid = false;
        } else if (!validateExpressions(passwordField.value)) {
            passwordError.textContent = "Password should contain at least one uppercase letter, one lowercase letter, one number, and one symbol.";
            passwordError.style.display = 'block';
            isValid = false;
        } else {
            passwordError.style.display = 'none';
        }


        // Check confirm password
        if(!confirmPasswordField.value){
            confirmPasswordError.textContent = "Re-enter password!"
            confirmPasswordError.style.display = "block";
            isValid = false;
        }else if (confirmPasswordField.value != passwordField.value) {
            confirmPasswordError.textContent = "Password mismatch.!"
            confirmPasswordError.style.display = "block";
            isValid = false;
        } else {
            confirmPasswordError.style.display = "none";
        }


        // Check terms
        if (!termsField.checked) {
            termsError.textContent = "Please agree to the terms and conditions.";
            termsError.style.display = "block";
            isValid = false;
        } else {
            termsError.style.display = "none";
        }



        if (!isValid) {
            return; // Prevent form submission
        } else {
            formSubmit();
        }

    });



});




// FOR REGISTER FORM SUBMITION (/register)
function formSubmit() {
    let userFirstName = document.getElementById("first-name-field").value;
    let userLastName = document.getElementById("last-name-field").value;
    let userEmail = document.getElementById("email-field").value;
    let userMobile = document.getElementById("mobile-field").value;
    let userPassword = document.getElementById("password-field").value;

    let emailError = document.getElementById("email-error");
    let mobileError = document.getElementById("mobile-error");
    let errorMessage = document.getElementById("error-message");


    // Function to get query parameters from URL
    function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        console.log('urlParams :', urlParams);
        return urlParams.get(param);
    }

    const referralCode = getQueryParam('referral-code') ? getQueryParam('referral-code') : '';
    console.log("referralCode for sending :", referralCode);


    $.ajax({
        url: '/register',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            userFirstName,
            userLastName,
            userEmail,
            userMobile,
            userPassword,
            referralCode
        }),
        success: function(response) {
            console.log('response from /register', response);
            if (response.success) {
                Swal.fire({
                    title: 'Success!',
                    text: `${response.message}`, // account is created, pls verify
                    icon: 'success',
                    showConfirmButton: false,
                })
                .then(() => {
                    // call send otp functon route. then redirect to verify-account.
                    window.location.href = `/verify-account?id=${response.userId}`; // Redirect to verification otp page
                });

            } else if (response.registerFailed) {
                Swal.fire({
                    title: 'Registration Failed!',
                    text: `${response.message}`, // failed to create account.
                    icon: 'error',
                    showConfirmButton: false,
                });
            } else if (response.mailFailed) {
                Swal.fire({
                    title: 'Failed to Send Verification Code !',
                    text: `Your account is created successfully. But ${response.message}`, // account created but failed to send verification mail.
                    icon: 'error',
                    showConfirmButton: false,
                })
                .then(() => {
                    window.location.href = `/verify-account?id=${response.userId}`; // Redirect to verification otp page
                });

            } else if (response.bothExists) {
                emailError.textContent = 'Email Already Exists.!'; emailError.style.display = 'block';
                mobileError.textContent = 'Mobile number already exists.!'; mobileError.style.display = 'block';

            } else if (response.emailExists) {
                emailError.textContent = 'Email Already Exists.!'; emailError.style.display = 'block';

            } else if (response.mobileExists) {
                mobileError.textContent = 'Mobile number already exists.!'; mobileError.style.display = 'block';
            }
        },
        error: function(xhr, status, error) {
            console.error('Error in /register :', error);
        }
    });


}



</script>







<%- include('../layouts/userLayouts/brands.ejs') %>

<%- include('../layouts/userLayouts/user-footer.ejs') %>