
<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>



<div id="wrapper" class="wrapper">

    <!-- Breadcrumbs area starts -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2 style="color: black;">My Orders</h2>
                <ul>
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="#" style="color: black;">My Account</a></li>
                    <li style="color: black;"> Orders </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs area ends -->

    <main class="page-content">
        <div class="tm-section tm-my-account-area bg-white tm-padding-section">
            <div class="container">
                <div class="tm-myaccount">
                    <!-- account tabs starts -->
                    <ul class="nav tm-tabgroup" id="account" role="tablist">
                        <!-- tab 1: dashboard -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-dashboard-tab"
                                href="/my-account" 
                                role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard
                            </a>
                        </li>

                        <!-- tab 2: profile information-->
                        <li class="nav-item">
                            <a class="nav-link" id="account-acdetails-tab" href="/profile"
                                role="tab" aria-controls="account-acdetails" aria-selected="true">Profile
                            </a>
                        </li>

                        <!-- tab 3: wishlist -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wishlist-tab" href="/wishlist"
                                role="tab" aria-controls="account-wishlist" aria-selected="false">Wishlist
                            </a>
                        </li>

                        <!-- Tab 4: My Cart -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-cart-tab" href="/cart"
                                role="tab" aria-controls="account-cart" aria-selected="false">Cart
                            </a>
                        </li>

                        <!-- tab 5: -->
                        <li class="nav-item">
                            <a class="nav-link active" id="account-orders-tab" href="/orders"
                                role="tab" aria-controls="account-orders" aria-selected="true">Orders
                            </a>
                        </li>

                        <!-- tab 6: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" href="/address"
                                role="tab" aria-controls="account-address" aria-selected="false">Address
                            </a>
                        </li>
                        
                        <!-- tab 7: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wallet-tab" href="/wallet"
                                role="tab" aria-controls="account-wallet" aria-selected="true">Wallet
                            </a>
                        </li>

                        <!-- tab 8: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" href="#" 
                                role="tab" aria-controls="account-address" aria-selected="false">Logout
                            </a>
                        </li>
                    </ul>
                    <!-- account tabs ends -->


                    
                    <!-- account tab-content starts -->
                    <h4>My Orders (<%= userOrders.length %>)</h4>
                    <div class="tab-content col" id="account-content">
                        <div class="tab-pane fade show active" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                            <div class="tm-myaccount-orders">
                                <% for(i=0; i< userOrders.length; i++){ %>
                                    <div class="order-item">
                                        <div class="order-header">
                                            <div>
                                                <div><b>ORDER DATE</b></div>
                                                <div><%= formatDate(userOrders[i].orderDate) %></div>
                                            </div>
                                            <div class="ship-to">
                                                <div><b>SHIP TO</b></div>
                                                <div class="full-name"><%= userOrders[i].shippingAddress.firstname %> <%= userOrders[i].shippingAddress.lastname %><i class="fa fa-angle-down ml-3"></i></div>
                                                <div class="full-address">
                                                    <%= userOrders[i].shippingAddress.street %>,
                                                    <%= userOrders[i].shippingAddress.city %>-
                                                    <%= userOrders[i].shippingAddress.pincode %>,
                                                    <%= userOrders[i].shippingAddress.state %>
                                                    <%= userOrders[i].shippingAddress.contact %>
                                                </div>
                                            </div>
                                            <div>
                                                <div><b>BILLING RATE</b></div>
                                                <div class="billing-rate">₹ <%= userOrders[i].billingRate %> / Gram</div>
                                            </div>
                                            <div>
                                                <div><b>TOTAL AMOUNT</b></div>
                                                <div><h5 class="item-price"><%= (userOrders[i].netAmount).toFixed(2) %></h5></div>
                                            </div>
                                            <div class="order-options">
                                                <div class="text-success text-right"><b><%= userOrders[i].orderNo %></b></div>
                                                <!-- <div class="text-success text-right"><b><%= userOrders[i].orderNo %></b></div> -->
                                                <a href="/order-details?id=<%= userOrders[i]._id %>">View Order Details</a> | <a href="#">Invoice</a>
                                            </div>
                                        </div>
                                        <!-- ordered items list -->
                                        <div class="order-details">
                                            <% for(j=0; j< userOrders[i].orderedItems.length; j++){ %></3>
                                                <div class="each-item">
                                                    <div class="col-md-2 col-2 each-item-image">
                                                        <% if(userOrders[i].orderedItems[j]){ %>
                                                            <img src="assets/images/productImages/<%= userOrders[i].orderedItems[j].image %>" alt="product image">
                                                        <% } %>
                                                    </div>
                                                    <div class="col-md-10 col-10 each-item-text">
                                                        <p class="item-name"><%= userOrders[i].orderedItems[j].code %></p>
                                                        <h6 class="item-name mb-3"><%= userOrders[i].orderedItems[j].name %></h6>
                                                        <!-- <h6 class="item-price">₹ <%= (userOrders[i].orderedItems[j].totalPrice).toFixed(2) %></h6> -->
                                                        <p class="item-quantity">Quantity: <%= userOrders[i].orderedItems[j].quantity %></p>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <!-- account tab-content ends -->
                </div>
            </div>
        </div>
    </main>


    <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
</div>





<!-- script for date & time format -->
<% function formatDate(dateString) {
    const date = new Date(dateString);
    const options = {
        day: '2-digit',
        month: 'long',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
    };
    return date.toLocaleDateString('en-US', options);
} %>






<%- include('../layouts/userLayouts/user-footer.ejs') %>





<!-- --------------------------------------------------------------------- -->





<!-- stlyles for user order list -->
<style>
.tm-myaccount-orders {
    margin-top: 10px;
}
.order-item {
    border: 2px solid #9a0056;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f7f6f6;
    border-radius: 10px;
}
.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: rgb(225, 224, 224);
    padding: 5px;
}
.order-header a {
    font-weight: 500;
}
.order-header a:hover {
    color: #9a0056;
}
.ship-to {
    position: relative;
    cursor: pointer;
}
.ship-to:hover .full-address {
    display: block;
}
.full-name {
    font-weight: 500;
}
.full-name:hover {
    color: #9a0056;
}
.full-address {
    display: none;
    position: absolute;
    width: 200px;
    top: 50px;
    left: -30px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    z-index: 10;
}



.order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.each-item {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid black;
}
.each-item-image {
    padding: 0.5%;
    max-width: 100px;
    /* border: 1px solid black; */
}
.each-item-image img {
    width: 100%;
    height: auto;
    border: 1px solid lightgrey;
}
.item-price {
    color: #9a0056;
}
.each-item-text {
    align-items: center;
    padding: 5px;
    font-size: 1rem !important;
    line-height: 0.1 !important;
}





/* Responsive font sizes */
@media (max-width: 768px) {
    .each-item-text {
        font-size: 0.9rem; /* Slightly smaller font for tablets */
    }
}

@media (max-width: 576px) {
    .each-item-text {
        font-size: 0.8rem; /* Smaller font for mobile devices */
    }
}

@media (max-width: 400px) {
    .each-item-text {
        font-size: 0.7rem; /* Even smaller font for very small screens */
    }
}
</style>