<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>


<div id="wrapper" class="wrapper">

    <!-- Breadcrumbs area starts -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2 style="color: black;">My Address</h2>
                <ul>
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="#" style="color: black;">My Account</a></li>
                    <li style="color: black;"> Address </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs area ends -->

    <main class="page-content">
        <div class="tm-section tm-my-account-area bg-white tm-padding-section">
            <div class="container">
                <div class="tm-myaccount">
                    <!-- account tabs starts -->
                    <ul class="nav tm-tabgroup" id="account" role="tablist">
                        <!-- tab 1: dashboard -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-dashboard-tab" href="/my-account" 
                                role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard
                            </a>
                        </li>

                        <!-- tab 2: profile information-->
                        <li class="nav-item">
                            <a class="nav-link" id="account-acdetails-tab" href="/profile"
                                role="tab" aria-controls="account-acdetails" aria-selected="true">Profile
                            </a>
                        </li>

                        <!-- tab 3: wishlist -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wishlist-tab" href="/wishlist"
                                role="tab" aria-controls="account-wishlist" aria-selected="false">Wishlist
                            </a>
                        </li>

                        <!-- Tab 4: My Cart -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-cart-tab" href="/cart"
                                role="tab" aria-controls="account-cart" aria-selected="false">Cart
                            </a>
                        </li>

                        <!-- tab 5: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" href="/orders"
                                role="tab" aria-controls="account-orders" aria-selected="false">Orders
                            </a>
                        </li>

                        <!-- tab 6: -->
                        <li class="nav-item">
                            <a class="nav-link active" id="account-address-tab" href="/address"
                                role="tab" aria-controls="account-address" aria-selected="false">Address
                            </a>
                        </li>
                        
                        <!-- tab 7: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wallet-tab" href="/wallet"
                                role="tab" aria-controls="account-wallet" aria-selected="true">Wallet
                            </a>
                        </li>

                        <!-- tab 8: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" href="#" 
                                role="tab" aria-controls="account-address" aria-selected="false">Logout
                            </a>
                        </li>
                    </ul>
                    <!-- account tabs ends -->


                    
                    <!-- Section 6: Address -->
                    <h4>Manage Your Address</h4>
                    <div class="tab-content" id="account-ontent">
                        <div class="tab-pane fade show active" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                            <div class="tm-myaccount-address">
                                <% if(userAddress && userAddress.address){ %>
                                    <p><b>The following addresses will be used on the checkout page by default.</b></p>
                                <% } else{ %>
                                    <p><b>"Hello! <br>
                                        It seems there is no address saved in your profile.
                                        Please add a new address to ensure smooth delivery of your orders. <br>
                                        Thank you!"</b>
                                    </p>
                                <% } %>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <a href="#" class="btn add-button btn-success text-white" data-toggle="modal" data-target="#addAddressModal"> Add Address </a>
                                </div>
                                <% if(userAddress && userAddress.address){ %>
                                    <% for(i=0; i< userAddress.address.length; i++){ %>
                                        <div class="row mb-3">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="tm-myaccount-address-billing bg-grey">
                                                    <h5> Address <%= i+1 %></h5>
                                                    <div class="text-right">
                                                        <a href="#" class="btn add-button btn-secondary text-white edit-address-link" id="edit-address-link"
                                                        data-toggle="modal" data-target="#editAddressModal" 
                                                        data-address-id="<%= userAddress.address[i]._id %>" 
                                                        data-index="<%= i %>" 
                                                        data-firstname="<%= userAddress.address[i].firstname %>" 
                                                        data-lastname="<%= userAddress.address[i].lastname %>" 
                                                        data-street="<%= userAddress.address[i].street %>" 
                                                        data-city="<%= userAddress.address[i].city %>" 
                                                        data-state="<%= userAddress.address[i].state %>" 
                                                        data-pincode="<%= userAddress.address[i].pincode %>" 
                                                        data-contact="<%= userAddress.address[i].contact %>" >
                                                        Edit </a>

                                                        <a href="#" class="btn add-button btn-danger text-white" onclick="deleteAddress('<%= userAddress.address[i]._id %>')">Delete</a>
                                                    </div>
                                                    <address>
                                                        <b> <%= (userAddress.address[i].firstname).toUpperCase() %> </b>
                                                        <b> <%= (userAddress.address[i].lastname).toUpperCase() %> </b> <br>
                                                        <%= userAddress.address[i].street %> <br>
                                                        <%= userAddress.address[i].city %> <br>
                                                        <%= userAddress.address[i].state %>
                                                        <%= userAddress.address[i].pincode %> <br>
                                                        Phone: <%= userAddress.address[i].contact %> <br>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
</div>



<!-- Add Address Modal Starts-->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="small-title"><b>ADD BILLING INFORMATION</b></h4>
                <button type="button" class="close bg-black text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="tm-form tm-checkout-form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tm-checkout-billingform">
                                <div class="tm-form-inner">
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="add-firstname">First name<span class="red-asterisk">*</span></label>
                                        <input type="text" id="add-firstname"/>
                                        <span id="firstname-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="add-lastname">Last name<span class="red-asterisk">*</label>
                                        <input type="text" id="add-lastname"/>
                                        <span id="lastname-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field">
                                        <label for="add-address">Address<span class="red-asterisk">*</label>
                                        <input type="text" id="add-address" placeholder="Apartment, Area and Street"/>
                                        <span id="address-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="add-city">City<span class="red-asterisk">*</label>
                                        <input type="text" id="add-city" placeholder="City / Town / District"/>
                                        <span id="city-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="add-pincode">Zip / Postcode<span class="red-asterisk">*</label>
                                        <input type="text" id="add-pincode"/>
                                        <span id="pincode-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf dropdown">
                                        <label for="add-state">State<span class="red-asterisk">*</label><br>
                                        <div class="dropdown-selector">
                                            <input type="text" id="state-input" placeholder="Type to filter states">
                                            <ul class="dropdown-list" id="add-state">
                                                <li data-value="Andhra Pradesh">Andhra Pradesh</li>
                                                <li data-value="Arunachal Pradesh">Arunachal Pradesh</li>
                                                <li data-value="Assam">Assam</li>
                                                <li data-value="Bihar">Bihar</li>
                                                <li data-value="Chhattisgarh">Chhattisgarh</li>
                                                <li data-value="Goa">Goa</li>
                                                <li data-value="Gujarat">Gujarat</li>
                                                <li data-value="Haryana">Haryana</li>
                                                <li data-value="Himachal Pradesh">Himachal Pradesh</li>
                                                <li data-value="Jharkhand">Jharkhand</li>
                                                <li data-value="Karnataka">Karnataka</li>
                                                <li data-value="Kerala">Kerala</li>
                                                <li data-value="Madhya Pradesh">Madhya Pradesh</li>
                                                <li data-value="Maharashtra">Maharashtra</li>
                                                <li data-value="Manipur">Manipur</li>
                                                <li data-value="Meghalaya">Meghalaya</li>
                                                <li data-value="Mizoram">Mizoram</li>
                                                <li data-value="Nagaland">Nagaland</li>
                                                <li data-value="Odisha">Odisha</li>
                                                <li data-value="Punjab">Punjab</li>
                                                <li data-value="Rajasthan">Rajasthan</li>
                                                <li data-value="Sikkim">Sikkim</li>
                                                <li data-value="Tamil Nadu">Tamil Nadu</li>
                                                <li data-value="Telangana">Telangana</li>
                                                <li data-value="Tripura">Tripura</li>
                                                <li data-value="Uttar Pradesh">Uttar Pradesh</li>
                                                <li data-value="Uttarakhand">Uttarakhand</li>
                                                <li data-value="West Bengal">West Bengal</li>
                                                <li data-value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</li>
                                                <li data-value="Chandigarh">Chandigarh</li>
                                                <li data-value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</li>
                                                <li data-value="Delhi">Delhi</li>
                                                <li data-value="Lakshadweep">Lakshadweep</li>
                                                <li data-value="Puducherry">Puducherry</li>
                                                <li data-value="Ladakh">Ladakh</li>
                                                <li data-value="Jammu and Kashmir">Jammu and Kashmir</li>
                                            </ul>
                                        </div>
                                        <span id="state-error" style="color: red; display: none;"></span>
                                    </div>
                                    
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="add-phone">Contact No<span class="red-asterisk">*</label>
                                        <input type="text" id="add-phone"/>
                                        <span id="phone-error" style="color: red; display: none;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                <button type="button" class="btn btn-primary" id="saveChanges"> Save changes </button>
            </div>
        </div>
    </div>
</div>
<!-- Add Address Modal Ends -->



<!-- Edit Address Modal Starts-->
<div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="editAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="small-title"><b>EDIT BILLING INFORMATION</b></h4>
                <button type="button" class="close bg-black text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="tm-form tm-checkout-form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tm-checkout-billingform">
                                <div class="tm-form-inner">
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="edit-firstname">First name<span class="red-asterisk">*</span></label>
                                        <input type="text" id="edit-firstname"/>
                                        <span id="edit-firstname-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="edit-lastname">Last name<span class="red-asterisk">*</label>
                                        <input type="text" id="edit-lastname"/>
                                        <span id="edit-lastname-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field">
                                        <label for="edit-address">Address<span class="red-asterisk">*</label>
                                        <input type="text" id="edit-address" placeholder="Apartment, Area and Street"/>
                                        <span id="edit-address-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="edit-city">City<span class="red-asterisk">*</label>
                                        <input type="text" id="edit-city" placeholder="City / Town / District"/>
                                        <span id="edit-city-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="edit-pincode">Zip / Postcode<span class="red-asterisk">*</label>
                                        <input type="text" id="edit-pincode"/>
                                        <span id="edit-pincode-error" style="color: red; display: none;"></span>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf dropdown">
                                        <label for="edit-state">State<span class="red-asterisk">*</label><br>
                                        <div class="dropdown-selector">
                                            <input type="text" id="edit-state-input" placeholder="Type to filter states">
                                            <ul class="dropdown-list" id="edit-state">
                                                <li data-value="Andhra Pradesh">Andhra Pradesh</li>
                                                <li data-value="Arunachal Pradesh">Arunachal Pradesh</li>
                                                <li data-value="Assam">Assam</li>
                                                <li data-value="Bihar">Bihar</li>
                                                <li data-value="Chhattisgarh">Chhattisgarh</li>
                                                <li data-value="Goa">Goa</li>
                                                <li data-value="Gujarat">Gujarat</li>
                                                <li data-value="Haryana">Haryana</li>
                                                <li data-value="Himachal Pradesh">Himachal Pradesh</li>
                                                <li data-value="Jharkhand">Jharkhand</li>
                                                <li data-value="Karnataka">Karnataka</li>
                                                <li data-value="Kerala">Kerala</li>
                                                <li data-value="Madhya Pradesh">Madhya Pradesh</li>
                                                <li data-value="Maharashtra">Maharashtra</li>
                                                <li data-value="Manipur">Manipur</li>
                                                <li data-value="Meghalaya">Meghalaya</li>
                                                <li data-value="Mizoram">Mizoram</li>
                                                <li data-value="Nagaland">Nagaland</li>
                                                <li data-value="Odisha">Odisha</li>
                                                <li data-value="Punjab">Punjab</li>
                                                <li data-value="Rajasthan">Rajasthan</li>
                                                <li data-value="Sikkim">Sikkim</li>
                                                <li data-value="Tamil Nadu">Tamil Nadu</li>
                                                <li data-value="Telangana">Telangana</li>
                                                <li data-value="Tripura">Tripura</li>
                                                <li data-value="Uttar Pradesh">Uttar Pradesh</li>
                                                <li data-value="Uttarakhand">Uttarakhand</li>
                                                <li data-value="West Bengal">West Bengal</li>
                                                <li data-value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</li>
                                                <li data-value="Chandigarh">Chandigarh</li>
                                                <li data-value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</li>
                                                <li data-value="Delhi">Delhi</li>
                                                <li data-value="Lakshadweep">Lakshadweep</li>
                                                <li data-value="Puducherry">Puducherry</li>
                                                <li data-value="Ladakh">Ladakh</li>
                                                <li data-value="Jammu and Kashmir">Jammu and Kashmir</li>
                                            </ul>
                                        </div>
                                        <span id="edit-state-error" style="color: red; display: none;"></span>
                                    </div>
                                    
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <label for="edit-phone">Contact No<span class="red-asterisk">*</label>
                                        <input type="text" id="edit-phone"/>
                                        <span id="edit-phone-error" style="color: red; display: none;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                <button type="button" class="btn btn-primary" id="updateChanges"> Update </button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Address Modal Ends -->





<%- include('../layouts/userLayouts/user-footer.ejs') %>



<!-- ------------------------------------------------------------ -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- importing the script for add address modal form -->
<script src="/assets/scripts/userScripts/add-address-modal-script.js"></script>

<!-- importing the script for edit address modal form -->
<script src="/assets/scripts/userScripts/edit-address-modal-script.js"></script>


<!-- importing the script for removing address -->
<script src="/assets/scripts/userScripts/remove-address-modal-script.js"></script>


<!-- style for address modal -->
<style>
.red-asterisk {
    color: red;
}

.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-selector {
    width: 100%;
}

#state-input {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.dropdown-list {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    width: calc(100% + 2px);
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown-list li {
    list-style-type: none;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}

</style>