<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>


<div id="wrapper" class="wrapper">

    <!-- Breadcrumbs area starts -->
    <div id="tm-breadcrumb" class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumbImages/breadcrumb-bg3.jpg">
        <div class="container">
            <div class="tm-breadcrumb" id="tm-breadcrumb">
                <h2 style="color: black;">My Account</h2>
                <ul>
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="#" style="color: black;">My Account</a></li>
                    <li style="color: black;"> Dashboard </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs area starts -->

    <main class="page-content">
        <div class="tm-section tm-my-account-area bg-white tm-padding-section">
            <div class="container">
                <div class="tm-myaccount">
                    <!-- account tabs starts -->
                    <ul class="nav tm-tabgroup" id="account" role="tablist">
                        <!-- tab 1: dashboard -->
                        <li class="nav-item">
                            <a class="nav-link active" id="account-dashboard-tab" href="/my-account#tm-breadcrumb" 
                                role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard
                            </a>
                        </li>

                        <!-- tab 2: profile information-->
                        <li class="nav-item">
                            <a class="nav-link" id="account-acdetails-tab" href="/profile#tm-breadcrumb"
                                role="tab" aria-controls="account-acdetails" aria-selected="true">Profile
                            </a>
                        </li>

                        <!-- tab 3: wishlist -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wishlist-tab" href="/wishlist#tm-breadcrumb"
                                role="tab" aria-controls="account-wishlist" aria-selected="false">Wishlist
                            </a>
                        </li>

                        <!-- Tab 4: My Cart -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-cart-tab" href="/cart#tm-breadcrumb"
                                role="tab" aria-controls="account-cart" aria-selected="false">Cart
                            </a>
                        </li>

                        <!-- tab 5: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" href="/orders#tm-breadcrumb"
                                role="tab" aria-controls="account-orders" aria-selected="false">Orders
                            </a>
                        </li>

                        <!-- tab 6: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" href="/address#tm-breadcrumb"
                                role="tab" aria-controls="account-address" aria-selected="false">Address
                            </a>
                        </li>
                        
                        <!-- tab 7: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-coupon-tab" href="/coupons#tm-breadcrumb"
                                role="tab" aria-controls="account-coupon" aria-selected="false">Coupons
                            </a>
                        </li>

                        <!-- tab 8: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wallet-tab" href="/wallet#tm-breadcrumb"
                                role="tab" aria-controls="account-wallet" aria-selected="false">Wallet
                            </a>
                        </li>
                    </ul>
                    <!-- account tabs ends -->

                    <!-- account tab-content starts -->
                    <div class="tab-content" id="account-content">
                        <!-- section 1: Dashboard -->
                        <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                            <div class="tm-myaccount-dashboard">
                                <p>Hello
                                    <% if (userData) { %>
                                        <b><%= userData.firstname %> <%= userData.lastname %></b>
                                    <% } %>
                                </p>
                                <p>From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.</p>
                                
                                <!-- Referral Link Section -->
                                <% if (userData) { %>
                                    <div class="referral-link-section">
                                        <p>Your Referral Link:</p>
                                        <!-- Button to copy the referral link -->
                                        <button onclick="copyReferralLink()" style="background-color: #AA0056; color: white; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer;">
                                            Copy Link
                                        </button>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                    <!-- account tab-content ends -->
                </div>
            </div>
        </div>
    </main>


    <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
</div>

<%- include('../layouts/userLayouts/user-footer.ejs') %>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    function copyReferralLink() {
        // Create a temporary input element to hold the referral link
        var tempInput = document.createElement("input");

        // Set the value of the input to the referral link
        tempInput.value = `${window.location.origin}/register?referral=<%= userData._id %>`;

        // Append the input element to the body
        document.body.appendChild(tempInput);

        // Select the text field
        tempInput.select();
        tempInput.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the input field
        document.execCommand("copy");

        // Remove the temporary input element from the DOM
        document.body.removeChild(tempInput);

        // Display success message using SweetAlert
        Swal.fire({
            text: 'Referral link copied to clipboard!',
            showConfirmButton: false,
            timer: 1500,
            customClass: {
                popup: 'swal-text-success'
            }
        });

    }
</script>



<style>
.swal-text-success {
color: green; /* or any color you prefer */
}

</style>