
<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>



<div id="wrapper" class="wrapper">

    <!-- Breadcrumbs area starts -->
    <div id="tm-breadcrumb" class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumbImages/breadcrumb-bg4.jpg">
        <div class="container">
            <div class="tm-breadcrumb" id="tm-breadcrumb">
                <h2 style="color: black;">My Orders</h2>
                <ul>
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="#" style="color: black;">My Account</a></li>
                    <li style="color: black;"> Orders </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs area ends -->

    <main class="page-content">
        <div class="tm-section tm-my-account-area bg-white tm-padding-section">
            <div class="container">
                <div class="tm-myaccount">
                    <!-- account tabs starts -->
                    <ul class="nav tm-tabgroup" id="account" role="tablist">
                        <!-- tab 1: dashboard -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-dashboard-tab" href="/my-account#tm-breadcrumb" 
                                role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard
                            </a>
                        </li>

                        <!-- tab 2: profile information-->
                        <li class="nav-item">
                            <a class="nav-link" id="account-acdetails-tab" href="/profile#tm-breadcrumb"
                                role="tab" aria-controls="account-acdetails" aria-selected="true">Profile
                            </a>
                        </li>

                        <!-- tab 3: wishlist -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wishlist-tab" href="/wishlist#tm-breadcrumb"
                                role="tab" aria-controls="account-wishlist" aria-selected="false">Wishlist
                            </a>
                        </li>

                        <!-- Tab 4: My Cart -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-cart-tab" href="/cart#tm-breadcrumb"
                                role="tab" aria-controls="account-cart" aria-selected="false">Cart
                            </a>
                        </li>

                        <!-- tab 5: -->
                        <li class="nav-item">
                            <a class="nav-link active" id="account-orders-tab" href="/orders#tm-breadcrumb"
                                role="tab" aria-controls="account-orders" aria-selected="false">Orders
                            </a>
                        </li>

                        <!-- tab 6: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" href="/address#tm-breadcrumb"
                                role="tab" aria-controls="account-address" aria-selected="false">Address
                            </a>
                        </li>
                        
                        <!-- tab 7: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-coupon-tab" href="/coupons#tm-breadcrumb"
                                role="tab" aria-controls="account-coupon" aria-selected="false">Coupons
                            </a>
                        </li>

                        <!-- tab 8: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wallet-tab" href="/wallet#tm-breadcrumb"
                                role="tab" aria-controls="account-wallet" aria-selected="false">Wallet
                            </a>
                        </li>
                    </ul>
                    <!-- account tabs ends -->


                    
                    <!-- account tab-content starts -->
                    <h4>My Orders (<%= totalItems %>)</h4>
                    <div class="tab-content col" id="account-content">
                        <div class="tab-pane fade show active" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                            <div class="tm-myaccount-orders">
                                <% for (i=0; i< userOrders.length; i++){ %>
                                    <div class="order-item">
                                        <div class="order-header">
                                            <div>
                                                <div><b>ORDER DATE</b></div>
                                                <div><%= formatDate(userOrders[i].orderDate) %></div>
                                            </div>
                                            <div class="ship-to">
                                                <div><b>SHIP TO</b></div>
                                                <div class="full-name"><%= userOrders[i].shippingAddress.firstname %> <%= userOrders[i].shippingAddress.lastname %><i class="fa fa-angle-down ml-3"></i></div>
                                                <div class="full-address">
                                                    <%= userOrders[i].shippingAddress.street %>,
                                                    <%= userOrders[i].shippingAddress.city %>-
                                                    <%= userOrders[i].shippingAddress.pincode %>,
                                                    <%= userOrders[i].shippingAddress.state %>
                                                    <%= userOrders[i].shippingAddress.contact %>
                                                </div>
                                            </div>
                                            <div>
                                                <div><b>TOTAL AMOUNT</b></div>
                                                <div><h5 class="item-price"><%= (userOrders[i].netAmount).toFixed(2) %></h5></div>
                                            </div>
                                            <div>
                                                <div><b>ORDER STATUS</b></div>
                                                <% switch (userOrders[i].orderStatus) { 
                                                    case 'Pending': %>
                                                        <div class="p-1 text-center order-status color-theme text-white bg-warning">Pending</div>
                                                        <% break; 
                                                    case 'Failed': %>
                                                        <div class="p-1 text-center order-status color-theme text-white bg-danger">Failed</div>
                                                        <% break; 
                                                    case 'Processing': %>
                                                        <div class="p-1 text-center order-status color-theme text-white bg-info">Processing</div>
                                                        <% break; 
                                                    case 'Process Completed': %>
                                                        <div class="p-1 text-center order-status color-theme text-white bg-success">Process Completed</div>
                                                        <% break; 
                                                    case 'Refunded': %>
                                                        <div class="p-1 text-center order-status color-theme text-white bg-secondary">Refunded</div>
                                                        <% break; 
                                                    default: %>
                                                        <div class="p-1 text-center order-status color-theme text-white bg-dark">Unknown</div>
                                                <% } %>
                                            </div>
                                            <div class="order-options">
                                                <div class="text-success text-right"><b><%= userOrders[i].orderNo %></b></div>
                                                <!-- <div class="text-success text-right"><b><%= userOrders[i].orderNo %></b></div> -->
                                                <a href="/order-details?id=<%= userOrders[i]._id %>">View Order Details</a>
                                                <% if (userOrders[i].orderStatus !== "Failed" && userOrders[i].orderStatus !== "Pending" ) { %>
                                                    | 
                                                    <a href="/invoice?id=<%= userOrders[i]._id %>">Invoice</a>
                                                    <a href="/download-invoice?id=<%= userOrders[i]._id %>">Download</a>
                                                <% } %>
                                            </div>
                                        </div>
                                        <!-- ordered items list -->
                                        <div class="order-details">
                                            <% for(j=0; j< userOrders[i].orderedItems.length; j++){ %></3>
                                                <div class="each-item">
                                                    <div class="col-md-2 col-2 each-item-image">
                                                        <% if(userOrders[i].orderedItems[j]){ %>
                                                            <img src="assets/images/productImages/<%= userOrders[i].orderedItems[j].image %>" alt="product image">
                                                        <% } %>
                                                    </div>
                                                    <div class="col-md-8 col-8 each-item-text">
                                                        <p class="item-code mb-2"><%= userOrders[i].orderedItems[j].code %></p>
                                                        <h6 class="item-name mb-2"><%= userOrders[i].orderedItems[j].name %></h6>
                                                        <p class="item-quantity"> Quantity : <%= userOrders[i].orderedItems[j].quantity %></p>
                                                        <!-- <h6 class="item-price">₹ <%= (userOrders[i].orderedItems[j].totalPrice).toFixed(2) %></h6> -->

                                                        <!-- product status -->
                                                        <% switch (userOrders[i].orderedItems[j].productStatus) { 
                                                            case 'Not Applicable': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-muted"> Not Applicable </span> </p>
                                                            <% break; 
                                                            case 'Pending Confirmation': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-warning"> Pending Confirmation </span> </p>
                                                            <% break; 
                                                            case 'Placed': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-info"> Order Placed </span> </p>
                                                                <% break; 
                                                            case 'Confirmed': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-primary"> Order Confirmed </span> </p>
                                                                <% break; 
                                                            case 'Shipped': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-primary"> Item Shipped </span> </p>
                                                                <% break; 
                                                            case 'Out for Delivery': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-primary"> Out for Delivery </span> </p>
                                                                <% break; 
                                                            case 'Delivered': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-success"> Delivered </span> </p>
                                                                <% break; 
                                                            case 'Cancelled': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-danger"> Cancelled </span> </p>
                                                                <% break;
                                                            case 'Return Requested': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-warning"> Return Requested </span> </p>
                                                                <% break;
                                                            case 'Return Request Rejected': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-danger"> Return Request Rejected </span> </p>
                                                                <% break;
                                                            case 'Return Request Accepted': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-success"> Return Request Accepted </span> </p>
                                                                <% break;
                                                            case 'Returned': %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-danger"> Returned </span> </p>
                                                                <% break;
                                                            default: %>
                                                                <p class="product-status mt-4"> Product Status : <span class="text-secondary"> Unknown </span> </p>
                                                        <% } %>
                                                    </div>
                                                    
                                                    <div class="col-md-2 col-2 retry-options">
                                                        <% if (userOrders[i].orderStatus === 'Pending') { %>
                                                            <!-- Countdown Timer Script -->
                                                            <script>
                                                                // Parse the order date from the server-side
                                                                const orderDate = new Date('<%= userOrders[i].orderDate %>');
                                                                
                                                                // Set the expiry time to 1 minute from the order date
                                                                const expiryTime = new Date(orderDate.getTime() + 1 * 60000);
                                                    
                                                                // Function to update the countdown timer
                                                                function updateTimer() {
                                                                    const now = new Date();
                                                                    const timeRemaining = expiryTime - now;
                                                    
                                                                    if (timeRemaining <= 0) {
                                                                        // Time expired, clear the interval and set the countdown to 00:00:00
                                                                        clearInterval(timerInterval);
                                                                        document.getElementById('countdown-<%= userOrders[i]._id %>').innerText = "00 : 00 : 00";
                                                                    } else {
                                                                        // Calculate hours, minutes, and seconds remaining
                                                                        const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                                        const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                                                                        const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
                                                    
                                                                        // Display the timer in HH:MM:SS format
                                                                        document.getElementById('countdown-<%= userOrders[i]._id %>').innerText =
                                                                            `${String(hours).padStart(2, '0')} : ${String(minutes).padStart(2, '0')} : ${String(seconds).padStart(2, '0')}`;
                                                                    }
                                                                }
                                                    
                                                                // Set the interval to update the timer every second
                                                                const timerInterval = setInterval(updateTimer, 1000);
                                                            </script>
                                                    
                                                            <!-- Countdown Timer Display -->
                                                            <h5 class="countdown" id="countdown-<%= userOrders[i]._id %>" style="color: red;">00:01:00</h5>
                                                    
                                                            <!-- Retry Payment Link -->
                                                            <a href="/retry-payment?orderId=<%= userOrders[i]._id %>">Retry Payment</a>
                                                        <% } %>
                                                    </div>
                                                    
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>

                            <!-- Pagination controls -->
                            <div class="pagination">
                                <% const totalPages = Math.ceil(totalItems / limit); %>
                            
                                <% if (page > 1) { %>
                                    <a href="?page=<%= page - 1 %>&limit=<%= limit %>">Previous</a>
                                <% } %>
                            
                                <!-- Page Number Links -->
                                <% for (let p = 1; p <= totalPages; p++) { %>
                                    <% if (p === page) { %>
                                        <span class="current-page"><%= p %></span> <!-- Current Page -->
                                    <% } else { %>
                                        <a href="?page=<%= p %>&limit=<%= limit %>"><%= p %></a>
                                    <% } %>
                                <% } %>
                            
                                <% if (page < totalPages) { %>
                                    <a href="?page=<%= page + 1 %>&limit=<%= limit %>">Next</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <!-- account tab-content ends -->
                </div>
            </div>
        </div>
    </main>


    <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
</div>





<!-- script for date & time format -->
<% function formatDate(dateString) {
    const date = new Date(dateString);
    const options = {
        day: '2-digit',
        month: 'long',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
    };
    return date.toLocaleDateString('en-US', options);
} %>






<%- include('../layouts/userLayouts/user-footer.ejs') %>





<!-- --------------------------------------------------------------------- -->





<!-- stlyles for user order list -->
<style>
.tm-myaccount-orders {
    margin-top: 10px;
}
.order-item {
    border: 2px solid #9a0056;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f7f6f6;
    border-radius: 10px;
}
.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: rgb(225, 224, 224);
    padding: 5px;
}
.order-header a {
    font-weight: 500;
}
.order-header a:hover {
    color: #9a0056;
}
.ship-to {
    position: relative;
    cursor: pointer;
}
.ship-to:hover .full-address {
    display: block;
}
.full-name {
    font-weight: 500;
}
.full-name:hover {
    color: #9a0056;
}
.full-address {
    display: none;
    position: absolute;
    width: 200px;
    top: 50px;
    left: -30px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    z-index: 10;
}



.order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.each-item {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid black;
}
.each-item-image {
    padding: 0.5%;
    max-width: 100px;
    /* border: 1px solid black; */
}
.each-item-image img {
    width: 100%;
    height: auto;
    border: 1px solid lightgrey;
}
.item-price {
    color: #9a0056;
}
.each-item-text {
    align-items: center;
    padding: 5px;
    font-size: 1rem !important;
    line-height: 0.1 !important;
}

.retry-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.retry-options .countdown{
    margin-left: 20px;
}
.retry-options p {
    color: black;
    margin-bottom: 0rem;
}
.retry-options p:hover {
    color: rgb(255, 255, 255);
}
.retry-options a {
    font-weight: 600;
    color: black;
    background-color: #cfcfcf;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-right: 10px;
    margin: 5px;
    padding: 7px 13px;
    cursor: pointer;
    font-size: 16px;
}
.retry-options a:hover p {
    color: white;
}
.retry-options a:hover {
    background-color: #9a0056;
}


/* for pagination controlls */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a, 
.pagination span {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    color: #9a0056;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #9a0056;
    color: white;
}

.pagination span {
    background-color: #9a0056;
    color: white;
    border-color: #9a0056;
    font-weight: bold;
    pointer-events: none;
}

.pagination a:disabled {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}




/* Responsive font sizes */
@media (max-width: 768px) {
    .each-item-text {
        font-size: 0.9rem; /* Slightly smaller font for tablets */
    }
}

@media (max-width: 576px) {
    .each-item-text {
        font-size: 0.8rem; /* Smaller font for mobile devices */
    }
}

@media (max-width: 400px) {
    .each-item-text {
        font-size: 0.7rem; /* Even smaller font for very small screens */
    }
}
</style>



