<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>


<div id="wrapper" class="wrapper">

    <!-- Breadcrumbs area starts -->
    <div id="tm-breadcrumb" class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumbImages/breadcrumb-bg8.jpg">
        <div class="container">
            <div class="tm-breadcrumb" id="tm-breadcrumb">
                <h2 style="color: black;">Shopping Cart</h2>
                <ul>
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="#" style="color: black;">My Account</a></li>
                    <li style="color: black;"> Cart </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs area ends -->

    <main class="page-content">
        <div class="tm-section tm-my-account-area bg-white tm-padding-section">
            <div class="container">
                <div class="tm-myaccount">
                    <!-- account tabs starts -->
                    <ul class="nav tm-tabgroup" id="account" role="tablist">
                        <!-- tab 1: dashboard -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-dashboard-tab" href="/my-account#tm-breadcrumb" 
                                role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard
                            </a>
                        </li>

                        <!-- tab 2: profile information-->
                        <li class="nav-item">
                            <a class="nav-link" id="account-acdetails-tab" href="/profile#tm-breadcrumb"
                                role="tab" aria-controls="account-acdetails" aria-selected="true">Profile
                            </a>
                        </li>

                        <!-- tab 3: wishlist -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wishlist-tab" href="/wishlist#tm-breadcrumb"
                                role="tab" aria-controls="account-wishlist" aria-selected="false">Wishlist
                            </a>
                        </li>

                        <!-- Tab 4: My Cart -->
                        <li class="nav-item">
                            <a class="nav-link active" id="account-cart-tab" href="/cart#tm-breadcrumb"
                                role="tab" aria-controls="account-cart" aria-selected="false">Cart
                            </a>
                        </li>

                        <!-- tab 5: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" href="/orders#tm-breadcrumb"
                                role="tab" aria-controls="account-orders" aria-selected="false">Orders
                            </a>
                        </li>

                        <!-- tab 6: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" href="/address#tm-breadcrumb"
                                role="tab" aria-controls="account-address" aria-selected="false">Address
                            </a>
                        </li>
                        
                        <!-- tab 7: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-coupon-tab" href="/coupons#tm-breadcrumb"
                                role="tab" aria-controls="account-coupon" aria-selected="false">Coupons
                            </a>
                        </li>

                        <!-- tab 8: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wallet-tab" href="/wallet#tm-breadcrumb"
                                role="tab" aria-controls="account-wallet" aria-selected="false">Wallet
                            </a>
                        </li>
                    </ul>
                    <!-- account tabs ends -->


                    <!-- account tab-content starts -->
                    <h4>Carted Items</h4>
                    <div>
                        <div class="tm-cart-table table-responsive" id="cart-table">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr style="border: 3px solid black">
                                        <th class="tm-cart-col-image bg-light" scope="col">Image</th>
                                        <th colspan="2" class="tm-cart-col-productname bg-light" scope="col">Product Details</th>
                                        <!-- <th class="tm-cart-col-price bg-light" scope="col">Price</th> -->
                                        <th class="tm-cart-col-quantity bg-light" scope="col">Quantity</th>
                                        <th class="tm-cart-col-total bg-light" scope="col">Total</th>
                                        <th class="tm-cart-col-actions bg-light" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (userCart && userCart.product.length > 0){ %>
                                        <% console.log('length of user cart : ', userCart.product.length) %>
                                        <% for(let i=0; i< userCart.product.length; i++){ %>
                                            <tr style="border: 2px solid black">
                                                <td class="bg-light">
                                                    <a href="/product-details?id=<%= userCart.product[i].productRef._id %>" class="tm-cart-productimage">
                                                        <img src="assets/images/productImages/<%= userCart.product[i].productRef.images.image1 %>" alt="product image">
                                                    </a>
                                                    <p class="tm-cart-productcode"> <%= userCart.product[i].productRef.code %></p>
                                                    <h6><a href="/product-details?id=<%= userCart.product[i].productRef._id %>" class="tm-cart-productname"><%= userCart.product[i].productRef.name %></a></h6>
                                                    <% if(userCart.product[i].productRef.quantity === 0){ %>
                                                        <h6 id="outofstock-error" style="color: red; display: block;"> Currently Unavailable </h6>
                                                    <% } %>
                                                </td>
                                                <td colspan="2" class="bg-light">
                                                    <div class="row">
                                                        <ul class="col text-left" style="list-style-type: none;">
                                                            <li> Gross Weight </li>
                                                            <li> Stone Weight </li>
                                                            <li> Net Weight </li>
                                                            <li> Purity </li>
                                                            <li> Value Addition </li>
                                                            <hr style="border: 1px solid black;">
                                                            <li> Metal Price </li>
                                                            <li> Making Charge </li>
                                                            <li> Stone Charge </li>
                                                            <li> GST (3%)</li>
                                                            <hr style="border: 1px solid black;">
                                                            <li><b> Total </b></li>

                                                            <% if (userCart.product[i].productRef.offerRef != null){ %>
                                                                <!-- offerPercentage (product / category offer percentage) -->
                                                                <li><b>Discount</b> <b style="font-size: 12px;">(<%= userCart.product[i].productRef.offerRef.offerPercentage %>% on MC) </b></li>
                                                            <% } else { %>
                                                                <!-- no offer / discount -->
                                                                <li><b> Discount </b></li>
                                                            <% } %>

                                                            <li><b> NET AMOUNT </b></li>
                                                        </ul>

                                                        <ul class="col text-right" style="list-style-type: none;">
                                                            <li> <%= (userCart.product[i].productRef.grossWeight).toFixed(3) %> </li>
                                                            <li> <%= (userCart.product[i].productRef.stoneWeight).toFixed(3) %> </li>
                                                            <li> <%= (userCart.product[i].productRef.netWeight).toFixed(3) %> </li>
                                                            <li> <%= (userCart.product[i].productRef.purity) %> </li>
                                                            <li> <%= (userCart.product[i].productRef.VA) %>% </li>
                                                            <hr style="border: 1px solid black;">
                                                            <li class="tm-cart-metal-price"> <%= (userCart.product[i].productRef.metalPrice).toFixed(2) %></li>
                                                            <li class="tm-cart-making-charge"> <%= (userCart.product[i].productRef.makingCharge).toFixed(2) %></li>
                                                            <li class="tm-cart-stone-charge"> <%= (userCart.product[i].productRef.stoneCharge).toFixed(2) %></li>
                                                            <li class="tm-cart-gst"> <%= (userCart.product[i].productRef.GST).toFixed(2) %></li>
                                                            <hr style="border: 1px solid black;">

                                                            <!-- total amount -->
                                                            <li class="tm-cart-total-price"> <b><%= (userCart.product[i].productRef.totalPrice).toFixed(2) %></b></li>

                                                            <!-- discount amount -->
                                                            <% if (userCart.product[i].productRef.offerRef != null){ %>
                                                                <li class="tm-cart-offer-discount"> <b class="text-success">₹<%= (userCart.product[i].productRef.makingCharge * userCart.product[i].productRef.offerRef.offerPercentage / 100).toFixed(2) %> </b></li>
                                                            <% } else { %>
                                                                <li class="tm-cart-offer-discount"> <b class="text-success">0.00</b></li>
                                                            <% } %>

                                                            <!-- net amount -->
                                                            <% if (userCart.product[i].productRef.offerRef != null){ %>
                                                                <li class="tm-cart-net-amount"> <b class="text-success">₹<%= ((userCart.product[i].productRef.totalPrice) - (userCart.product[i].productRef.makingCharge * userCart.product[i].productRef.offerRef.offerPercentage / 100)).toFixed(2) %> </b></li>
                                                            <% } else { %>
                                                                <li class="tm-cart-net-amount"> <b class="text-success"><%= (userCart.product[i].productRef.totalPrice - 0.00).toFixed(2) %></b></li>
                                                            <% } %>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td class="bg-light">
                                                    <div class="tm-quantitybox bg-white">
                                                        <input type="number" class="quantity-input" value="<%= userCart.product[i].quantity %>" id="quantity_<%= i %>" data-product-id="<%= userCart.product[i]._id %>" data-index="<%= i %>">
                                                    </div>
                                                </td>
                                                <td class="bg-light">
                                                    <% if (userCart.product[i].productRef.offerRef != null){ %>
                                                        <span class="tm-cart-totalprice" id="total_price_<%= i %>">₹<%= ((userCart.product[i].productRef.totalPrice) - (userCart.product[i].productRef.makingCharge * userCart.product[i].productRef.offerRef.offerPercentage / 100)).toFixed(2) * (userCart.product[i].quantity) %></span>
                                                    <% } else { %>
                                                        <span class="tm-cart-totalprice" id="total_price_<%= i %>"><%= ((userCart.product[i].productRef.totalPrice - 0.00) * (userCart.product[i].quantity)).toFixed(2) %></span>
                                                    <% } %>
                                                </td>
                                                <td class="bg-light">
                                                    <button class="tm-button tm-button-small" onclick="saveForLater('<%= userCart.product[i]._id %>')">Save for Later</button>
                                                    <button class="tm-button tm-button-small" onclick="removeFromCart('<%= userCart.product[i]._id, i %>', '<%= i %>')"> Remove </button>
                                                    <br><br>
                                                    <% if(userCart.product[i].productRef.quantity === 0){ %>
                                                        <h6 id="outofstock-error" style="color: red; display: block;"> Currently <br> Unavailable </h6>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="6" class="p-5 text-dark bg-light"> YOUR SHOPPING CART IS EMPTY </td>
                                        </tr>
                                    <% } %>

                                </tbody>
                            </table>
                        </div>
    
                        <div class="tm-cart-bottomarea mt-5">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="tm-buttongroup">
                                        <a href="/shopping" class="tm-button">Continue Shopping</a>
                                        <!-- <a href="#" class="tm-button">Update Cart</a> -->
                                    </div>
                                    <% if (userCart && userCart.product.length > 0){ %>
                                        <form action="#" class="tm-cart-coupon" id="coupon-area">
                                            <% if (userCart.couponRef === null) { %>
                                                <label for="coupon-field">Have a coupon code?</label>
                                                <input type="text" id="coupon-field" placeholder="Enter coupon code">
                                                <button type="button" class="tm-button" onclick="applyCoupon()">Apply Coupon</button>
                                            <% } else { %>
                                                <label for="coupon-field">Coupon Applied <i class="fa-solid fa-circle-check text-success"></i></label>
                                                <input type="text" id="coupon-field" style="font-size: 25px; font-weight: 900; text-align: center;" 
                                                    placeholder="<%= userCart.couponRef.code %>" readonly>
                                                <button type="button" class="tm-button" onclick="cancelCoupon()">Cancel Coupon</button>
                                            <% } %>
                                        </form>
                                    <% } %>
                                        

                                        
                                </div>
                                <div class="col-lg-5 col-md-6 ml-auto">
                                    <div class="tm-cart-pricebox">
                                        <h2>Cart Summary</h2>
                                        <div class="table-responsive" id="cart-summary">
                                            <table class="table table-borderless">
                                                <tbody>
                                                    <tr class="tm-cart-pricebox-subtotal">
                                                        <td>Cart Subtotal</td>
                                                        <td>₹ <%= subTotal.toFixed(2) %></td>
                                                    </tr>
                                                    <tr class="tm-cart-pricebox-shipping-charge">
                                                        <td>Shipping Charge</td>
                                                        <td>₹ <%= shippingCharge.toFixed(2) %></td>
                                                    </tr>
                                                    <tr class="tm-cart-pricebox-offer-discount">
                                                        <td>Discount Amount</td>
                                                        <td class="text-success">₹ <%= offerDiscount.toFixed(2) %></td>
                                                    </tr>
                                                    <% if (userCart && userCart.couponRef) { %>
                                                        <tr class="tm-cart-pricebox-coupon-discount">
                                                            <td>Coupon Discount</td>
                                                            <td class="text-success">₹ <%= (userCart.couponRef.couponValue).toFixed(2) %></td>
                                                        </tr>
                                                    <% } %>
                                                    <tr class="tm-cart-pricebox-total">
                                                        <td style="font-size: large; font-weight: 500;">TOTAL</td>
                                                        <td style="font-size: large; font-weight: 500;">₹ <%= netPayable.toFixed(2) %></td>
                                                    </tr>
                                                    <tr class="tm-cart-pricebox-round-off">
                                                        <td>Round Off</td>
                                                        <td>₹ <%= roundOffAmount.toFixed(2) %></td>
                                                    </tr>
                                                    <tr class="tm-cart-pricebox-total">
                                                        <td><h6 style="color: #9a0056; font-size: 20px; font-weight: 600;">NET AMOUNT</h6></td>
                                                        <td><h6 style="color: #9a0056; font-size: 20px; font-weight: 600;">₹ <%= (netPayable - roundOffAmount).toFixed(2) %></h6></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-right">
                                            <a href="" onclick="proceedToCheckout('<%= userData._id %>', event)" class="tm-button"> Proceed To Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
</div>

<%- include('../layouts/userLayouts/user-footer.ejs') %>






<!-- ---------------------------------------------------------------------- -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<!-- importing the script for carted items -->
<script src="/assets/scripts/userScripts/cart-and-checkout-scripts.js"></script>
 <!-- (UPDATE CART QUANTITY, 
 REMOVE FROM CART & CHECKOUT, 
 REMOVE OUTOFSTOCK CART ITEMS,
 APPLY COUPON,
 CANCEL COUPON
 etc) -->



 <!-- // importing the wishlist script for save for later (MOVE TO WISHLIST and remvoe from the cart / checkout) -->
<script src="/assets/scripts/userScripts/wishlist-scripts.js"></script>


