
<title>Wishlist - Glitz Jewellery</title>


<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>


<div id="wrapper" class="wrapper">

    <!-- Breadcrumbs area starts -->
    <div id="tm-breadcrumb" class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumbImages/breadcrumb-bg8.jpg">
        <div class="container">
            <div class="tm-breadcrumb" id="tm-breadcrumb">
                <h2 style="color: black;">My Wishlist</h2>
                <ul>
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="#" style="color: black;">My Account</a></li>
                    <li style="color: black;"> Wishlist </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs area ends -->

    <main class="page-content">
        <div class="tm-section tm-my-account-area bg-white tm-padding-section">
            <div class="container">
                <div class="tm-myaccount">
                    <!-- account tabs starts -->
                    <ul class="nav tm-tabgroup" id="account" role="tablist">
                        <!-- tab 1: dashboard -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-dashboard-tab" href="/my-account#tm-breadcrumb" 
                                role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard
                            </a>
                        </li>

                        <!-- tab 2: profile information-->
                        <li class="nav-item">
                            <a class="nav-link" id="account-acdetails-tab" href="/profile#tm-breadcrumb"
                                role="tab" aria-controls="account-acdetails" aria-selected="true">Profile
                            </a>
                        </li>

                        <!-- tab 3: wishlist -->
                        <li class="nav-item">
                            <a class="nav-link active" id="account-wishlist-tab" href="/wishlist#tm-breadcrumb"
                                role="tab" aria-controls="account-wishlist" aria-selected="false">Wishlist
                            </a>
                        </li>

                        <!-- Tab 4: My Cart -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-cart-tab" href="/cart#tm-breadcrumb"
                                role="tab" aria-controls="account-cart" aria-selected="false">Cart
                            </a>
                        </li>

                        <!-- tab 5: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" href="/orders#tm-breadcrumb"
                                role="tab" aria-controls="account-orders" aria-selected="false">Orders
                            </a>
                        </li>

                        <!-- tab 6: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" href="/address#tm-breadcrumb"
                                role="tab" aria-controls="account-address" aria-selected="false">Address
                            </a>
                        </li>
                        
                        <!-- tab 7: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-coupon-tab" href="/coupons#tm-breadcrumb"
                                role="tab" aria-controls="account-coupon" aria-selected="false">Coupons
                            </a>
                        </li>

                        <!-- tab 8: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-wallet-tab" href="/wallet#tm-breadcrumb"
                                role="tab" aria-controls="account-wallet" aria-selected="false">Wallet
                            </a>
                        </li>
                    </ul>
                    <!-- account tabs ends -->
                    
                    <!-- account tab-content starts -->
                    <h4>My Wishlists</h4>
                    <div>
                        <div class="tm-wishlist-table table-responsive" id="wishlist-table">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr class="text-center">
                                        <th class="tm-wishlist-col-slno bg-light">No</th>
                                        <th class="tm-wishlist-col-image bg-light" scope="col">Image</th>
                                        <th class="tm-wishlist-col-productname bg-light" scope="col">Product</th>
                                        <th class="tm-wishlist-col-price bg-light" scope="col">Price</th>
                                        <th class="tm-wishlist-col-actions bg-light" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (userWishlist && userWishlist.product.length > 0){ %>
                                        <% console.log('wishlist length :', userWishlist.product.length) %>
                                        <% userWishlist.product.forEach((items, index)=>{ %>
                                            <% console.log('items are :', items.productRef.name) %>
                                            <tr class="text-center">
                                                <td class="bg-light"> <%= index + 1 %> </td>
                                                <td class="bg-light">
                                                    <a href="/product-details?id=<%= items.productRef._id %>" class="tm-wishlist-productimage">
                                                        <img src="assets/images/productImages/<%= items.productRef.images.image1 %>" alt="product image">
                                                    </a>
                                                </td>
                                                <td class="text-left bg-light">
                                                    <a href="/product-details?id=<%= items.productRef._id %>" class="tm-cart-productname"><h5> <%= items.productRef.name %> </h5></a>
                                                    <a href="/product-details?id=<%= items.productRef._id %>" class="tm-cart-product-code"> <h6> <%= items.productRef.code %></h6> </a>
                                                </td>
                                                <% if (items.productRef.offerRef != null){ %>
                                                    <td class="tm-wishlist-price bg-light">
                                                        <del><h6 style="color: grey;"> ₹ <%= (items.productRef.totalPrice).toFixed(2) %> </h6></del>
                                                        <h5> ₹ <%= ((items.productRef.totalPrice) - (items.productRef.makingCharge * items.productRef.offerRef.offerPercentage / 100)).toFixed(2) %> </h5>
                                                    </td>
                                                <% } else { %>
                                                    <td class="tm-wishlist-price bg-light">
                                                        <h5> ₹ <%= (items.productRef.totalPrice).toFixed(2) %> </h5>
                                                    </td>
                                                <% } %>
                                                
                                                <td class="bg-light">
                                                    <button class="tm-button tm-button-small" onclick="addToCart('<%= items.productRef._id %>')"> Add to Cart </button>
                                                    <!-- addToWishlist() is also called for removing item from the wishlist. -->
                                                    <button class="tm-button tm-button-small" onclick="addToWishlist('<%= items.productRef._id %>')"> Remove </button>
                                                    <% if(items.productRef.quantity === 0){ %>
                                                        <h6 class="mt-3" style="color: red; display: block;"> Currently Unavailable </h6>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } else{ %>
                                        <tr>
                                            <td colspan="4"> YOUR WISHLIST IS EMPTY </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
</div>

<%- include('../layouts/userLayouts/user-footer.ejs') %>






<!-- ---------------------------------------------------------------------------- -->




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<!-- importing the script for carted items (ADD TO CART, UPDATE CART QUANTITY, REMOVE FROM CART & CHECKOUT, REMOVE OUTOFSTOCK CART ITEMS etc) -->
<script src="/assets/scripts/userScripts/cart-and-checkout-scripts.js"></script>




<!-- script for add to wishlist and remove from wishlist -->
<script src="/assets/scripts/userScripts/wishlist-scripts.js"></script>


<style>
.tm-wishlist-table .tm-wishlist-col-image {
    width: 180px;
    min-width: 180px;
}
</style>